<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form [formGroup]="basicform" (ngSubmit)="save()">
                <section class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-label"> Office Name
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.officeName.touched && !basicformControls.officeName.valid">
                                    <input formControlName="officeName" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.officeName.valid">
                                    <div class='error-list' *ngIf="basicformControls.officeName.touched && !basicformControls.officeName.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.officeName.hasError('required')">Office Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-6">
                                <label class="form-label"> Address
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.address.touched && !basicformControls.address.valid">
                                    <input formControlName="address" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.address.valid">
                                    <div class='error-list' *ngIf="basicformControls.address.touched && !basicformControls.address.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.address.hasError('required')">Address is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-label"> City
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.city.touched && !basicformControls.city.valid">
                                    <input formControlName="city" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.city.valid">
                                    <div class='error-list' *ngIf="basicformControls.city.touched && !basicformControls.city.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.city.hasError('required')">City is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label"> State
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.state.touched && !basicformControls.state.valid">
                                    <input formControlName="state" list="states" name="mystate" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.state.valid">
                                    <datalist id="states">
                                        <option>New York</option>
                                        <option>California</option>
                                    </datalist> 
                                    <div class='error-list' *ngIf="basicformControls.state.touched && !basicformControls.state.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.state.hasError('required')">State is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-label"> Zip code
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.zipcode.touched && !basicformControls.zipcode.valid">
                                    <input formControlName="zipcode" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.zipcode.valid">
                                    <div class='error-list' *ngIf="basicformControls.zipcode.touched && !basicformControls.zipcode.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.zipcode.hasError('required')">zipcode is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label"> Office phone
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.officePhone.touched && !basicformControls.officePhone.valid">
                                    <!--<input formControlName="officePhone" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.officePhone.valid">-->
                                    <p-inputMask mask="999-999-9999" formControlName="officePhone" [class.error]="basicformControls.officePhone.touched && !basicformControls.officePhone.valid" 
                                     placeholder="999-999-9999" styleClass="form-control" [options]="{showMaskOnHover:false}"></p-inputMask>
                                    <div class='error-list' *ngIf="basicformControls.officePhone.touched && !basicformControls.officePhone.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.officePhone.hasError('required')">Office Phone is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-label"> Fax
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.fax.touched && !basicformControls.fax.valid">
                                    <input formControlName="fax" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.fax.valid">
                                    <div class='error-list' *ngIf="basicformControls.fax.touched && !basicformControls.fax.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.fax.hasError('required')">Fax is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label"> Office type
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="basicformControls.officeType.touched && !basicformControls.officeType.valid">
                                    <!--<input formControlName="officeType" type="text" class="form-control" placeholder="" [class.error]="!basicformControls.officeType.valid">-->
                                    <select formControlName="officeType" type="text" class="form-control" placeholder="" [class.error]="basicformControls.officeType.touched && !basicformControls.officeType.valid">
                                        <option>Medical Office</option>
                                    </select>
                                    <div class='error-list' *ngIf="basicformControls.officeType.touched && !basicformControls.officeType.valid">
                                        <ul>
                                            <li *ngIf="basicformControls.officeType.hasError('required')">Office type is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center">
                <button [disabled]="!basicform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
                <a [routerLink]="['/medicalProvider/locations']" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>