<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form [formGroup]="scheduleform" (ngSubmit)="save()">
                <section class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Sunday</label>                                
                            </div> 
                            <div class="col-lg-2 text-center">
								    	<input type='time' formControlName="sundayFrom" class="form-control" />                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2 text-center">                                
								    	<input type='time' formControlName="sundayTo" class="form-control" />            
                            </div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="sunday" class="select2-arrow form-control">
                                             <option value="Closed">Closed</option>
                                             <option value="Specific Hours">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Monday</label>                                
                            </div> 
                            <div class="col-lg-2 text-center">
								    	<input type='time' formControlName="mondayFrom" class="form-control" />                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2 text-center">                                
								    	<input type='time' formControlName="mondayTo" class="form-control" />            
                            </div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="monday" class="select2-arrow form-control">
                                             <option value="Closed">Closed</option>
                                             <option value="Specific Hours">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Tuesday</label>                                
                            </div> 
                            <div class="col-lg-2 text-center">
								    	<input type='time' formControlName="tuesdayFrom" class="form-control" />                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2 text-center">                                
								    	<input type='time' formControlName="tuesdayTo" class="form-control" />            
                            </div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="tuesday" class="select2-arrow form-control">
                                             <option value="Closed">Closed</option>
                                             <option value="Specific Hours">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Wednesday</label>                                
                            </div> 
                            <div class="col-lg-2 text-center">
								    	<input type='time' formControlName="wednesdayFrom" class="form-control" />                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2 text-center">                                
								    	<input type='time' formControlName="wednesdayTo" class="form-control" />            
                            </div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="wednesday" class="select2-arrow form-control">
                                             <option value="Closed">Closed</option>
                                             <option value="Specific Hours">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Thursday</label>                                
                            </div> 
                            <div class="col-lg-2 text-center">
								    	<input type='time' formControlName="ThursdayFrom" class="form-control" />                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2 text-center">                                
								    	<input type='time' formControlName="ThursdayTo" class="form-control" />            
                            </div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="Thursday" class="select2-arrow form-control">
                                             <option value="Closed">Closed</option>
                                             <option value="Specific Hours">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Friday</label>                                
                            </div> 
                            <div class="col-lg-2 text-center">
								    	<input type='time' formControlName="fridayFrom" class="form-control" />                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2 text-center">                                
								    	<input type='time' formControlName="fridayTo" class="form-control" />            
                            </div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="friday" class="select2-arrow form-control">
                                             <option value="Closed">Closed</option>
                                             <option value="Specific Hours">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Saturday</label>                                
                            </div> 
                            <div class="col-lg-2 text-center">
								    	<input type='time' formControlName="saturdayFrom" class="form-control" />                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2 text-center">                                
								    	<input type='time' formControlName="saturdayTo" class="form-control" />            
                            </div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="saturday" class="select2-arrow form-control">
                                             <option value="Closed">Closed</option>
                                             <option value="Specific Hours">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center">
                <button [disabled]="!scheduleform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
                </div>
            </form>
        </div>
    </div>
</div>