<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form [formGroup]="scheduleform" (ngSubmit)="save()">
                <section class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Sunday</label>                                
                            </div> 
                            <div class="col-lg-2">
                                <div class='input-group date'>
                                    <input type="text" formControlName="sundayFrom" [ngModel]="sunday.slotStart" class="form-control">
                                      <!--<p-calendar formControlName="sundayFrom"
                                                  [ngModel]="scheduleDetails.slotStart"
                                                  hourFormat="12"
                                                  timeFormat="hh:mm tt"
                                                  [timeOnly]="true"
                                                  [showIcon]="true"
                                                  icon="fa fa-clock-o">
                                      </p-calendar>-->
                                </div>                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2">                                
                                    <div class='input-group date'>
                                    <input type="text" formControlName="sundayTo" [ngModel]="sunday.slotEnd" class="form-control">
                                          <!--<p-calendar formControlName="sundayTo"
                                                      [ngModel]="sunday.slotEnd"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="sunday" [ngModel]="sunday.scheduleStatus" class="select2-arrow form-control">
                                             <option value="0">Closed</option>
                                             <option value="1">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Monday</label>                                
                            </div> 
                            <div class="col-lg-2">
                                    <div class='input-group date'>
                                    <input type="text" formControlName="mondayFrom" [ngModel]="sunday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="mondayFrom"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>                               
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2">                                
                                    <div class='input-group date'>
                                    <input type="text" formControlName="mondayTo" [ngModel]="sunday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="mondayTo"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>            
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="monday" [ngModel]="monday.scheduleStatus" class="select2-arrow form-control">
                                             <option value="0">Closed</option>
                                             <option value="1">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Tuesday</label>                                
                            </div> 
                            <div class="col-lg-2">
                                    <div class='input-group date'>
                                    <input type="text" formControlName="tuesdayFrom" [ngModel]="tuesday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="tuesdayFrom"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2">                                
                                    <div class='input-group date'>
                                    <input type="text" formControlName="tuesdayTo" [ngModel]="tuesday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="tuesdayTo"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>          
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="tuesday" [ngModel]="tuesday.scheduleStatus" class="select2-arrow form-control">
                                             <option value="0">Closed</option>
                                             <option value="1">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Wednesday</label>                                
                            </div> 
                            <div class="col-lg-2">
                                    <div class='input-group date'>
                                    <input type="text" formControlName="wednesdayFrom" [ngModel]="wednesday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="wednesdayFrom"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>                               
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2">                                
                                    <div class='input-group date'>
                                    <input type="text" formControlName="wednesdayTo" [ngModel]="wednesday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="wednesdayTo"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>          
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="wednesday" [ngModel]="wednesday.scheduleStatus" class="select2-arrow form-control">
                                             <option value="0">Closed</option>
                                             <option value="1">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Thursday</label>                                
                            </div> 
                            <div class="col-lg-2">
                                    <div class='input-group date'>
                                    <input type="text" formControlName="thursdayFrom" [ngModel]="thursday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="thursdayFrom"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2">                                
                                    <div class='input-group date'>
                                    <input type="text" formControlName="thursdayTo" [ngModel]="thursday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="thursdayTo"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>           
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="thursday" [ngModel]="thursday.scheduleStatus" class="select2-arrow form-control">
                                             <option value="0">Closed</option>
                                             <option value="1">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Friday</label>                                
                            </div> 
                            <div class="col-lg-2">
                                    <div class='input-group date'>
                                    <input type="text" formControlName="fridayFrom" [ngModel]="friday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="fridayFrom"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>                                
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2">                                
                                    <div class='input-group date'>
                                    <input type="text" formControlName="fridayTo" [ngModel]="friday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="fridayTo"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>            
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="friday" [ngModel]="friday.scheduleStatus" class="select2-arrow form-control">
                                             <option value="0">Closed</option>
                                             <option value="1">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> Saturday</label>                                
                            </div> 
                            <div class="col-lg-2">
                                    <div class='input-group date'>
                                    <input type="text" formControlName="saturdayFrom" [ngModel]="saturday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="saturdayFrom"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>                               
                            </div>
                            <div class="col-lg-2 text-center">
                                <label class="form-label"> To</label>                                
                            </div>
                            <div class="col-lg-2">                                
                                    <div class='input-group date'>
                                    <input type="text" formControlName="saturdayTo" [ngModel]="saturday.slotStart" class="form-control">
                                          <!--<p-calendar formControlName="saturdayTo"
                                                      hourFormat="12"
                                                      timeFormat="hh:mm tt"
                                                      [timeOnly]="true"
                                                      [showIcon]="true"
                                                      icon="fa fa-clock-o">
                                          </p-calendar>-->
                                    </div>            
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 text-center">
                                <select formControlName="saturday" [ngModel]="saturday.scheduleStatus" class="select2-arrow form-control">
                                             <option value="0">Closed</option>
                                             <option value="1">Specific Hours</option>
                                </select>                                
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center">
                <button [disabled]="!scheduleform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
                </div>
            </form>
        </div>
    </div>
</div>