<h3> Procedure Codes </h3>

<div>
    <div class="row">
        <div class="col-lg-6">
            <select [(ngModel)]="selectedMode" class="select2-arrow form-control" (change)="selectOption($event)">
        <option value="0">- Select speciality -</option>
        <optgroup label="Select Specialty">
           <option data-type="1" [attr.data-specialityId]="speciality.id" *ngFor="let speciality of specialities" [value]="speciality.id">{{speciality.name}}</option>                                       
        </optgroup>
        <optgroup label="Select Test">
           <option data-type="2" [attr.data-testId]="test.id" *ngFor="let test of tests" [value]="test.id">{{test.name}}</option>                                       
        </optgroup>
    </select>
        </div>
    </div>

    <br>
    <div class="ui-widget-header row">
        <div class="col-lg-4 input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input #gb type="text" class="form-control" style="float:left" placeholder="Search ">
</div>
</div>
<p-dataTable [value]="procedures" [editable]="true" [(selection)]="selectedProcedures" [rows]="10" [paginator]="true" [globalFilter]="gb"
    [responsive]="true">
    <header>Procedures</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column header="Procedure Code" field="procedureCodeText" [sortable]="true"></p-column>
    <p-column header="Description" field="procedureCodeDesc" [sortable]="true"></p-column>
    <p-column  field="amount" header="Amount" [sortable]="true" [editable]="true">
        <ng-template let-col let-procedure="rowData" pTemplate="body">
            {{procedure[col.field]}}
        </ng-template>
    </p-column>
</p-dataTable>
</div>
<br>
<button class="btn btn-success sign-up" (click)="saveProcedures()">Save
    <loader [visible]="isSaveProgress"></loader>
</button>
<a (click)="reset()" class="btn btn-secondary">Cancel</a>