<h1 class="with-border">Doctors
<a class="pull-right m-b-md btn btn-primary" [routerLink]="['/doctors/add']">Add Doctor</a>
</h1>
<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search Doctor">
</div>
<p-dataTable [value]="doctors" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true" [stacked]="stacked">
    <header>Doctors</header>
    <p-column field="doctor.title" header="Title" [sortable]="true" [filter]="true"></p-column>
    <p-column field="doctor.npi" header="NPI" [sortable]="true" [filter]="true"></p-column>
    <p-column field="doctor.id" header="Doctor Id" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
   <p-column styleClass="col-button" header="Edit">
        <template let-doctor="rowData">
            <button type="button" pButton (click)="selectDoctor(doctor)" icon="glyphicon glyphicon-edit"></button>
        </template>
    </p-column>
</p-dataTable>
