<p-confirmDialog width="425"></p-confirmDialog>
<div class="input-group" *ngIf="caseStatusId === 1">
    <h3 class="with-border">Uploaded Documents
        <!-- <a class="pull-right btn btn-danger btn-sm" (click)="deleteDocument()">
            <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete </span>
            <loader [visible]="isDeleteProgress"></loader>
        </a> -->
        <a *ngIf="referredToMe == false" class="pull-right btn-inline btn btn-primary btn-sm" (click)="showDialog()">
            <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> Add</span>
         </a>
        <button *ngIf="referredToMe == false" title="Merge" [disabled]="selectedDocumentList.length <= 0" class="pull-right btn-inline btn btn-primary btn-sm"
            (click)="showMergeDocumentDialog()">
            <i class="fa fa-code-fork" aria-hidden="true"></i><span class="hidden-md-down"> Merge</span>
        </button>
        <button *ngIf="referredToMe == false" title="Packet" [disabled]="selectedDocumentList.length <= 0" class="pull-right btn-inline btn btn-primary btn-sm"
            (click)="showPacketDocumentDialog()">
            <i class="fa fa-file-archive-o" aria-hidden="true"></i><span class="hidden-md-down"> Packet</span>
        </button>
    </h3>
</div>
<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gb type="text" class="form-control" style="float:left" placeholder="Search Documents">
    </div>
</div>

<p-dataTable [value]="documents" [(selection)]="selectedDocumentList" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gb" [responsive]="true" #dt>
    <header> List</header>
    <p-column selectionMode="multiple" styleClass="inbound-column"></p-column>
    <p-column field="document.originalResponse.documentName" header="Document Name" [filter]="true" styleClass="inbound-column">
        <ng-template let-document="rowData" pTemplate="body">
            <a (click)="downloadPdf(document.document.originalResponse.documentId)">
                <u>{{document.document.originalResponse.documentName}}                    
                </u>
            </a>
        </ng-template>
    </p-column>
    <p-column field="document.documentType" header="Document Type" [sortable]="true" [filter]="true" styleClass="inbound-column">
        <ng-template let-document="rowData.document" pTemplate="body">
            {{ document.documentType }}                  
        </ng-template>
    </p-column>
    <p-column field="document.formattedCreateDate" header="Created Date" [sortable]="true" [filter]="true"></p-column>
    <p-column styleClass="actions-cell" header="Actions">
        <ng-template let-document="rowData" pTemplate="body">            
            <button type="button" *ngIf="document.document.originalResponse.createByUserID == _sessionStore.session.user.id"  pButton (click)="deletedocument(document.document.originalResponse)"  icon="fa-trash-o"></button>
        </ng-template>
    </p-column>
    <!-- <p-column field="document.formattedCreateDate" header="Created Date ({{yearFilter||'No Filter'}})" [sortable]="true" [filter]="true" filterMatchMode="equals" styleClass="inbound-column">
        <ng-template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
            <p-calendar [(ngModel)]="yearFilter" [readonlyInput]="true" selectionMode="range" (onSelect)="dt.filter($event.value,col.field,col.filterMatchMode)"></p-calendar>
        </ng-template>
    </p-column> -->
</p-dataTable>

<p-dialog [minWidth]="600" [width]="1200" [(visible)]="addConsentDialogVisible" [responsive]="true" showEffect="fade" [modal]="false"
    [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
    <!--<add-consent [inputCaseId]="case.id"></add-consent>-->
    <app-document-upload [url]="url" [currentId]="2" [objectId]="currentCaseId" (uploadComplete)="documentUploadComplete($event)"
        (uploadError)="documentUploadError($event)"></app-document-upload>
</p-dialog>

<p-dialog [minHeight]="400" [minWidth]="600" [width]="1200" [(visible)]="mergeDocumentsDialogVisible" header="{{mergeDocDialogHeader}}"
    appendTo="body" [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
    <div *ngIf="mergeDocumentsDialogVisible">
        <!-- <p-orderList [(value)]="orderedDocumentList" [listStyle]="{'height':'250px'}" [responsive]="true" header="Documents" dragdrop="true">
            <ng-template let-currDocument pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:14px;float:left;">{{currDocument.documentName}}</div>
                    <div style="font-size:14px;float:right;">{{currDocument.documentType}}</div>
                </div>
            </ng-template>
        </p-orderList>
        <br> -->

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Documents (Drag and drop to Reorder list)
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" dnd-sortable-container [sortableData]="orderedDocumentList">
                            <li *ngFor="let item of orderedDocumentList; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item.documentName}} <label class="pull-right">{{item.documentType}}</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        My preferences:<br/>
                        <span *ngFor="let item of orderedDocumentList; let i = index">
                                <div class="col-lg-8">
                                    {{i + 1}}) {{item.documentName}}
                                </div>
                                <div class="col-lg-4"> 
                                    {{item.documentType}}
                                </div>
                                <br/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <form [formGroup]="documentMergeForm" (ngSubmit)="mergeDocuments()">
            <section class="card">
                <!-- <header class="card-header card-header-lg">
                Documents
            </header> -->
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-label"> Name of Document
                                    <span class="color-red">*</span>
                                </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [class.error]="packetDocumentFormControls.documentName.touched && !packetDocumentFormControls.documentName.valid">
                                <div class="input-group">
                                    <input formControlName="documentName" type="text" class="form-control" placeholder="" [class.error]="!packetDocumentFormControls.documentName.valid">
                                    <span class="input-group-addon">.pdf</span>
                                </div>
                                <div class='error-list' *ngIf="packetDocumentFormControls.documentName.touched && !packetDocumentFormControls.documentName.valid">
                                    <ul>
                                        <li *ngIf="packetDocumentFormControls.documentName.hasError('required')">Document Name is required.</li>
                                        <li *ngIf="packetDocumentFormControls.documentName.hasError('removeDotValidator')">Document name is invalid.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button [disabled]="!documentMergeForm.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">
                                Save
                                <loader [visible]="isSaveProgress"></loader>
                            </button>
                                <button type="button" class="btn btn-secondary" (click)="closeMergeDocumentDialog()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</p-dialog>

<p-dialog [minHeight]="400" [minWidth]="600" [width]="1200" [(visible)]="packetDocumentsDialogVisible" header="{{packetDocumetDialogHeader}}"
    appendTo="body" [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
    <div *ngIf="packetDocumentsDialogVisible">
        <form [formGroup]="packetDocumentForm" (ngSubmit)="packetDocuments()">
            <section class="card">
                <!-- <header class="card-header card-header-lg">
                Documents
            </header> -->
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-label"> Name of Document
                                    <span class="color-red">*</span>
                                </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [class.error]="packetDocumentFormControls.documentName.touched && !packetDocumentFormControls.documentName.valid">
                                <div class="input-group">
                                    <input formControlName="documentName" type="text" class="form-control" placeholder="" [class.error]="!packetDocumentFormControls.documentName.valid">
                                    <span class="input-group-addon">.zip</span>
                                </div>
                                <div class='error-list' *ngIf="packetDocumentFormControls.documentName.touched && !packetDocumentFormControls.documentName.valid">
                                    <ul>
                                        <li *ngIf="packetDocumentFormControls.documentName.hasError('required')">Document Name is required.</li>
                                        <li *ngIf="packetDocumentFormControls.documentName.hasError('removeDotValidator')">Document name is invalid.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button [disabled]="!packetDocumentForm.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">
                                Save
                                <loader [visible]="isSaveProgress"></loader>
                            </button>
                                <button type="button" class="btn btn-secondary" (click)="closePacketDocumentDialog()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</p-dialog>