<div *ngIf="priorAccident">
    <section class="card">
        <header class="card-header card-header-lg">
            Patient Accident Information
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Have you ever been in an accident before?
                            </label>

                        <label>{{isAccidentBeforeLabel}}</label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <label class="form-label"> If yes, explain:
                            </label>
                        <label>{{priorAccident.accidentBeforeExplain}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Have you ever been in lawsuit or workers's compensation claim?
                            </label>

                        <label>{{isLawsuitOrWorkersCompLabel}}</label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <label class="form-label"> If yes, explain:
                            </label>
                        <label>{{priorAccident.lawsuitWorkerCompBeforeExplain}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Any physical complaints before the accident?
                            </label>

                        <label>{{isPhysicalComplaintsLabel}}</label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <label class="form-label"> If yes, explain:
                            </label>
                        <label>{{priorAccident.physicalComplaintsBeforeExplain}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <label class="form-label"> Please state any other information you feel that we should be aware of:
                            </label>

                        <label>{{priorAccident.otherInformation}}</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>
</div>