<p-confirmDialog width="425"></p-confirmDialog>
<!--<div *ngIf="sessionStore.isOnlyDoctorRole()">-->
<div>
  <br>
  <div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input #gb type="text" class="form-control" style="float:left" placeholder="Search ">
    </div>
    <div *ngIf="showPreProcedureCode">
      <a class="pull-right btn btn-info btn-sm" (click)="showCAllProcuderCodes()">
      <i class="fa fa-check fa-1x"></i><span class="hidden-md-down"> View All Procedure codes </span>
    </a>
  </div>
  <div *ngIf="showAllProcedureCode">
    <a class="pull-right btn btn-info btn-sm" (click)="showCPreffredProcedureCodes()">
    <i class="fa fa-check fa-1x"></i><span class="hidden-md-down"> View Preffred Procedure codes </span>
  </a>
</div>
  </div>
  <p-dataTable [value]="procedures" [(selection)]="selectedProcedures" [rows]="5" [paginator]="true" [globalFilter]="gb" [responsive]="true" #dt1>
    <header>Procedures</header>
    <p-headerColumnGroup>
      <p-row>
        <p-column [style]="{'width':'38px'}"></p-column>
        <p-column header="Procedure Code"></p-column>
        <p-column header="Description"></p-column>
      </p-row>
    </p-headerColumnGroup>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="procedureCodeText"></p-column>
    <p-column field="procedureCodeDesc"></p-column>
  </p-dataTable>
  <br>
</div>

<div class="input-group">
  <h3 class="with-border">Selected Procedures</h3>
    <!--<a class="pull-right btn btn-danger btn-sm" *ngIf="sessionStore.isOnlyDoctorRole()" (click)="deleteProcedureCode()">-->
  <div *ngIf="sessionStore.isOnlyDoctorRole() && selectedVisit.doctor != null">
      <a class="pull-right btn btn-danger btn-sm" (click)="deleteProcedureCode()" *ngIf="(sessionStore.session.user.id == selectedVisit.doctor.user.id)">
      <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Procedure codes </span>
      <!--<loader [visible]="isDeleteProgress"></loader>-->
    </a>
  </div>
  <div *ngIf="!sessionStore.isOnlyDoctorRole()">
      <a class="pull-right btn btn-danger btn-sm" (click)="deleteProcedureCode()">
      <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Procedure codes </span>
      <!--<loader [visible]="isDeleteProgress"></loader>-->
    </a>
  </div>
</div>
<br>
<p-dataTable [value]="selectedProcedures" [editable]="true" [(selection)]="selectedProceduresToDelete" [rows]="10" [paginator]="true" 
[responsive]="true" #dt [immutable]="false" >
  <header>Procedures</header>
  <p-column selectionMode="multiple" styleClass="inbound-column"></p-column>
  <!--<p-column field="displayName" header="Date of service" [sortable]="true"></p-column>-->
  <p-column field="procedureCodeText" header="Procedure Code" styleClass="inbound-column"></p-column>
  <p-column field="procedureCodeDesc" header="Description"  styleClass="inbound-column"></p-column>
  <p-column field="procedureAmount" header="Amount"  styleClass="inbound-column"></p-column>
  <!--<p-column field="procedureOldUnit"   header="Old Unit"  styleClass="inbound-column"></p-column>-->
 
  <p-column header="Total charge per day">
    <ng-template let-procedure1="rowData" pTemplate="body">
      <span *ngIf="procedure1.undefined != undefined">{{procedure1.undefined * procedure1.procedureAmount | number : '1.2-2'}} | ({{procedure1.undefined}} units)</span>
      <span *ngIf="procedure1.undefined == undefined">{{procedure1.procedureTotalAmount | number : '1.2-2'}} | ({{procedure1.procedureOldUnit}} units)</span>
    </ng-template>
  </p-column>
  <p-column header="Edit Unit" field="procedureUnitNew" [editable]="true"  styleClass="inbound-column">
    <ng-template let-col let-procedure="rowData" pTemplate="body">
        {{procedure[col.procedureUnitNew]}}
    </ng-template>
    <ng-template let-col let-procedure="rowData" pTemplate="editor">
     <input type="number" pInputText  minlength="1" maxlength="10"  [(ngModel)]="procedure[col.procedureUnitNew]"  (change)="updateUnit(procedure[col.procedureUnitNew],procedure.procedureCodeId)" (keypress)="_keyPress($event)" appendTo="body"  />
     <!--<span #gname="ngModel" [pattern]="numberPattern" *ngIf="gname.errors?.pattern" class="color-red">Please Enter Valid Number.</span>-->
    </ng-template>
  </p-column>
</p-dataTable>
<br>
<div *ngIf="sessionStore.isOnlyDoctorRole() && selectedVisit.doctor != null">
  <button    class="btn btn-success sign-up" (click)="saveProcedures()" *ngIf="(sessionStore.session.user.id == selectedVisit.doctor.user.id)">Save    
  </button>
</div>
<div *ngIf="!sessionStore.isOnlyDoctorRole()">
    <button  class="btn btn-success sign-up" (click)="saveProcedures()">Save      
    </button>
</div>