<!-- <img src="assets/theme/img/AttorneyDashboard.jpg" alt="Dashboard" width="1200" height="500"> -->

<!-- Right -->
<div class="row">
    <div class="col-lg-7 col-lg-push-5 col-md-12">
        <div class="row">
            <div class="col-xl-12 dahsboard-column">
                <section class="box-typical box-typical-dashboard panel panel-default">
                    <header class="card-header card-header-sm">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i> Cases
                        <div class="dropdown pull-right">
                            <select type="text" class="form-control" [(ngModel)]="selectedCaseFilterOption" (change)="filterCaseTypeStatistics($event)">
                                <option value="1">Today</option>
                                <option value="2">This Week</option>
                                <option value="7">Last 30 Days</option>
                                <option value="3">This Month</option>
                                <option value="4">This Quarter</option>
                                <option value="5">This Half Year</option>
                                <option value="6">This Year</option>
                            </select>
                        </div>
                    </header>
                    <div class="box-typical-body panel-body">
                            <div id="caseChartDiv" [style.width.%]="100" [style.height.px]="264"></div>
                    </div>
                </section>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-12 dahsboard-column">
                <section class="box-typical box-typical-dashboard panel panel-default">
                    <header class="card-header card-header-sm">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i> Cases By Insurance Provider
                        <div class="dropdown pull-right">
                            <select type="text" class="form-control" [(ngModel)]="selectedCaseFilterOption" (change)="filterCaseTypeStatistics($event)">
                                <option value="1">Today</option>
                                <option value="2">This Week</option>
                                <option value="7">Last 30 Days</option>
                                <option value="3">This Month</option>
                                <option value="4">This Quarter</option>
                                <option value="5">This Half Year</option>
                                <option value="6">This Year</option>
                            </select>
                        </div>
                    </header>
                    <div class="box-typical-body panel-body">
                            <div id="casesByInsuranceChartDiv" [style.width.%]="100" [style.height.px]="264"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>

<!-- Left -->
    <div class="col-lg-5 col-lg-pull-7">
        <div class="row">
            <section *ngIf="todaysVisits" class="box-typical box-typical-dashboard panel panel-default">
                <header class="card-header card-header-sm">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Today's Appointments
                    <div class="pull-right">
                        Total: {{todaysVisits.length}}
                    </div>
                </header>
                <div class="box-typical-body panel-body" *ngIf="todaysVisits.length > 0">
                    <table class="tbl-typical">
                        <tr>
                            <th>
                                <div>Patient Name</div>
                            </th>
                            <th>
                                <div>Contact person</div>
                            </th>
                            <th>
                                <div>Case Id</div>
                            </th>
                            <th align="center">
                                <div>Visit Date</div>
                            </th>
                        </tr>
                        <tr *ngFor="let currVisit of todaysVisits">
                            <td>{{currVisit.originalResponse.patientName}}</td>
                            <td>{{currVisit.contactPerson}}</td>
                            <td>{{currVisit.caseId}}</td>
                            <td class="color-blue-grey" nowrap align="center">{{currVisit.eventStart.format('MMMM Do YYYY,h:mm:ss a')}}</td>
                        </tr>
                    </table>
                </div>
                <div class="box-typical-body panel-body" *ngIf="todaysVisits.length <= 0">
                    <table class="tbl-typical">
                        <td> No appointments</td>
                    </table>
                </div>
            </section>
        </div>
        <div class="row">
        </div>
    </div>
</div>