<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SMSServiceRunInterval" value="10" />
    <add key="EmailServiceRunInterval" value="10" />
    <add key="SMSWebAPIBaseAddess" value="http://192.168.0.128/CAMessagingServiceAPI/SMS/" />
    <add key="EmailWebAPIBaseAddess" value="http://192.168.0.128/CAMessagingServiceAPI/EMail/" />
    <add key="ClientID" value="MessegingService"/>
    <add key="Secret" value="secret" />
    <add key="AuthenticationAuthorityUrl" value="https://lt007.codearray.tech/CAIdentityServer/core/" />
  </appSettings>
</configuration>