<div *ngIf="currentAccident">
    <section class="card">
        <header class="card-header card-header-lg">
            Patient Accident Information
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Plate Number
                            </label>

                    <label class="form-label">{{currentAccident.plateNumber}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Date of Accident
                            </label>
                    <label class="form-label">{{accidentDateLabel}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Date of Admission
                            </label>
                    <label class="form-label">{{dateOfAdmissionLabel}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Report Number
                            </label>

                    <label class="form-label">{{currentAccident.reportNumber}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Hospital Name
                            </label>

                    <label class="form-label">{{currentAccident.hospitalName}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Describe Injury
                            </label>

                    <label class="form-label">{{currentAccident.describeInjury}}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Patient Type 
                            </label>
                    <label class="form-label">{{currentAccident.patientTypeLabel}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Medical Report Number 
                            </label>

                    <label class="form-label">{{currentAccident.medicalReportNumber}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Additional Patient 
                            </label>

                    <label class="form-label">{{currentAccident.additionalPatients}}</label>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header card-header-lg">
            Accident Address
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Accident Address1 
                            </label>

                    <label class="form-label">{{currentAccident.accidentAddress.address1}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Accident Address2 
                            </label>

                    <label class="form-label">{{currentAccident.accidentAddress.address2}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Accident State 
                            </label>

                    <label class="form-label">{{currentAccident.accidentAddress.state}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Accident City 
                            </label>

                    <label class="form-label">{{currentAccident.accidentAddress.city}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Accident Zip code
                            </label>

                    <label class="form-label">{{currentAccident.accidentAddress.zipCode}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Accident Country
                            </label>

                    <label class="form-label">{{currentAccident.accidentAddress.country}}</label>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header card-header-lg">
            Hospital Address
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Address1
                            </label>

                    <label class="form-label">{{currentAccident.hospitalAddress.address1}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Address2
                            </label>

                    <label class="form-label">{{currentAccident.hospitalAddress.address2}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> State
                            </label>

                    <label class="form-label">{{currentAccident.hospitalAddress.state}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> City
                            </label>
                    <label class="form-label">{{currentAccident.hospitalAddress.city}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Zip code
                            </label>

                    <label class="form-label">{{currentAccident.hospitalAddress.zipCode}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Country
                            </label>

                    <label class="form-label">{{currentAccident.hospitalAddress.country}}</label>
                </div>
            </div>
        </div>
    </section>
    <a [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>
</div>