<div *ngIf="autoInformation">
    <section class="card">
        <header class="card-header card-header-lg">
            Plaintiff's Vehicle
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">Plate </label>
                    <label>{{autoInformation.vehicleNumberPlate}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> State                                          
                                        </label>
                    <label>{{autoInformation.state}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Make/Model</label>
                    <label>{{autoInformation.vehicleMakeModel}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Make/Model And Year</label>
                    <label>{{autoInformation.vehicleMakeYear}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Insurance Company                                                                                </label>
                    <label>{{autoInformation.vehicleInsuranceCompanyName}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label">Policy
                    </label>
                    <label>{{autoInformation.vehiclePolicyNumber}}</label>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Claim</label>
                    <label>{{autoInformation.vehicleClaimNumber}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Where is the vehicle located?
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                    <label>{{autoInformation.vehicleLocation}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label">Description of damage to vehicle                                           
                                        </label>
                    <label>{{autoInformation.vehicleDamageDiscription}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> Does a relative residing in client's household own a vehicle?                         
                    </label>

                    <label> {{isrelativesVehicle}}</label>
                </div>
            </div>
            <div class="row" *ngIf="isrelativesVehicle == 'Yes'">
                <div class="col-lg-2">
                    <label class="form-label">  Make/Model                                         
                                        </label>

                    <label class="form-label"> {{autoInformation.relativeVehicleMakeModel}}</label>
                </div>
                <div class="col-lg-2">
                    <label class="form-label"> Year                                       
                                        </label>
                    <label> {{autoInformation.relativeVehicleMakeYear}}</label>

                </div>
                <div class="col-lg-3">
                    <label class="form-label"> Name of Owner                                          
                                        </label>
                    <label> {{autoInformation.relativeVehicleOwnerName}}</label>
                </div>
                <div class="col-lg-3">
                    <label class="form-label">  Insurance Company                                          
                                        </label>
                    <label> {{autoInformation.relativeVehicleInsuranceCompanyName}}</label>
                </div>
                <div class="col-lg-2">
                    <label class="form-label">  Policy                                         
                                        </label>
                    <label> {{autoInformation.relativeVehiclePolicyNumber}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">Do you need help in resolving the damage to your vehicle?
                                          
                                        </label>
                    <label> {{ishelpinDamageResolved}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label">Is your vehicle drivable?
                                          
                                        </label>

                    <label> {{isvehicleDrivable}}</label>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Estimated Damage                                           
                                        </label>
                    <label> {{autoInformation.vehicleEstimatedDamage}}</label>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 ">
                    <label class="form-label "> Do you have title to your vehicle?                                           
                                        </label>

                    <label> {{istitletoVehicle}}</label>
                </div>
                <div class="col-lg-4 ">
                    <label class="form-label "> Owner Name
                                        </label>
                    <label> {{autoInformation.vehicleOwnerName}}</label>

                </div>
                <div class="col-lg-4 ">
                    <label class="form-label ">Operator Name
                                        </label>
                    <label> {{autoInformation.vehicleOperatorName}}</label>
                </div>

            </div>
        </div>
    </section>
    <div *ngIf="defendantAutoInformation">
        <section class="card ">
            <header class="card-header card-header-lg ">
                Defendant's Vehicle
            </header>
            <div class="card-block">
                <div class="row ">
                    <div class="col-lg-4 ">
                        <label class="form-label ">Plate
                                        </label>
                        <label>{{defendantAutoInformation.vehicleNumberPlate}}</label>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label "> State                                            
                                        </label>
                        <label>{{defendantAutoInformation.state}}</label>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label ">Owner Name
                                        </label>
                        <label>{{defendantAutoInformation.vehicleOwnerName}}</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 ">
                        <label class="form-label "> Make/Model 
                                        </label>
                        <label>{{defendantAutoInformation.vehicleMakeModel}}</label>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label "> Make/Model Year
                                        </label>
                        <label>{{defendantAutoInformation.vehicleMakeYear}}</label>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label "> Operator Name
                                        </label>
                        <label>{{defendantAutoInformation.vehicleOperatorName}}</label>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-lg-4 ">

                        <label class="form-label ">  Insurance Company                                          
                                        </label>

                        <label>{{defendantAutoInformation.vehicleInsuranceCompanyName}}</label>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label ">Policy                                         
                                        </label>
                        <label>{{defendantAutoInformation.vehiclePolicyNumber}}</label>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label "> Claim   </label>

                        <label>{{defendantAutoInformation.vehicleClaimNumber}}</label>

                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<a [routerLink]="['/patient-manager/cases'] " class="btn btn-secondary ">Cancel</a>