
<div *ngIf="caseDetail">
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Patient Name
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.patientName}}
                </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Case Type</label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.caseTypeText}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Case Status
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.caseStatusText}}
                        </label>
        </div>
    </div>
</div>
<div class="row">
    <!--<div class="col-lg-4">
        <label class="form-label"> Location
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.locationName}}
                        </label>
        </div>
    </div>-->
    <div class="col-lg-4">
        <label class="form-label"> Carrier Case Number
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.carrierCaseNo}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label">Attorney Company                             
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.companyName}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Medical Company 
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.medicalProvider}}
                 </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Orignator Company Name
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.originatorCompanyName}}
                 </label>
        </div>
    </div>
</div>
<a [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>
</div>
