<p-confirmDialog width="425"></p-confirmDialog>
<div class="input-group">
    <h3 class="with-border">{{patientName}} visits
        <!--<a class="pull-right btn btn-danger btn-sm" (click)="deletePatientVisits()">
            <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Selected Visits</span>
            <loader [visible]="isDeleteProgress"></loader>
        </a>-->
    </h3>
</div>
<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gb type="text" class="form-control" style="float:left" placeholder="Search Rooms Visits">
    </div>
</div>
<p-dataTable [value]="visits" [(selection)]="selectedClientVisits" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gb" [responsive]="true" #dt>
    <header>Client Visits List</header>
    <p-column selectionMode="multiple" styleClass="inbound-column"></p-column>
    <p-column field="visitDateLabel" header="Visit Date" [sortable]="true" [filter]="true" styleClass="inbound-column">
    </p-column>
    <p-column field="originalResponse.contactPerson" header="Contact Person" [sortable]="true" [filter]="true" styleClass="inbound-column">
    </p-column>

    <p-column field="visitStatusLabel" header="Status" [sortable]="true" [filter]="true" styleClass="inbound-column"></p-column>

    <p-column styleClass="actions-cell" header="Actions">
        <ng-template let-visit="rowData" pTemplate="body">
            <!--<a routerLink="{{visit.id}}/visit-note"><i class="glyphicon glyphicon-edit"></i></a>-->
            <a (click)="showDialog(visit)"><i class="glyphicon glyphicon-edit"></i></a>
        </ng-template>
    </p-column>
</p-dataTable><br>
<!--<button type="submit" class="btn btn-success sign-up btn-sm" (click)="bill()">Create Bill</button>-->

<p-dialog [width]="1200" [height]="500" (onAfterHide)="handleClientDialogHide()" header="{{visitInfo}}" [(visible)]="clientDialogVisible"
    [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'400px'}">
    <div *ngIf="selectedVisit && clientDialogVisible">
        <client-visit-detail [selectedVisit]="selectedVisit" [routeFrom]="2" (closeDialog)="closePatientVisitDialog($event)"></client-visit-detail>
    </div>
</p-dialog>