<h3 class="with-border">Assign Doctor</h3>
<form [formGroup]="assigndoctorform" (ngSubmit)="save()">
    <div class="row">
        <div class="col-lg-5">
            <label class="form-label"> Doctors
                                <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="assigndoctorformControls.doctors.touched && !assigndoctorformControls.doctors.valid">
                <select formControlName="doctors" type="text" class="form-control"  [class.error]="assigndoctorformControls.doctors.touched && !assigndoctorformControls.doctors.valid">
                            <option value="">-Select doctors-</option>
                            <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.user.firstName}}</option>
                        </select>
                <div class='error-list' *ngIf="assigndoctorformControls.doctors.touched && !assigndoctorformControls.doctors.valid">
                    <ul>
                        <li *ngIf="assigndoctorformControls.doctors.hasError('required')">doctors is required.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button [disabled]="!assigndoctorform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
</form>