<h3 class="with-border">Assign Doctor</h3>
<form [formGroup]="assigndoctorform" (ngSubmit)="save()">
    <div class="row">
    <!--<p-dataTable [value]="doctors" [(selection)]="selectedDoctors" [lazy]="true" [rows]="10" [paginator]="true" 
    [totalRecords]="totalRecords" (onLazyLoad)="loadDoctorsLazy($event)" [globalFilter]="gb" [responsive]="true" [stacked]="stacked">-->
    <p-dataTable [value]="doctors" [(selection)]="selectedDoctors" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true" [stacked]="stacked">
    <header>Doctors</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column header="Doctor Name" [sortable]="true">
       <template let-doctor="rowData" pTemplate="body">
        {{doctor.user.firstName}} {{doctor.user.lastName}}   
        </template>
    </p-column>
    <p-column field="user.userName" header="Email" [sortable]="true"></p-column>
</p-dataTable>
    </div><br>
    <button [disabled]="isSaveProgress" type="submit" class="btn btn-success sign-up">Save
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
</form>