<div class="input-group">
<h3 class="with-border">Doctors
    <a class="btn btn-danger btn-sm pull-right" (click)="deleteDoctors()">
        <i class="fa fa-trash-o fa-1x"></i>
        <span class="hidden-md-down">Delete Selected Doctors</span>
        <loader [visible]="isDeleteProgress"></loader>
    </a>
    <a class="pull-right btn btn-primary btn-sm btn-inline" [routerLink]="['add']"><i class="fa fa-plus" aria-hidden="true"></i> 
    <span class="hidden-md-down">Assign Doctors</span></a>
</h3>
</div>
<div class="ui-widget-header row">
   <div class="col-lg-4 input-group">
       <span class="input-group-addon"><i class="fa fa-search"></i></span>
       <input #gb type="text" class="form-control" style="float:left" placeholder="Search Doctors">
   </div>
</div>
<p-dataTable [value]="doctors" [(selection)]="selectedDoctors" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" [paginator]="true" [globalFilter]="gb" [responsive]="true"
    [stacked]="stacked">
    <header>Doctors</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column header="Doctor Name" [sortable]="true">
       <template let-doctor="rowData" pTemplate="body">
            <a routerLink="{{doctor.id}}">{{doctor.doctor.user.firstName}} {{doctor.doctor.user.lastName}}
            </a>
        </template>
    </p-column>
    <p-column field="doctor.user.userTypeLabel" header="User Type" [sortable]="true"></p-column>
    <p-column field="doctor.user.userName" header="Email" [sortable]="true"></p-column>
    <p-column styleClass="actions-cell" header="Actions">
        <template let-schedule="rowData" pTemplate="body">
            <a routerLink="{{schedule.id}}/schedule"><i class="glyphicon glyphicon-edit"></i></a>
        </template>
    </p-column>
</p-dataTable>