<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <!--<add name="MIDASGBXEntities" connectionString="metadata=res://*/Model.MIDASGBXEntities.csdl|res://*/Model.MIDASGBXEntities.ssdl|res://*/Model.MIDASGBXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=codearray.tk;initial catalog=MIDASGBX;user id=sa;password=LawAllies!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MIDASGBXEntities" connectionString="metadata=res://*/Model.MIDASGBXEntities.csdl|res://*/Model.MIDASGBXEntities.ssdl|res://*/Model.MIDASGBXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=caserver\sql2016;initial catalog=MIDASGBXDEV;user id=sa;password=CAsql123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Website" value="http://www.greenbills.com" />
    <add key="PasswordLinkExpiration" value="1" />
    <!--IN Days -->
    <add key="DefaultAdminUserID" value="0" />
    <add key="Default2FactEmail" value="true" />
    <add key="Default2FactSMS" value="false" />
    <add key="AuthTokenExpiry" value="900" />
    <add key="VerificationLink" value="http://www.medicalprovider.codearray.tk/#/account/activation/" />
    <add key="AttorneyVerificationLink" value="http://www.attorney.codearray.tk/#/account/activation/" />
    <add key="ForgotPasswordLink" value="http://www.medicalprovider.codearray.tk/#/account/reset-password/" />
    <add key="PatientVerificationLink" value="http://www.patient.codearray.tk/#/account/activation/" />
    <add key="AncillaryVerificationLink" value="http://www.ancillarydev.codearray.tk/#/account/activation/" />
    <add key="smtpserver" value="smtp.zoho.com" />
    <add key="isssl" value="true" />
    <add key="port" value="587" />
    <add key="checkauth" value="true" />
    <add key="username" value="mangesh.s@codearray.tech" />
    <add key="password" value="mangesh123" />
   <add key="ccemail" value="msingh@greenyourbills.com" />
    <add key="isServiceSecured" value="false" />
    <add key="BLOB_SERVER" value="http://midas.codearray.tk/midasapi/app_data/uploads/" />
    <add key="LOCAL_SERVER" value="http://midas.codearray.tk/midasapi/tempuploads/" />
    <add key="BLOB_PATH" value="http://midas.codearray.tk/midasapi/" />
    <add key="LOCAL_PATH" value="C:\Users\Sonali.A\Midas_DevelopBranch\Midas\MIDAS.GBX\MIDAS.GBX.WebAPI\" />
    <add key="LOCAL_UPLOAD_PATH" value="C:\Users\Sonali.A\Midas_DevelopBranch\Midas\MIDAS.GBX\MIDAS.GBX.WebAPI\App_Data\uploads\" />
    <add key="MIDAS_DOMAIN" value="http://medicalprovider.codearray.tk/midasapi/"></add>
    <add key="UseOTP" value="false" />
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=midasdocument;AccountKey=ibgkGrdFWK7g/YkEFWk84efYt07VQi9KZ7lS/2H6m3S/EJepQi7aMcneCbZYXvUXuutkjVVLYaStNhOH28uDgQ==;EndpointSuffix=core.windows.net" />
    <add key="BlobStorageContainerName" value="midasdocument" />
    <add key="TWILIO_ACCOUNT_ID" value="AC48ba9355b0bae1234caa9e29dc73b407" />
    <add key="TWILIO_AUTH_TOKEN" value="74b9f9f1c60c200d28b8c5b22968e65f" />
    <add key="TWILIO_FROM_PHN" value="+14252150865" />
      <!--Need to be removed once UTC convert issue is resolved-->
      <add key="UTCAdjustment_Minutes" value="0" />
      <!--Need to be removed once UTC convert issue is resolved-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=yyyy-MM-dd}-api.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Api Services" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
</configuration>
<!--ProjectGuid: {0ACE9418-1612-4497-8587-8D04F546AC95}-->