<h3 class="with-border">Search Doctors </h3>
<form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="row">
        <div class="col-lg-4">
            <label class="form-label"> Do You Need Transportion? 
                         <span class="color-red">*</span>
                    </label>
            <div class="form-group">
                <!--<p-radioButton formControlName="doYouNeedTransportion" name="doYouNeedTransportion" value="1" label="Yes"[(ngModel)]="specialityDetailJS.isnitialEvaluation"></p-radioButton>-->
                <p-radioButton formControlName="doYouNeedTransportion" name="doYouNeedTransportion" value="1" label="Yes" [(ngModel)]="doYouNeedTransportion"></p-radioButton>
                <p-radioButton formControlName="doYouNeedTransportion" name="doYouNeedTransportion" value="0" label="No"></p-radioButton>
            </div>
        </div>
        <div class="col-lg-4">
            <label class="form-label"> Doctors Gender Prefernce ? 
                        <span class="color-red">*</span>
                    </label>
            <div class="form-group">
                <p-radioButton formControlName="gender" name="gender" value="1" label="Male" [(ngModel)]="gender"></p-radioButton>
                <p-radioButton formControlName="gender" name="gender" value="2" label="Female" [(ngModel)]="gender"></p-radioButton>
                <p-radioButton formControlName="gender" name="gender" value="null" label="Any" [(ngModel)]="gender"></p-radioButton>
            </div>
        </div>
        <div class="col-lg-4">
            <label class="form-label"> Handicap Ramp Required ? 
                        <span class="color-red">*</span>
                    </label>
            <div class="form-group">
                <p-radioButton formControlName="handicapRamp" name="handicapRamp" value="1" label="Yes" [(ngModel)]="handicapRamp"></p-radioButton>
                <p-radioButton formControlName="handicapRamp" name="handicapRamp" value="0" label="No" [(ngModel)]="handicapRamp"></p-radioButton>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="form-label"> Stairs To Office Required ?
                        <span class="color-red">*</span>
                    </label>
            <div class="form-group">
                <p-radioButton formControlName="stairsToOffice" name="stairsToOffice" value="1" label="Yes" [(ngModel)]="stairsToOffice"></p-radioButton>
                <p-radioButton formControlName="stairsToOffice" name="stairsToOffice" value="0" label="No" [(ngModel)]="stairsToOffice"></p-radioButton>
            </div>
        </div>
        <div class="col-lg-4">
            <label class="form-label"> Public Transport Near Office Required ?
                        <span class="color-red">*</span>
                    </label>
            <div class="form-group">
                <p-radioButton formControlName="publicTransportNearOffice" name="publicTransportNearOffice" value="1" label="Yes" [(ngModel)]="publicTransportNearOffice"></p-radioButton>
                <p-radioButton formControlName="publicTransportNearOffice" name="publicTransportNearOffice" value="0" label="No" [(ngModel)]="publicTransportNearOffice"></p-radioButton>
            </div>
        </div>
        <div class="col-lg-4">
            <label class="form-label"> Multiple Doctors At Location ?
                        <span class="color-red">*</span>
                    </label>
            <div class="form-group">
                <p-radioButton formControlName="multipleDoctors" name="multipleDoctors" value="1" label="Yes" [(ngModel)]="multipleDoctors"></p-radioButton>
                <p-radioButton formControlName="multipleDoctors" name="multipleDoctors" value="0" label="No" [(ngModel)]="multipleDoctors"></p-radioButton>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><label class="form-label">Start Time<span class="color-red">*</span></label></div>
        <div class="col-md-3">
            <div class="form-group" [class.error]="searchFormControls.eventStartTime.touched && !searchFormControls.eventStartTime.valid">
                <select [(ngModel)]="setTimeSlot" *ngIf="!isAllDay" [class.error]="!searchFormControls.eventStartTime.valid"
                    formControlName="eventStartTime" hourFormat="12" icon="fa fa-clock-o" class="select2-arrow form-control">                          
                              <option *ngFor="let time of timeSlots" [value]="time.time">{{time.time}}</option>                                       
                        </select>
                <div class='error-list' *ngIf="searchFormControls.eventStartTime.touched && !searchFormControls.eventStartTime.valid">
                    <ul>
                        <li *ngIf="searchFormControls.eventStartTime.hasError('required')">Start Time is required.</li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="col-md-2"><label class="form-label">End Time<span class="color-red">*</span></label></div>
         <div class="col-md-3">
            <div class="form-group" [class.error]="searchFormControls.eventEndTime.touched && !searchFormControls.eventEndTime.valid">
                <select [(ngModel)]="setEndTimeSlot" *ngIf="!isAllDay" [class.error]="!searchFormControls.eventEndTime.valid"
                    formControlName="eventEndTime" hourFormat="12" icon="fa fa-clock-o" class="select2-arrow form-control">                          
                              <option *ngFor="let time of timeSlots" [value]="time.time">{{time.time}}</option>                                       
                        </select>
                <div class='error-list' *ngIf="searchFormControls.eventEndTime.touched && !searchFormControls.eventEndTime.valid">
                    <ul>
                        <li *ngIf="searchFormControls.eventEndTime.hasError('required')">End Time is required.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button [disabled]="!searchForm.valid" type="submit" class="btn btn-success sign-up">Search
                <!--<loader [visible]="isSpecialityDetailSaveInProgress"></loader>-->
            </button>
    <a (click)="closeDialog()" class="btn btn-secondary">Cancel</a><br><br>

    <section *ngIf="searchedMedicalProvider" class="card">
        <header class="card-header card-header-lg">
            Searched Preferred Medical Provider List
        </header>
        <p-dataTable [value]="searchedMedicalProvider" [(selection)]="selectedMedicalProvider" [rows]="10" [paginator]="true" [globalFilter]="gb"
            [responsive]="true">
            <header> Searched Preferred Medical Provider List</header>
            <p-column selectionMode="single"></p-column>
            <p-column field="id" header="Id" [sortable]="true"></p-column>
            <p-column field="name" header="Medical Provider Name" [sortable]="true"></p-column>
        </p-dataTable><br>
        <button type="submit" (click)="closeDialogWithSelectedMP()" class="btn btn-success sign-up">Assign Medical Provider
                <!--<loader [visible]="isSpecialityDetailSaveInProgress"></loader>-->
            </button>
    </section>
</form>