<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="smtpserver" value="smtp.zoho.com" />
    <add key="isssl" value="true" />
    <add key="port" value="587" />
    <add key="checkauth" value="true" />
    <add key="username" value="mangesh.s@codearray.tech" />
    <add key="password" value="mangesh123" />
    <add key="ccemail" value="msingh@greenyourbills.com" />
  </appSettings>
<connectionStrings><add name="MIDASGBXEntities" connectionString="metadata=res://*/Model.MIDASGBXEntities.csdl|res://*/Model.MIDASGBXEntities.ssdl|res://*/Model.MIDASGBXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=caserver;initial catalog=MIDASGBX;user id=sa;password=CAsql123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>