<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MIDASGBXEntities" connectionString="metadata=res://*/Model.MIDASGBXEntities.csdl|res://*/Model.MIDASGBXEntities.ssdl|res://*/Model.MIDASGBXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=caserver;initial catalog=MIDASGBX;user id=sa;password=CAsql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>