<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MIDASGBXEntities" connectionString="metadata=res://*/Model.MIDASGBXEntities.csdl|res://*/Model.MIDASGBXEntities.ssdl|res://*/Model.MIDASGBXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=caserver;initial catalog=MIDASGBX;user id=sa;password=CAsql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>