<div class="control-panel" [class.open]="_notificationsStore.isOpen">

    <app-header *ngIf="_sessionStore.session.user"></app-header>
    <!--<main-nav *ngIf="_sessionStore.session.user"></main-nav>-->
    <progress-bar *ngIf="_progressBarService.counter > 0"></progress-bar>
    <notification *ngIf="_sessionStore.session.user"></notification>
    <div class="page-content">
        <div class="container-fluid">
            <breadcrumb *ngIf="_sessionStore.session.user"></breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<simple-notifications [options]="options"></simple-notifications>