<section class="card">
    <header class="card-header card-header-lg">
        Preferred Medical Provider List
    </header>
    <p-confirmDialog width="425"></p-confirmDialog>
    <div class="card-block">
        <div class="ui-widget-header row">
            <div class="col-lg-4 input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input #gb type="text" class="form-control" style="float:left" placeholder="Search Medical Provider">
</div>
<div class="col-lg-8">
    <a class="pull-right btn btn-danger btn-sm" (click)="deleteMedicalProviders()">
        <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Medical Provider</span>
        <loader [visible]="isDeleteProgress"></loader>
    </a>
    <a class="pull-right btn-inline btn btn-primary btn-sm" (click)="showValidation()"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add Medical Provider</span>
    </a>
    <a type="text" class="pull-right btn-inline btn btn-primary btn-sm" (click)="showDialog()"><i class="fa-external-link-square" aria-hidden="true"></i>
    <span class="hidden-md-down">Generate Token</span></a>
</div>
</div>

<p-dialog header="Validation" [(visible)]="displayValidation" [width]="700" [responsive]="true" [contentStyle]="{'overflow':'auto', 'max-height':'450px'}">
    <div class="row">
        <div class="col-lg-4">
            <label class="form-label">Enter Medical Provider Token Number</label>
        </div>
        <div class="col-lg-8">
            <form [formGroup]="addMedicalProviderByToken" (ngSubmit)="validateGeneratedToken()">
                <div class="col-lg-4">
                    <div class="form-group" [class.error]="addMedicalProviderByTokenControls.token.touched && !addMedicalProviderByTokenControls.token.valid">
                        <input formControlName="token" type="text" class="form-control" placeholder="" [class.error]="addMedicalProviderByTokenControls.token.touched && !addMedicalProviderByTokenControls.token.valid">
                        <div class='error-list' *ngIf="addMedicalProviderByTokenControls.token.touched && !addMedicalProviderByTokenControls.token.valid">
                            <ul>
                                <li *ngIf="addMedicalProviderByTokenControls.token.hasError('required')">Please enter medical provider OTP.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-success sign-up" [disabled]="!addMedicalProviderByToken.valid" type="submit"><i aria-hidden="true"></i>
                  Validate Token
                </button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="validateOtpResponse" class="row" style="text-align: left;">
        <div class="col-lg-6">
            <label class="form-label">Validated Medical Provider:                              
                                    </label>
        </div>
        <div class="col-lg-6">
            <label class="form-label">{{medicalProviderName}}
                                </label>
        </div>
    </div>
    <div *ngIf="validateOtpResponse" class="row" style="text-align: left;">
        <div class="col-lg-6">
            <label class="form-label">Validated Medical Provider Address:                              
                                    </label>
        </div>
        <div class="col-lg-6">
            <label class="form-label">address
                                </label>
        </div>
    </div>
<div *ngIf="validateOtpResponse" class="row">
     <div class="col-lg-6">
        <a class="btn btn-primary btn-sm" (click)="associateMedicalProvider()"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Associate Medical Provider</span>
    </a>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-danger btn-sm" (click)="closeDialog()">
            <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Dismiss Medical Provider</span>
        </a>
    </div>
</div>
</p-dialog>
<p-dialog header="Generated Token Number" [(visible)]="displayToken" [width]="300" [responsive]="true" [contentStyle]="{'overflow':'auto', 'max-height':'450px'}">
    <div class="row">
        <div class="col-lg-6">
            <label class="form-label">Token Number:
                            </label></div>
        <div class="col-lg-6">
            <label class="form-label">{{otp}}
                </label>
        </div>
    </div>
</p-dialog>
<p-dataTable [value]="providers" [(selection)]="selectedProviders" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true">
    <header> Preferred Medical Provider List</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="prefferedProvider.name" header="Medical Provider Name" [sortable]="true">
    </p-column>
    <!--<p-column styleClass="actions-cell" header="Actions">
        <ng-template let-provider="rowData" pTemplate="body">
            <a *ngIf="provider.isCreated && !provider.prefferedProvider.registrationComplete" routerLink="edit/{{provider.id}}"><i class="glyphicon glyphicon-edit"></i></a>
            <a *ngIf="!provider.isCreated"><i class=" glyphicon glyphicon-edit "></i></a>
        </ng-template>
    </p-column>-->
</p-dataTable>
</div><br>
</section>