<h3 class="with-border">Patient Visits</h3>
<section class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <select [(ngModel)]="selectedLocationId" class="select2-arrow form-control" (change)="selectLocation()">
            <option value="0"> -- Select Location -- </option>
            <option *ngFor="let location of locationsStore.locations | async" [value]="location.location.id">{{location.location.name}}</option>                                       
        </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <select [(ngModel)]="selectedMode" class="select2-arrow form-control" (change)="selectOption($event)">
                        <option value="0"></option>
             <optgroup label="Select Speciality">
                    <option *ngFor="let speciality of specialities" data-option="1" [value]="speciality.id">{{speciality.name}}</option>                                       
             </optgroup>
             <optgroup label="Select Test">
                    <option *ngFor="let test of tests" data-option="2" [value]="test.id">{{test.name}}</option> 
             </optgroup>
        </select>
                </div>
            </div>
            <div class="col-lg-3" *ngIf="selectedOption == 1">
                <div class="form-group">
                    <select [(ngModel)]="selectedDoctorId" class="select2-arrow form-control" (change)="selectDoctor()">
            <option value="0"> -- Select Doctor -- </option>
            <option *ngFor="let doctorLocationSchedule of doctorLocationSchedules" [value]="doctorLocationSchedule.doctor.id">{{doctorLocationSchedule.doctor.user.displayName}}</option>                                       
        </select>
                </div>
            </div>
            <div class="col-lg-3" *ngIf="selectedOption == 2">
                <div class="form-group">
                    <select [(ngModel)]="selectedRoomId" class="select2-arrow form-control" (change)="selectRoom()">
            <option value="0"> -- Select Room -- </option>
            <option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</option>                                       
        </select>
                    <!--<span *ngIf="roomSchedule">{{roomSchedule.name}}</span>-->
                </div>
            </div>
        </div>
    </div>
</section>
<p-schedule *ngIf="events" [events]="events" [header]="header" [eventLimit]="4" [editable]="true" (onDayClick)="handleDayClick($event)"
    (onEventClick)="handleEventClick($event)" [eventRender]="eventRenderer" [dayRender]="dayRenderer" [businessHours]="businessHours">
</p-schedule>
<p-confirmDialog header="Edit/Cancel Recurring Item" icon="fa fa-question-circle" width="800" #cd>
    <p-footer>
        <button [disabled]="isSaveProgress" type="button" class="btn btn-primary" (click)="cancelSeries()">
            Cancel Series
            <loader [visible]="isSaveProgress"></loader>
        </button>
        <button type="button" pButton icon="" label="Edit The Series" (click)="cd.reject()"></button>
        <button [disabled]="isSaveProgress" type="button" class="btn btn-primary" (click)="cancelCurrentOccurrence()">
            Cancel Current Occurrence
            <loader [visible]="isSaveProgress"></loader>
        </button>
        <button type="button" pButton icon="" label="Edit Current Occurrence" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<p-dialog [minWidth]="300" [width]="900" (onAfterHide)="handleEventDialogHide()" header="Visit" [(visible)]="eventDialogVisible"
    [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'400px'}">
    <form [formGroup]="patientScheduleForm" (ngSubmit)="saveEvent()">
        <div *ngIf="selectedVisit">
            <div class="row" *ngIf="!selectedVisit.id">
                <div class="col-md-2"><label class="form-label">Patient<span class="color-red">*</span></label></div>
                <div class="col-md-4">
                    <div class="form-group" [class.error]="patientScheduleFormControls.patientId && patientScheduleFormControls.patientId.touched && !patientScheduleFormControls.patientId.valid">
                        <select formControlName="patientId" [ngModel]="selectedVisit.patientId" class="select2-arrow form-control">
                        <option value=""> -- Select Patient -- </option>
                        <option *ngFor="let patient of _patientsStore.patientsWithOpenCases | async" [value]="patient.id">{{patient.user.displayName}}</option>                                       
                    </select>
                        <div class='error-list' *ngIf="patientScheduleFormControls.patientId && patientScheduleFormControls.patientId.touched && !patientScheduleFormControls.patientId.valid">
                            <ul>
                                <li *ngIf="patientScheduleFormControls.patientId.hasError('required')">Please select any Patient.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <scheduled-event-editor [selectedEvent]="selectedVisit.calendarEvent" (isValid)="scheduledEventEditorValid = $event"></scheduled-event-editor>
        </div>
        <p-footer>
            <div class="row">
                <div class="col-md-4">
                    <button [disabled]="!isFormValid() || isSaveProgress" type="submit" class="btn btn-success sign-up">
                        Save
                        <loader [visible]="isSaveProgress"></loader>
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="closeEventDialog()">Cancel</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-dialog [minWidth]="300" [width]="900" (onAfterHide)="handleVisitDialogHide()" header="Visit" [(visible)]="visitDialogVisible"
    [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'400px'}">
    <div *ngIf="selectedVisit">
        <p-tabView>
            <p-tabPanel header="Header 1" [selected]="true">
                <form [formGroup]="patientVisitForm" (ngSubmit)="saveVisit()">

                    <div class="row">
                        <div class="col-md-2"><label class="form-label">Notes<span class="color-red">*</span></label></div>
                        <div class="col-md-4">
                            <div class="form-group" [class.error]="patientVisitFormControls.notes && patientVisitFormControls.notes.touched && !patientVisitFormControls.notes.valid">
                                <textarea [ngModel]="selectedVisit.notes" formControlName="notes" class="form-control" rows="3"></textarea>
                                <div class='error-list' *ngIf="patientVisitFormControls.notes && patientVisitFormControls.notes.touched && !patientVisitFormControls.notes.valid">
                                    <ul>
                                        <li *ngIf="patientVisitFormControls.notes.hasError('required')">Please enter Notes.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="this.selectedVisit.id">
                            <a routerLink="../cases/{{this.selectedVisit.patientId}}/{{this.selectedVisit.caseId}}/patient-visit/{{this.selectedVisit.id}}/visit-document">Upload Documents</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label class="form-label">Status<span class="color-red">*</span></label></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select formControlName="visitStatusId" [ngModel]="selectedVisit.visitStatusId" class="select2-arrow form-control">
                        <option value="2">Complete</option>
                        <option value="4">No Show</option>
                    </select>
                            </div>
                        </div>
                    </div>



                    <div class="row">

                        <div class="col-md-4">
                            <button [disabled]="!patientVisitForm.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                <loader [visible]="isSaveProgress"></loader>
            </button>
                            <button type="button" class="btn btn-secondary" (click)="closePatientVisitDialog()">Cancel</button>
                        </div>
                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Header 2" *ngIf="selectedVisit.id">

                <app-document-upload [url]="visitUploadDocumentUrl" (uploadComplete)="documentUploadComplete($event)" (uploadError)="documentUploadError($event)"></app-document-upload>
                <p-confirmDialog width="425"></p-confirmDialog>
                <div class="input-group">
                    <h3 class="with-border">Uploaded Documents
                        <a class="pull-right btn btn-danger btn-sm" (click)="deleteDocument()">
                            <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Document </span>
                            <loader [visible]="isDeleteProgress"></loader>
                        </a>
                    </h3>
                </div>
                <div class="ui-widget-header row">
                    <div class="col-lg-4 input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input #gb type="text" class="form-control" style="float:left" placeholder="Search ">
                    </div>
                </div>
                <p-dataTable [value]="documents" [(selection)]="selectedDocumentList" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
                    [globalFilter]="gb" [responsive]="true">
                    <header> List</header>
                    <p-column selectionMode="multiple"></p-column>
                    <p-column field="document.documentName" header="Document Name" [sortable]="true"></p-column>
                    <p-column field="createDate" header="Created Date" [sortable]="true">
                        <ng-template let-document="rowData.document" pTemplate="body">
                            {{ document.createDate | dateTimeFormat }}
                        </ng-template>
                    </p-column>

                </p-dataTable>

            </p-tabPanel>

        </p-tabView>
    </div>

</p-dialog>