<!--<section class="tabs-section">
    <div class="tabs-section-nav">
        <div class="tbl">
            <ul class="nav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" routerLink="patient-visit" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
                        <span class="nav-link-in">
					Patient Visits
						</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!doctorRoleFlag">
                    <a class="nav-link" routerLink="ime-visit" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
                        <span class="nav-link-in">
					IME Visits
						</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="eo-visit" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
                        <span class="nav-link-in">
					EO Visits
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">

            <router-outlet></router-outlet>

        </div>
    </div>
</section>-->