<h3 class="with-border">Patient Visits</h3>
<div class="ui-widget-header row">
    <div class="col-lg-3">
        <select [(ngModel)]="selectedLocationId" class="select2-arrow form-control" (change)="selectLocation()">
            <option value="0"> -- Select Location -- </option>
            <option *ngFor="let location of _locationsStore.locations | async" [value]="location.location.id">{{location.location.name}}</option>                                       
        </select>
    </div>
    <div class="col-lg-3">
        <select [(ngModel)]="selectedOption" class="select2-arrow form-control" (change)="selectOption()">
            <option value="0">Select Visit</option>
            <option value="1">With Doctor</option>
            <option value="2">With Room</option>
        </select>
    </div>
    <div class="col-lg-3" *ngIf="selectedOption == 1">
        <select [(ngModel)]="selectedDoctorId" class="select2-arrow form-control" (change)="selectDoctor()">
            <option value="0"> -- Select Doctor -- </option>
            <option *ngFor="let doctorLocationSchedule of _doctorLocationScheduleStore.doctorLocationSchedules | async" [value]="doctorLocationSchedule.doctor.id">{{doctorLocationSchedule.doctor.user.displayName}}</option>                                       
        </select>
        <span *ngIf="doctorSchedule">{{doctorSchedule.name}}</span>
    </div>
    <div class="col-lg-3" *ngIf="selectedOption == 2">
        <select [(ngModel)]="selectedRoomId" class="select2-arrow form-control" (change)="selectRoom()">
            <option value="0"> -- Select Room -- </option>
            <option *ngFor="let room of _roomsStore.rooms | async" [value]="room.id">{{room.name}}</option>                                       
        </select> 
        <span *ngIf="roomSchedule">{{roomSchedule.name}}</span>
    </div>
</div>
{{businessHours | json}}
<p-schedule *ngIf="events" [events]="events" [views]="views" [header]="header" [eventLimit]="4" [editable]="true" (onDayClick)="handleDayClick($event)"
    (onEventClick)="handleEventClick($event)" [eventRender]="eventRenderer" [dayRender]="dayRenderer" [businessHours]="businessHours">
</p-schedule>
<p-confirmDialog acceptIcon="" rejectIcon="" acceptLabel="Edit Current Occurrence" rejectLabel="Edit The Series" header="Edit Recurring Item"
    icon="fa fa-question-circle" width="600">
</p-confirmDialog>
<p-dialog [minWidth]="300" [width]="900" (onAfterHide)="handleEventDialogHide()" header="Visit" [(visible)]="eventDialogVisible"
    [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true">
    <form [formGroup]="patientScheduleForm" (ngSubmit)="saveEvent()">
        <div *ngIf="selectedVisit">
            <div class="row" *ngIf="!selectedVisit.calendarEvent.recurrenceId">
                <div class="col-md-2"><label class="form-label">Patient<span class="color-red">*</span></label></div>
                <div class="col-md-4">
                    <div class="form-group" [class.error]="patientScheduleFormControls.patientId && patientScheduleFormControls.patientId.touched && !patientScheduleFormControls.patientId.valid">
                        <select formControlName="patientId" [ngModel]="selectedVisit.patientId" class="select2-arrow form-control">
                        <option value=""> -- Select Patient -- </option>
                        <option *ngFor="let patient of _patientsStore.patientsWithOpenCases | async" [value]="patient.id">{{patient.user.displayName}}</option>                                       
                    </select>
                        <div class='error-list' *ngIf="patientScheduleFormControls.patientId && patientScheduleFormControls.patientId.touched && !patientScheduleFormControls.patientId.valid">
                            <ul>
                                <li *ngIf="patientScheduleFormControls.patientId.hasError('required')">Please select any Patient.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <scheduled-event-editor [selectedEvent]="selectedVisit.calendarEvent" (isValid)="scheduledEventEditorValid = $event"></scheduled-event-editor>
        </div>
        <p-footer>
            <div class="row">

                <div class="col-md-4">
                    <button [disabled]="!isFormValid() || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                <loader [visible]="isSaveProgress"></loader>
            </button>
                    <button type="button" class="btn btn-secondary" (click)="closeEventDialog()">Cancel</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>
<p-dialog [minWidth]="300" [width]="900" (onAfterHide)="handleVisitDialogHide()" header="Visit" [(visible)]="visitDialogVisible"
    [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true">
    <form [formGroup]="patientVisitForm" (ngSubmit)="saveVisit()">
        <div *ngIf="selectedVisit">
            <div class="row">
                <div class="col-md-2"><label class="form-label">Notes<span class="color-red">*</span></label></div>
                <div class="col-md-4">
                    <div class="form-group" [class.error]="patientVisitFormControls.notes && patientVisitFormControls.notes.touched && !patientVisitFormControls.notes.valid">
                        <textarea [ngModel]="selectedVisit.notes" formControlName="notes" class="form-control" rows="3"></textarea>
                        <div class='error-list' *ngIf="patientVisitFormControls.notes && patientVisitFormControls.notes.touched && !patientVisitFormControls.notes.valid">
                            <ul>
                                <li *ngIf="patientVisitFormControls.notes.hasError('required')">Please enter Notes.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="form-label">Status<span class="color-red">*</span></label></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select formControlName="visitStatusId" [ngModel]="selectedVisit.visitStatusId" class="select2-arrow form-control">
                        <option value="2">Complete</option>
                        <option value="4">No Show</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>

        <p-footer>
            <div class="row">

                <div class="col-md-4">
                    <button [disabled]="!patientVisitForm.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                <loader [visible]="isSaveProgress"></loader>
            </button>
                    <button type="button" class="btn btn-secondary" (click)="closePatientVisitDialog()">Cancel</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>