<section>
    <div class="mobile-menu-left-overlay" (click)="hideLeftMobileMenu()"></div>
    <nav class="side-menu side-menu-compact">
        <ul class="side-menu-list">
            <li *ngIf="doctorFlag" [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/appointments']">
                    <i class="fa fa-hospital-o"></i>
                    <span class="lbl">Appointment</span>
                </a>
            </li>
            <li [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/patients']">
                    <i class="fa fa-users"></i>
                    <span class="lbl">Clients</span>
                </a>
            </li>
            <li [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/cases']">
                    <i class="fa fa-briefcase"></i>
                    <span class="lbl">Cases</span>
                </a>
            </li>
            <li [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/patient-visit']">
                    <i class="fa fa-calendar"></i>
                    <span class="lbl">Schedule</span>
                </a>
            </li>
            <!--<li [routerLinkActive]="['opened']">
                <a *ngIf="!sessionStore.isOnlyAttorneyRole()" [routerLink]="['/patient-manager/referrals/pending-referrals']">
                    <i class="fa fa-retweet"></i>
                    <span class="lbl">Referrals</span>
                </a>
                <a *ngIf="sessionStore.isOnlyAttorneyRole()" [routerLink]="['/patient-manager/referrals/inbound-referrals']">
                    <i class="fa fa-retweet"></i>
                    <span class="lbl">Referrals</span>
                </a>
            </li>-->

        </ul>

    </nav>
</section>