<h3 class="with-border">Add Location</h3>
<form [formGroup]="addlocationform" (ngSubmit)="save()">
    <div class="row">
        <div class="col-lg-6">
            <label class="form-label"> Location Name
                                <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="addlocationformControls.name.touched && !addlocationformControls.name.valid">
                <input formControlName="name" type="text" class="form-control" placeholder="" [class.error]="!addlocationformControls.name.valid">
                <div class='error-list' *ngIf="addlocationformControls.name.touched && !addlocationformControls.name.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.name.hasError('required')">Location Name is required.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label class="form-label"> Address
                         <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="addlocationformControls.address.touched && !addlocationformControls.address.valid">
                <input formControlName="address" type="text" class="form-control" placeholder="" [class.error]="!addlocationformControls.address.valid">
                <div class='error-list' *ngIf="addlocationformControls.address.touched && !addlocationformControls.address.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.address.hasError('required')">Address is required.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="form-label"> State
                                <span class="color-red">*</span>
                            </label>
            <!--<div class="form-group" [class.error]="addlocationformControls.state.touched && !addlocationformControls.state.valid">
                <select formControlName="state" type="text" (change)="selectState($event)" class="form-control" placeholder="" [class.error]="addlocationformControls.state.touched && !addlocationformControls.state.valid">
                            <option value="">-Select State-</option>
                            <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                        </select>
                <div class='error-list' *ngIf="addlocationformControls.state.touched && !addlocationformControls.state.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.state.hasError('required')">State is required.</li>
                    </ul>
                </div>
            </div>-->
            <div class="form-group" [class.error]="addlocationformControls.state.touched && !addlocationformControls.state.valid">
                <p-dropdown [options]="states" formControlName="state" [style]="{'width':'100%'}" filter="filter"></p-dropdown>
                <div class='error-list' *ngIf="addlocationformControls.state.touched && !addlocationformControls.state.valid">
                    <span class="color-red">State is required.</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label class="form-label"> City
                                <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="addlocationformControls.city.touched && !addlocationformControls.city.valid">
                <input formControlName="city" type="text" class="form-control" placeholder="" [class.error]="!addlocationformControls.city.valid">
                <div class='error-list' *ngIf="addlocationformControls.city.touched && !addlocationformControls.city.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.city.hasError('required')">City is required.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-5">
                    <label class="form-label"> City
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="addlocationformControls.city.touched && !addlocationformControls.city.valid">
                        <select formControlName="city" type="text" [(ngModel)]="selectedCity" class="form-control" placeholder="" [class.error]="addlocationformControls.city.touched && !addlocationformControls.city.valid">
                            <option value="0">-Select City-</option>
                            <option *ngFor="let city of cities" value="{{city.citytext}}">{{city.citytext}}</option>
                        </select> 
                        <div class='error-list' *ngIf="addlocationformControls.city.touched && !addlocationformControls.city.valid">
                            <ul>
                                <li *ngIf="addlocationformControls.city.hasError('required')">City is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 m-t-lg"><loader [visible]="isCitiesLoading"></loader></div>-->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="form-label"> Zip code
                                <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="addlocationformControls.zipCode.touched && !addlocationformControls.zipCode.valid">
                <input formControlName="zipCode" type="text" class="form-control" placeholder="" [class.error]="!addlocationformControls.zipCode.valid">
                <div class='error-list' *ngIf="addlocationformControls.zipCode.touched && !addlocationformControls.zipCode.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.zipCode.hasError('required')">zipCode is required.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label class="form-label"> Phone
                                <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="addlocationformControls.officePhone.touched && !addlocationformControls.officePhone.valid">
                <!--<input type="text" formControlName="officePhone" [class.error]="addlocationformControls.officePhone.touched && !addlocationformControls.officePhone.valid" class="form-control"/>-->
                <p-inputMask mask="+1 999-999-9999" formControlName="officePhone" [class.error]="addlocationformControls.officePhone.touched && !addlocationformControls.officePhone.valid"
                    placeholder="+1 999-999-9999" styleClass="form-control"></p-inputMask>
                <div class='error-list' *ngIf="addlocationformControls.officePhone.touched && !addlocationformControls.officePhone.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.officePhone.hasError('required')">Office Phone is required.</li>
                        <li *ngIf="addlocationformControls.officePhone.hasError('mobileNoValidator')">Office Phone is invalid.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="form-label"> Location type
                                <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="addlocationformControls.locationType.touched && !addlocationformControls.locationType.valid">
                <!--<input formControlName="locationType" type="text" class="form-control" placeholder="" [class.error]="!addlocationformControls.locationType.valid">-->
                <select formControlName="locationType" type="text" class="form-control" placeholder="" [class.error]="addlocationformControls.locationType.touched && !addlocationformControls.locationType.valid">
                            <option value="">-Select Location-</option>
                <!--<select formControlName="locationType" [(ngModel)]="locationJS.id" type="text" class="form-control" placeholder="" [class.error]="addlocationformControls.locationType.touched && !addlocationformControls.locationType.valid">
                            <option value="0">-Select Location-</option>-->
                            <option disabled>────────────────────</option>
                            <option value="1">Medical Office</option>
                            <option value="2">Medical Testing Facility</option>
                        </select>
                <div class='error-list' *ngIf="addlocationformControls.locationType.touched && !addlocationformControls.locationType.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.locationType.hasError('required')">Office type is required.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label class="form-label"> Fax
                            </label>
            <div class="form-group" [class.error]="addlocationformControls.fax.touched && !addlocationformControls.fax.valid">
                <!--<input formControlName="fax" type="text" class="form-control" placeholder="" [class.error]="!addlocationformControls.fax.valid">-->
                <p-inputMask mask="9-999-999 9999" formControlName="fax" [class.error]="addlocationformControls.fax.touched && !addlocationformControls.fax.valid"
                    placeholder="9-999-999 9999" styleClass="form-control"></p-inputMask>
                <div class='error-list' *ngIf="addlocationformControls.fax.touched && !addlocationformControls.fax.valid">
                    <ul>
                        <li *ngIf="addlocationformControls.fax.hasError('required')">Fax is required.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button [disabled]="!addlocationform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['/medical-provider/locations']" class="btn btn-secondary">Cancel</a>
</form>