<div class="row">
    <div class="col-lg-8 col-lg-push-2 col-md-12">
        <section>
            <!--<header class="card-header">
                        Notification Subscriptions
                    </header>-->
            <!--<div class="card-block">-->
            <div class="row">
                <p-dataTable [value]="allGroupEvents" [(selection)]="selectedGroupEvents" [responsive]="true">
                    <p-column selectionMode="multiple"></p-column>
                    <p-column field="label" header="Events List"></p-column>
                </p-dataTable>
            </div>
            <br>
            <div class="row">
            <button type="submit" (click)="subscribeNotificationEvents()" class="btn btn-success"> Save </button>
            <a [routerLink]="['/patient-manager/profile/viewall']" class="btn btn-secondary">Cancel</a>
            </div>
            <!--</div>-->
        </section>
    </div>
</div>