<!--<p-confirmDialog width="425"></p-confirmDialog>
<div class="col-lg-6">
  <h3 class="with-border">Selected Referrals</h3>
  <div style="padding-bottom: 0.1rem;"></div>
<div class="ui-widget-header row">
</div>
<p-dataTable [value]="proceduresList" [(selection)]="selectedProceduresToDelete" [rows]="5" [paginator]="true" [pageLinks]="3"
  [rowsPerPageOptions]="[5,10,15,20]" [responsive]="true">
  <header>Procedures</header>
  <p-column selectionMode="multiple"></p-column>
  <p-column header="Specialty" [style]="{'width':'80px'}">
    <ng-template let-procedure="rowData" pTemplate="body">
      <div *ngIf="procedure.speciality == null">
        <div *ngFor="let speciality of specialities">
          <div *ngIf="speciality.id == procedure.specialityId">
            {{speciality.name}}
          </div>
        </div>
      </div>
      <div *ngIf="procedure.speciality != null">
        {{procedure.speciality.name}}
      </div>
      <div *ngIf="procedure.roomTest == null">
        <div *ngFor="let test of tests">
          <div *ngIf="test.id == procedure.roomTestId">
            {{test.name}}
          </div>
        </div>
      </div>
    </ng-template>
  </p-column>
  <p-column field="procedureCodeText" header="Procedure Code"></p-column>
  <p-column field="procedureCodeDesc" header="Description"></p-column>
</p-dataTable>
<br>
</div>-->

<div class="col-lg-6">
  <div style="padding-bottom: 0.1rem;"></div>
<div class="ui-widget-header row">
</div>
<p-dataTable [value]="visitReferrals" [(selection)]="selectedProceduresToDelete" [rows]="5" [paginator]="true" [pageLinks]="3"
  [rowsPerPageOptions]="[5,10,15,20]" [responsive]="true">
  <header>Procedures</header>
  <p-column selectionMode="multiple"></p-column>
  <!--<p-column header="Specialty" [style]="{'width':'80px'}">-->
  <p-column field="forSpecialtyName" header="Specialty"></p-column>
  <p-column field="procedureCodeText" header="Procedure Code"></p-column>
  <p-column field="procedureCodeDesc" header="Description"></p-column>
</p-dataTable>
<br>
</div>