<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form [formGroup]="accessform" (ngSubmit)="save()">
                <section class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-1">
                                <label class="form-label"> Role
                                        </label>                                
                            </div> 
                            <div class="col-lg-4">
                                 <input type="checkbox" formControlName="role" name="role" value="Regular Staff"> Regular Staff <br>
                                 <input type="checkbox" formControlName="role" name="role" value="Doctor"> Doctor <br>
                                 <input type="checkbox" formControlName="role" name="role" value="Office Manager"> Office Manager <br>
                                 <input type="checkbox" formControlName="role" name="role" value="Billing Staff"> Billing Staff <br>
                                 <input type="checkbox" formControlName="role" name="role" value="Nurse"> Nurse <br>
                            </div>
                        </div>
                    </div>
                </section>
                <button [disabled]="!accessform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
            </form>
        </div>
    </div>
</div>