<h3> General Settings </h3>
<form [formGroup]="settingForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-md-4">Test Room Preferred Time Slot</div>
        <div class="col-md-4">
            <div class="form-group">
                <select formControlName="timeSlot" type="text" class="form-control">
                            <option value="">-Select -</option>
                            <option value="1">15 minutes</option>
                            <option value="2">30 minutes</option>
                            <option value="2">60 minutes</option>
                            <option value="2">120 minutes</option>
                        </select>
            </div>
        </div>

    </div>
    <div>

        <button class="btn btn-success sign-up"  (click)="save()">Save
    <loader [visible]="isSaveProgress"></loader>
</button>
    </div>
</form>