<h3> General Settings </h3>
<form [formGroup]="settingForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label"> Test Room Preferred Time Slot
                                            <span class="color-red">*</span>
                                        </label>
        </div>
        <div class="col-md-4">
            <div class="form-group" [class.error]="settingFormControls.roomTimeSlot.touched && !settingFormControls.roomTimeSlot.valid">
                <select formControlName="roomTimeSlot" [(ngModel)]="isTimeSlot" type="text" class="form-control">
                            <option value="">-Select -</option>
                            <option value="15">15 minutes</option>
                            <option value="30">30 minutes</option>
                            <option value="60">60 minutes</option>
                            <option value="120">120 minutes</option>
                        </select>

                <div class='error-list' *ngIf="settingFormControls.roomTimeSlot.touched && !settingFormControls.roomTimeSlot.valid">
                    <ul>
                        <li *ngIf="settingFormControls.roomTimeSlot.hasError('required')">Room Timeslot is required.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div>

        <button  class="btn btn-success sign-up" (click)="save()">Save
    <loader [visible]="isSaveProgress"></loader>
</button>
    </div>
</form>