<h1 class="with-border">Dashboard</h1>
<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <header class="box-typical-header panel-heading">
            <h4 class="panel-title">Personal Information</h4>
        </header>
        <div class="box-typical-body panel-body">

            <div *ngIf="patientInfo">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-3"><b> First Name</b></div>
                        <div class="col-lg-3">{{patientInfo.user.firstName}}</div>
                        <div class="col-lg-3"><b>Middle Name</b></div>
                        <div class="col-lg-3">{{patientInfo.user.middleName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b> Last Name</b></div>
                        <div class="col-lg-3">{{patientInfo.user.lastName}}</div>
                        <div class="col-lg-3"><b> Gender </b></div>
                        <div class="col-lg-3">{{patientInfo.user.genderLabel}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b> Marital Status</b></div>
                        <div class="col-lg-3">{{patientInfo.maritalStatusId}}</div>
                        <div class="col-lg-3"><b> SSN </b></div>
                        <div class="col-lg-3">{{patientInfo.ssn}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b> Date of Birth</b></div>
                        <div class="col-lg-3">{{dateOfBirth}}</div>
                        <div class="col-lg-3"><b> Date of First Treatment </b></div>
                        <div class="col-lg-3">{{dateOfFirstTreatment}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>Weight</b></div>
                        <div class="col-lg-3">{{patientInfo.weight}}</div>
                        <div class="col-lg-3"><b> Height (cms) </b></div>
                        <div class="col-lg-3">{{patientInfo.height}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>Cellphone</b></div>
                        <div class="col-lg-3">{{patientInfo.user.contact.cellPhone}}</div>
                        <div class="col-lg-3"><b> Home Phone No </b></div>
                        <div class="col-lg-3">{{patientInfo.user.contact.homePhone}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>Work Phone</b></div>
                        <div class="col-lg-3">{{patientInfo.user.contact.workPhone}}</div>
                        <div class="col-lg-3"><b> Fax No </b></div>
                        <div class="col-lg-3">{{patientInfo.user.contact.faxNo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>Address1</b></div>
                        <div class="col-lg-3">{{patientInfo.user.address.address1}}</div>
                        <div class="col-lg-3"><b> Address2  </b></div>
                        <div class="col-lg-3">{{patientInfo.user.address.address2}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>State</b></div>
                        <div class="col-lg-3">{{patientInfo.user.address.state}}</div>
                        <div class="col-lg-3"><b> City  </b></div>
                        <div class="col-lg-3">{{patientInfo.user.address.city}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><b>Zipcode</b></div>
                        <div class="col-lg-3">{{patientInfo.user.address.zipCode}}</div>
                        <div class="col-lg-3"><b> Country  </b></div>
                        <div class="col-lg-3">{{patientInfo.user.address.country}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <header class="box-typical-header panel-heading">
            <h4 class="panel-title">Employer Information</h4>
        </header>
        <div class="box-typical-body panel-body" *ngIf="employer">
            <div class="contact-row-list">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Job Title</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.jobTitle}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Employer Name</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.empName}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">E-Mail</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.contact.emailAddress}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name"> Work Phone No</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.contact.workPhone}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Cellphone</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.contact.cellPhone}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name"> Home Phone No</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.contact.homePhone}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Fax No</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.contact.faxNo}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Address1</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.address.address1}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Address2</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.address.address2}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">State</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.address.state}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">City</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.address.city}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Zipcode</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.address.zipCode}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Country</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.address.country}}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <header class="box-typical-header panel-heading">
            <h4 class="panel-title">Family Member</h4>
        </header>
        <div class="box-typical-body panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Relation to patient</th>
                        <th>Full Name</th>
                        <th>Cellphone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let family of familyMember">
                        <td>{{ family.relationLabel }}</td>
                        <td>{{ family.fullName }}</td>
                        <td>{{ family.cellPhone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <header class="box-typical-header panel-heading">
            <h4 class="panel-title">Insurance Information</h4>
        </header>
        <div class="box-typical-body panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>PolicyHolderName</th>
                        <th>PolicyOwnerId</th>
                        <th>InsuranceCompanyCode</th>
                        <th>PolicyNo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let insurance of insurances">
                        <td>{{ insurance.policyHoldersName }}</td>
                        <td>{{ insurance.policyOwnerId }}</td>
                        <td>{{ insurance.insuranceCompanyCode }}</td>
                        <td>{{ insurance.policyNo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>