<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-push-2 col-md-12">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="checkUser()" class="">
                <section class="box-typical">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-label"> Email
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="forgotPasswordFormControls.email.touched && !forgotPasswordFormControls.email.valid">
                                    <input formControlName="email" type="email" [class.error]="!forgotPasswordFormControls.email.valid" class="form-control"
                                        placeholder="" type="text">
                                    <div class='error-list' *ngIf="forgotPasswordFormControls.email.touched && !forgotPasswordFormControls.email.valid">
                                        <ul>
                                            <li *ngIf="forgotPasswordFormControls.email.hasError('required')">Email is required.</li>
                                            <li *ngIf="forgotPasswordFormControls.email.hasError('emailValidator')">Email is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <button [disabled]="!forgotPasswordForm.valid || isForgotPasswordInProgress" type="submit" class="btn btn-success sign-up">Verify
                    <loader [visible]="isForgotPasswordInProgress"></loader>
                </button>
                                <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel
                </button>

                            </div>
                        </div>
                    </div>
                </section>

            </form>
        </div>
    </div>
</div>
<!--.page-center-->