<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form class="sign-box" [formGroup]="signupForm" (ngSubmit)="register()">
                <div class="sign-avatar no-photo">+</div>
                <header class="sign-title">Sign Up</header>
                <div class="form-group" [class.error]="signupFormControls.name.touched && !signupFormControls.name.valid">
                    <input formControlName="name" type="text" class="form-control" [class.error]="!signupFormControls.name.valid" placeholder="Name" />
                    <div class='error-list' *ngIf="signupFormControls.name.touched && !signupFormControls.name.valid">
                        <ul>
                            <li *ngIf="signupFormControls.name.hasError('required')">Name is required.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" [class.error]="signupFormControls.email.touched && !signupFormControls.email.valid">
                    <input formControlName="email" type="email" [class.error]="!signupFormControls.email.valid" class="form-control" placeholder="E-Mail" type="text" />
                    <div class='error-list' *ngIf="signupFormControls.email.touched && !signupFormControls.email.valid">
                        <ul>
                            <li *ngIf="signupFormControls.email.hasError('required')">Email is required.</li>
                            <li *ngIf="signupFormControls.email.hasError('emailValidator')">Email is invalid.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" [class.error]="signupFormControls.mobileNo.touched && !signupFormControls.mobileNo.valid">
                    <input formControlName="mobileNo" type="text" class="form-control" [class.error]="!signupFormControls.mobileNo.valid" placeholder="Mobile No" />
                    <div class='error-list' *ngIf="signupFormControls.mobileNo.touched && !signupFormControls.mobileNo.valid">
                        <ul>
                            <li *ngIf="signupFormControls.mobileNo.hasError('required')">Mobile number is required.</li>
                            <li *ngIf="signupFormControls.mobileNo.hasError('mobileNoValidator')">Mobile number is invalid.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" [class.error]="signupFormControls.password.touched && !signupFormControls.password.valid">
                    <input formControlName="password" type="password" minlength='6' class="form-control" [class.error]="!signupFormControls.password.valid" placeholder="Password" />
                    <div class='error-list' *ngIf="signupFormControls.password.touched && !signupFormControls.password.valid">
                        <ul>
                            <li *ngIf="signupFormControls.password.hasError('required')">Password is required.</li>
                            <li *ngIf="signupFormControls.password.hasError('minlength')">Password should be minimum {{signupFormControls.password.errors.minlength.requiredLength}} characters.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" [class.error]="signupFormControls.confirmPassword.touched && signupForm.hasError('mismatchedPasswords')">
                    <input formControlName="confirmPassword" type="password" class="form-control" [class.error]="signupForm.hasError('mismatchedPasswords')" placeholder="Repeat password" />
                    <div class='error-list' *ngIf="signupFormControls.confirmPassword.touched && signupForm.hasError('mismatchedPasswords')">
                        <ul>
                            <li *ngIf="signupForm.hasError('mismatchedPasswords')">Passwords do not match.</li>
                        </ul>
                    </div>
                </div>
                <button [disabled]="!signupForm.valid" type="submit" class="btn btn-success sign-up">Sign up
                    <loader [visible]="isSignupInProgress"></loader>
                </button>
                <p class="sign-note">Already have an account? <a [routerLink]="['/login']">Login</a></p>
                <!--<button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
            </form>
        </div>
    </div>
</div>
<!--.page-center-->
<simple-notifications [options]="options"></simple-notifications>