.with-side-menu-compact .page-content {
    padding-left: 20px;
}
.box-typical.box-typical-dashboard {
    margin: 0 0 0px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.5rem - 2px);
}
.form-control {
    font-size: 0.8rem;
    padding-top: inherit;
    padding-bottom: inherit;
}

.tbl-typical th {
    font-size: 0.8rem;
}
.tbl-typical td {
    font-size: 0.7rem;    
}
.card-header {
    height: 2.4rem;
}