<header class="card-header card-header-lg">
    Add Attorney
</header>
<form [formGroup]="attorneyform" name="attorneyform" (ngSubmit)="saveAttorney()">
    <section class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> Company Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.companyName.touched && !attorneyformControls.companyName.valid">
                        <input formControlName="companyName" type="text" class="form-control" [class.error]="!attorneyformControls.companyName.valid"
                        />
                        <div class='error-list' *ngIf="attorneyformControls.companyName.touched && !attorneyformControls.companyName.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.companyName.pending">Checking...</li>
                                <li *ngIf="attorneyformControls.companyName.hasError('required')">Company Name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-label"> Tax Id
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.taxId.touched && !attorneyformControls.taxId.valid">
                        <input formControlName="taxId" type="text" class="form-control" [class.error]="!attorneyformControls.taxId.valid" minlength="10"
                        />
                        <div class='error-list' *ngIf="attorneyformControls.taxId.touched && !attorneyformControls.taxId.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.taxId.hasError('required')">Tax Id is required.</li>
                                <li *ngIf="attorneyformControls.taxId.hasError('minlength')">Tax Id should be minimum {{attorneyformControls.taxId.errors.minlength.requiredLength}} characters.
                                </li>
                                <li *ngIf="attorneyformControls.taxId.hasError('maxlength')">Tax Id should be maximum {{attorneyformControls.taxId.errors.maxlength.requiredLength}} characters.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> First Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.firstName.touched && !attorneyformControls.firstName.valid">
                        <input formControlName="firstName" type="text" class="form-control" [class.error]="!attorneyformControls.firstName.valid"
                        />
                        <div class='error-list' *ngIf="attorneyformControls.firstName.touched && !attorneyformControls.firstName.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.firstName.hasError('required')">First name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <label class="form-label"> Last Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.lastName.touched && !attorneyformControls.lastName.valid">
                        <input formControlName="lastName" type="text" class="form-control" [class.error]="!attorneyformControls.lastName.valid" />
                        <div class='error-list' *ngIf="attorneyformControls.lastName.touched && !attorneyformControls.lastName.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.lastName.hasError('required')">Last name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> Company type
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.companyType.touched && !attorneyformControls.companyType.valid">
                        <select formControlName="companyType" class="selectpicker form-control" title="Select Company Type." [class.error]="attorneyformControls.companyType.touched && !attorneyformControls.companyType.valid">
                                             <option value="">-Select company type-</option>
                                             <option disabled>--------------------</option>
                                             <option value="2">Attorney</option>
                                             <!--<option value="Medical Provider">Medical Provider</option>
                                             <option value="PI\BI Firm">PI\BI Firm</option>
                                             <option value="Collection Firm">Collection Firm</option>
                                             <option value="Transportation">Transportation</option>-->
                                         </select>
                        <div class='error-list' *ngIf="attorneyformControls.companyType.touched && !attorneyformControls.companyType.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.companyType.hasError('required')">Company type is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-label"> Phone number
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid">
                        <p-inputMask mask="999-999-9999" formControlName="phoneNo" [class.error]="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid"
                            placeholder="999-999-9999" styleClass="form-control"></p-inputMask>
                        <!--<input formControlName="phoneNo" type="text" class="form-control" [class.error]="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid" />-->
                        <div class='error-list' *ngIf="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.phoneNo.hasError('required')">Phone number is required.</li>
                                <li *ngIf="attorneyformControls.phoneNo.hasError('mobileNoValidator')">Phone number is invalid.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> Subscription plan
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.subscriptionPlan.touched && !attorneyformControls.subscriptionPlan.valid">
                        <select formControlName="subscriptionPlan" class="selectpicker form-control" title="Select subscription plan." [class.error]="attorneyformControls.subscriptionPlan.touched && !attorneyformControls.subscriptionPlan.valid">
                                             <option value="">-Select subscription plan-</option>
                                             <option disabled>--------------------</option>
                                             <option value="1">Trial</option>
                                             <!--<option value="30 day Trial">30 day Trial</option>-->
                                         </select>
                        <div class='error-list' *ngIf="attorneyformControls.subscriptionPlan.touched && !attorneyformControls.subscriptionPlan.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.subscriptionPlan.hasError('required')">Subscription plan is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-label"> E-Mail
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.email.touched && !attorneyformControls.email.valid">
                        <input formControlName="email" type="email" [class.error]="!attorneyformControls.email.valid" class="form-control" placeholder=""
                            type="text" />
                        <div class='error-list' *ngIf="attorneyformControls.email.touched && !attorneyformControls.email.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.email.hasError('required')">Email is required.</li>
                                <li *ngIf="attorneyformControls.email.hasError('emailValidator')">Email is invalid.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button [disabled]="!attorneyform.valid ||  isSaveProgress " type="submit" class="btn btn-success sign-up">Save
                                <loader [visible]="isSaveProgress"></loader>
                            </button>
    <a *ngIf="inputCancel != 1" [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
    <a *ngIf="inputCancel == 1" (click)="closeDialog()" class="btn btn-secondary">Cancel</a>

</form>
