.page-content {
    padding-top: 55px;
    .control-panel & {
        padding-right: 0;
    }
    .with-side-menu-compact & {
        padding-left: 100px;
    }
}
.card-block {
    padding-bottom: 0;
}
.card-header {
    padding: .50rem 1.25rem;
}
.box-typical {
    &.box-typical-padding {
        padding: 10px 15px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.with-border {
        padding-bottom: 0.4rem;
    }
}

.nav {
    .nav-item .btn-close {
        color: darkred;
    }
}

.side-menu {
    &.side-menu-compact {
        padding-top: 50px;
    }
}

body {
    .ui-widget-header {
        padding: 0;
        border: none;
        margin-bottom: 10px;
    }
    .ui-datatable {
        border: 1px solid #c7c7c7;
        .ui-datatable-data,
        .ui-datatable-thead {
            tr {
                td,
                th {
                    padding: 0.3em 0.5em;
                    &.actions-cell {
                        width: 100px;
                    }
                    &.ui-selection-column {
                        width: 38px;
                    }
                }
            }
        }
        .ui-datatable-data {
            border: none;
            tr {
                border: none;
                td {
                    border: none;
                }
            }
        }
        .ui-datatable-thead {
            tr {
                th {
                    text-align: left;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                }
            }
        }
        .ui-paginator {
            border: none;
            border-top: 1px solid #c7c7c7;
            margin-bottom: 0;
        }
    }
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
}

.table {
    tbody {
        tr:hover {
            td,
            th {
                background-color: #eeeeea;
                cursor: pointer;
            }
        }
    }
}

.ui-inputtext.ui-state-focus,
.ui-widget-content .ui-inputtext.ui-state-focus,
.ui-widget-header .ui-inputtext.ui-state-focus {
    background: inherit;
    // border: inherit;
    box-shadow: none;
}

.control-panel.open .notification-panel-container {
    width: 280px;
    display: block;
}