<section *ngIf="preferredUIViewId == 2">
	<section class="faq-container" id="accordion">
		<div class="accordion" *ngIf="!sessionStore.isOnlyDoctorRole()">
			<input type="radio" value="pending-referrals" [(ngModel)]="currAccordion" (click)="setContent('pending-referrals')" name="accordion" id="pending-referrals"
			 routerLink="pending-referrals" class="accordion-toggle" />
			<label for="pending-referrals">Pending Referrals</label>
			<section *ngIf="currAccordion=='pending-referrals'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="inbound-referrals" [(ngModel)]="currAccordion" (click)="setContent('inbound-referrals')" name="accordion" id="inbound-referrals"
			 routerLink="inbound-referrals" class="accordion-toggle" />
			<label for="inbound-referrals">Inbound Referrals</label>
			<section *ngIf="currAccordion=='inbound-referrals'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="outbound-referrals" [(ngModel)]="currAccordion" (click)="setContent('outbound-referrals')" name="accordion" id="outbound-referrals"
			 routerLink="outbound-referrals" class="accordion-toggle" />
			<label for="outbound-referrals">Outbound Referrals</label>
			<section *ngIf="currAccordion=='outbound-referrals'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="external-referral" [(ngModel)]="currAccordion" (click)="setContent('external-referral')" name="accordion" id="external-referral"
			 routerLink="external-referral" class="accordion-toggle" />
			<label for="external-referral">Non Midas Providers</label>
			<section *ngIf="currAccordion=='external-referral'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
				<input type="radio" value="inhouse-referrals" [(ngModel)]="currAccordion" (click)="setContent('inhouse-referrals')" name="accordion" id="inhouse-referrals"
				 routerLink="inhouse-referrals" class="accordion-toggle" />
				<label for="inhouse-referrals">Inhouse Referrals</label>
				<section *ngIf="currAccordion=='inhouse-referrals'">
					<p>
						<router-outlet></router-outlet>
					</p>
				</section>
			</div>
	</section>
</section>

<section class="tabs-section" *ngIf="preferredUIViewId == 1">
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist">
				<li *ngIf="!sessionStore.isOnlyDoctorRole()" class="nav-item">
					<a class="nav-link" routerLink="pending-referrals" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Pending Referrals
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="inbound-referrals" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Inbound &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="outbound-referrals" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Outbound &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="external-referral" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Non Midas Providers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
					</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" routerLink="inhouse-referrals" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
							<span class="nav-link-in">
						Inhouse &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</span>
						</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">

			<router-outlet></router-outlet>

		</div>
	</div>
	<!--.tab-content-->
</section>
<!--.tabs-section-->