<h3 class="with-border">Assign Location to Doctor</h3>
<form [formGroup]="addlocationform" (ngSubmit)="save()">
    <div class="row">
        <!--<p-dataTable [value]="locations" [(selection)]="selectedLocations" [lazy]="true" [rows]="10" [paginator]="true"
            [totalRecords]="totalRecords" (onLazyLoad)="loadLocationsLazy($event)"[globalFilter]="gb" [responsive]="true" [stacked]="stacked">-->
        <p-dataTable [value]="locations" [(selection)]="selectedLocations" [rows]="10" [paginator]="true"
        [globalFilter]="gb" [responsive]="true" [stacked]="stacked">
            <header>Locations</header>
            <p-column selectionMode="multiple"></p-column>
            <p-column field="location.name" header="Location Name" [sortable]="true"></p-column>
            <p-column field="address.address1" header="Address" [sortable]="true"></p-column>
            <p-column header="Phone" [sortable]="true">
                <ng-template let-rowdata="rowData" pTemplate="body">
                    <span>{{rowdata.contact.workPhone | phoneFormat}}</span>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div><br>
    <button [disabled]="isSaveProgress" type="submit" class="btn btn-success sign-up">Save
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
</form>