<div class="input-group">
<h2 class="with-border">Users
    <a class="btn btn-danger btn-sm pull-right" (click)="deleteUser()">
        <i class="fa fa-trash-o fa-1x"></i>
        <span class="hidden-md-down">Delete Selected Users</span>
        <loader [visible]="isDeleteProgress"></loader>
    </a>
    <a class="pull-right btn btn-primary btn-sm btn-inline" [routerLink]="['add']"><i class="fa fa-plus" aria-hidden="true"></i> 
    <span class="hidden-md-down">Add User</span></a>
</h2>
</div>
<div class="ui-widget-header row">
   <div class="col-lg-4 input-group">
       <span class="input-group-addon"><i class="fa fa-search"></i></span>
       <!--<i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>-->
       <!--<input #gb type="text" pInputText size="50" style="float:left" placeholder="Search User">-->
       <input #gb type="text" class="form-control" style="float:left" placeholder="Search User">
   </div>
</div>
<p-dataTable [value]="users" [(selection)]="selectedUsers" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true"
    [stacked]="stacked">
    <header>Users</header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
    <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
    <p-column field="userTypeLabel" header="User Type" [sortable]="true"></p-column>
    <p-column field="userName" header="Email" [sortable]="true"></p-column>
    <p-column styleClass="col-button" header="Actions">
        <template let-user="rowData" pTemplate="body">
            <a routerLink="{{user.id}}/basic"><i class="glyphicon glyphicon-edit"></i></a>
            <!--<a routerLink="edit/{{user.id}}"><i class="glyphicon glyphicon-edit"></i></a>-->
        </template>
    </p-column>
</p-dataTable>