<!--<section class="tabs-section">
	<p-accordion [multiple]="true">
		<p-accordionTab [routerLink]="basic">
			<p-header>
				Basic
			</p-header>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active">
					<router-outlet></router-outlet>
				</div>
			</div>
		</p-accordionTab>
		<p-accordionTab [routerLink]="[{outlets:{locations:'locations'}}]">
			<p-header>
				Doctors Locations
			</p-header>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active">
					<router-outlet name="locations"></router-outlet>
				</div>
			</div>
		</p-accordionTab>
		</p-accordion>
</section>-->
<section class="tabs-section">
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist">
				<li class="nav-item">
					<a class="nav-link" routerLink="basic" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>
				</li>
				<li class="nav-item doctorRole" id="doctorLocation">
					<a class="nav-link" routerLink="locations" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Doctors Locations
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">
			<router-outlet></router-outlet>
		</div>
	</div>
</section>
