<h3 class="with-border">Add Accident Information</h3>
<form [formGroup]="accidentform">                           
              <div class="row">
                 <div class="col-lg-4">
                    <label class="form-label">Plate Number
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.plateNumber.touched && !accidentformControls.plateNumber.valid">
                        <input type="number" formControlName="plateNumber" [class.error]="!accidentformControls.plateNumber.valid" class="form-control"/>
                           
                        <div class='error-list' *ngIf="accidentformControls.plateNumber.touched && !accidentformControls.plateNumber.valid">
                            <ul>
                                <li *ngIf="accidentformControls.plateNumber.hasError('required')">Plate Number required.</li>
                            </ul>
                        </div>
                    </div>                               
                </div>
                <div class="col-lg-4">
                     <label class="form-label">Date of Accident
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.doa.touched && !accidentformControls.doa.valid">
                        <div class='input-group date'>
                              <p-calendar formControlName="doa" 
                                          dateFormat="M d, yy"
                                          [maxDate]="maxDate" 
                                          [monthNavigator]="true" 
                                          [yearNavigator]="true" 
                                          yearRange="1920:2050"
                                          [class.error]="accidentformControls.doa.touched && !accidentformControls.doa.valid" 
                                          placeholder="Date of Accident"
                                          showAnim="slideDown"
                                          [showIcon]="true"
                                          icon="font-icon font-icon-calend">
                              </p-calendar>
                        </div>
                        <div class='error-list' *ngIf="accidentformControls.doa.touched && !accidentformControls.doa.valid">
                            <ul>
                                <li *ngIf="accidentformControls.doa.hasError('required')">Date Of Accident is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="col-lg-4">
            <label class="form-label">Date of Admission
                                <span class="color-red">*</span>
                            </label>
            <div class="form-group" [class.error]="accidentformControls.dot.touched && !accidentformControls.dot.valid">
                        <div class='input-group date'>
                              <p-calendar formControlName="dot" 
                                          dateFormat="M d, yy"
                                          [maxDate]="maxDate" 
                                          [monthNavigator]="true" 
                                          [yearNavigator]="true" 
                                          yearRange="1920:2050"
                                          [class.error]="accidentformControls.dot.touched && !accidentformControls.dot.valid" 
                                          placeholder="Date of Admission"
                                          showAnim="slideDown"
                                          [showIcon]="true"
                                          icon="font-icon font-icon-calend">
                              </p-calendar>
                        </div>
                        <div class='error-list' *ngIf="accidentformControls.dot.touched && !accidentformControls.dot.valid">
                            <ul>
                                <li *ngIf="accidentformControls.dot.hasError('required')">Date Of Admission is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>                            
                 <div class="row">
                     <div class="col-lg-4">
                    <label class="form-label">Report Number
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.reportNumber.touched && !accidentformControls.reportNumber.valid">
                        <input type="number" formControlName="reportNumber" [class.error]="!accidentformControls.reportNumber.valid" class="form-control"/>
                           
                        <div class='error-list' *ngIf="accidentformControls.reportNumber.touched && !accidentformControls.reportNumber.valid">
                            <ul>
                                <li *ngIf="accidentformControls.reportNumber.hasError('required')">Report Number required.</li>
                            </ul>
                        </div>
                    </div>                               
                </div>
                <div class="col-lg-4">
                    <label class="form-label">Hospital Name
                         <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.hospitalName.touched && !accidentformControls.hospitalName.valid">
                        <input formControlName="hospitalName" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.hospitalName.valid">
                        <div class='error-list' *ngIf="accidentformControls.hospitalName.touched && !accidentformControls.hospitalName.valid">
                            <ul>
                                <li *ngIf="accidentformControls.hospitalName.hasError('required')">Hospital Name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
               <div class="col-lg-4">
                    <label class="form-label">Specialty
                         <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.specialty.touched && !accidentformControls.specialty.valid">
                        <input formControlName="specialty" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.specialty.valid">
                        <div class='error-list' *ngIf="accidentformControls.specialty.touched && !accidentformControls.specialty.valid">
                            <ul>
                                <li *ngIf="accidentformControls.specialty.hasError('required')">Specialty is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>                          
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Address
                         <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.address.touched && !accidentformControls.address.valid">
                        <input formControlName="address" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.address.valid">
                        <div class='error-list' *ngIf="accidentformControls.address.touched && !accidentformControls.address.valid">
                            <ul>
                                <li *ngIf="accidentformControls.address.hasError('required')">Address is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
               <div class="col-lg-4">
                    <label class="form-label">Hospital Address
                         <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.hospitalAddress.touched && !accidentformControls.hospitalAddress.valid">
                        <input formControlName="hospitalAddress" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.hospitalAddress.valid">
                        <div class='error-list' *ngIf="accidentformControls.hospitalAddress.touched && !accidentformControls.hospitalAddress.valid">
                            <ul>
                                <li *ngIf="accidentformControls.hospitalAddress.hasError('required')">Hospital Address is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4">
                    <label class="form-label"> State
                                <!--<span class="color-red">*</span>-->
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.state.touched && !accidentformControls.state.valid">
                        <select formControlName="state" type="text"  (change)="selectState($event)" class="form-control" placeholder="" [class.error]="accidentformControls.state.touched && !accidentformControls.state.valid">
                            <option value="">-Select State-</option>
                            <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                        </select> 
                        <div class='error-list' *ngIf="accidentformControls.state.touched && !accidentformControls.state.valid">
                            <ul>
                                <li *ngIf="accidentformControls.state.hasError('required')">State is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
              </div>
            <div class="row">                           
                <div class="col-lg-3">
                    <label class="form-label"> City
                                <!--<span class="color-red">*</span>-->
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.city.touched && !accidentformControls.city.valid">
                        <select formControlName="city" type="text" class="form-control" placeholder="" [class.error]="accidentformControls.city.touched && !accidentformControls.city.valid">
                            <option value="">-Select City-</option>
                            <option *ngFor="let city of cities" value="{{city.citytext}}">{{city.citytext}}</option>
                        </select>
                        <div class='error-list' *ngIf="accidentformControls.city.touched && !accidentformControls.city.valid">
                            <ul>
                                <li *ngIf="accidentformControls.city.hasError('required')">City is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 m-t-lg"><loader [visible]="isCitiesLoading"></loader></div>
                <div class="col-lg-4">
                    <label class="form-label"> Zip code
                                <!--<span class="color-red">*</span>-->
                            </label>
                    <div class="form-group" [class.error]="accidentformControls.zipcode.touched && !accidentformControls.zipcode.valid">
                        <input formControlName="zipcode" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.zipcode.valid">
                        <div class='error-list' *ngIf="accidentformControls.zipcode.touched && !accidentformControls.zipcode.valid">
                            <ul>
                                <li *ngIf="accidentformControls.zipcode.hasError('required')">Zipcode is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>                          
                <div class="col-lg-4">
                    <label class="form-label"> Country
                                    <!--<span class="color-red">*</span>-->
                               </label>
                    <div class="form-group" [class.error]="accidentformControls.country.touched && !accidentformControls.country.valid">
                        <input formControlName="country" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.country.valid">
                        <div class='error-list' *ngIf="accidentformControls.country.touched && !accidentformControls.country.valid">
                            <ul>
                                <li *ngIf="accidentformControls.country.hasError('required')">Country is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>                            
                <div class="row">    
                <div class="col-lg-4">
                    <label class="form-label"> Describe Injury
                                    <span class="color-red">*</span>
                               </label>
                    <div class="form-group" [class.error]="accidentformControls.describeInjury.touched && !accidentformControls.describeInjury.valid">
                        <input formControlName="describeInjury" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.describeInjury.valid">
                        <div class='error-list' *ngIf="accidentformControls.describeInjury.touched && !accidentformControls.describeInjury.valid">
                            <ul>
                                <li *ngIf="accidentformControls.describeInjury.hasError('required')">Describe Injury is required.</li>
                            </ul>
                        </div>
                    </div>
                </div> 
                  <div class="col-lg-6">
                    <label class="form-label"> Patient Type 
                        <span class="color-red">*</span>
                    </label>
                    <div class="form-group">
                        <p-radioButton formControlName="patientType" name="patientType" value="Bicyclist" label="Bicyclist"></p-radioButton>
                        <p-radioButton formControlName="patientType" name="patientType" value="Driver" label="Driver"></p-radioButton>
                        <p-radioButton formControlName="patientType" name="patientType" value="Passenger" label="Passenger"></p-radioButton>
                        <p-radioButton formControlName="patientType" name="patientType" value="Pedestrain" label="Pedestrain"></p-radioButton>
                        <p-radioButton formControlName="patientType" name="patientType" value="OD" label="OD"></p-radioButton>
                    </div>
                </div>
                </div>      
</form>

