<h3 class="with-border">Add Attorney</h3>
<form [formGroup]="attorneyform">
            <div class="row">
                 <div class="col-lg-4">
                    <label class="form-label">Attorney
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorney.touched && !attorneyformControls.attorney.valid">
                        <select formControlName="attorney" type="text" class="form-control" placeholder="" [class.error]="attorneyformControls.attorney.touched && !attorneyformControls.attorney.valid">
                            <option value="">-Select -</option>
                        </select>
                        <div class='error-list' *ngIf="attorneyformControls.attorney.touched && !attorneyformControls.attorney.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.attorney.hasError('required')">Attorney is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
</form>