<div *ngIf="patientInfo">
    <form [formGroup]="demographicsform" (ngSubmit)="savePatient()">
        <section class="card">
            <header class="card-header card-header-lg">
                Patient Information
            </header>
            <div class="card-block" formGroupName="userInfo">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> SSN
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="demographicsformControls.userInfo.controls.ssn.touched && !demographicsformControls.userInfo.controls.ssn.valid">
                            <input [ngModel]="patientInfo.ssn" formControlName="ssn" type="text" class="form-control" placeholder="" [class.error]="!demographicsformControls.userInfo.controls.ssn.valid">
                            <div class='error-list' *ngIf="demographicsformControls.userInfo.controls.ssn.touched && !demographicsformControls.userInfo.controls.ssn.valid">
                                <ul>
                                    <li *ngIf="demographicsformControls.userInfo.controls.ssn.hasError('required')">First Name is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Weight (lbs)</label>
                        <div class="form-group">
                            <input [ngModel]="patientInfo.weight" formControlName="weight" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Height (cms)</label>
                        <div class="form-group">
                            <input [ngModel]="patientInfo.height" formControlName="height" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Date of First Treatment
                                        </label>
                        <div class="form-group">
                            <div class='input-group date'>
                                <p-calendar [ngModel]="dateOfFirstTreatment" formControlName="dateOfFirstTreatment" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate"
                                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2050" showAnim="slideDown"
                                    [showIcon]="true" icon="font-icon font-icon-calend">
                                    </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="card">
            <header class="card-header card-header-lg">
                Contact Information

            </header>
            <div class="card-block" formGroupName="contact">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Cellphone
                                <span class="color-red">*</span>
                            </label>
                        <div class="form-group" [class.error]="demographicsformControls.contact.controls.cellPhone.touched && !demographicsformControls.contact.controls.cellPhone.valid">
                            <p-inputMask [ngModel]="cellPhone" mask="999-999-9999" placeholder="999-999-9999" formControlName="cellPhone" styleClass="form-control"></p-inputMask>
                            <div class='error-list' *ngIf="demographicsformControls.contact.controls.cellPhone.touched && !demographicsformControls.contact.controls.cellPhone.valid">
                                <ul>
                                    <li *ngIf="demographicsformControls.contact.controls.cellPhone.hasError('required')">Cellphone number is required.</li>
                                    <li *ngIf="demographicsformControls.contact.controls.cellPhone.hasError('mobileNoValidator')">Cellphone number is invalid.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Home Phone No</label>
                            <input [ngModel]="patientInfo.user.contact.homePhone" formControlName="homePhone" type="text" class="form-control" placeholder=""
                            />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Work Phone No</label>
                            <input [ngModel]="patientInfo.user.contact.workPhone" formControlName="workPhone" type="text" class="form-control" placeholder=""
                            />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Fax No</label>
                            <!--<input type="text" formControlName="faxNo" [ngModel]="faxNo" class="form-control" />-->
                            <p-inputMask [(ngModel)]="faxNo" mask="9-999-999 9999" formControlName="faxNo" placeholder="9-999-999 9999"
                                styleClass="form-control"></p-inputMask>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="card">
            <header class="card-header card-header-lg">
                Address Information
            </header>
            <div class="card-block" formGroupName="address">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Address1
                                        </label>
                        <div class="form-group" [class.error]="demographicsformControls.address.controls.address1.touched && !demographicsformControls.address.controls.address1.valid">
                            <input [ngModel]="patientInfo.user.address.address1" formControlName="address1" type="email" [class.error]="!demographicsformControls.address.controls.address1.valid"
                                class="form-control" placeholder="" type="text" />
                            <div class='error-list' *ngIf="demographicsformControls.address.controls.address1.touched && !demographicsformControls.address.controls.address1.valid">
                                <ul>
                                    <li *ngIf="demographicsformControls.address.controls.address1.hasError('required')">Address1 is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label class="form-label"> Address2
                                        </label>
                        <div class="form-group" [class.error]="demographicsformControls.address.controls.address2.touched && !demographicsformControls.address.controls.address2.valid">
                            <input [ngModel]="patientInfo.user.address.address2" formControlName="address2" type="text" class="form-control" [class.error]="!demographicsformControls.address.controls.address2.valid"
                                placeholder="" />
                            <div class='error-list' *ngIf="demographicsformControls.address.controls.address2.touched && !demographicsformControls.address.controls.address2.valid">
                                <ul>
                                    <li *ngIf="demographicsformControls.address.controls.address2.hasError('required')">Address2 is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> State
                                        </label>
                        <div class="form-group" [class.error]="demographicsformControls.address.controls.state.touched && !demographicsformControls.address.controls.state.valid">
                            <select [ngModel]="patientInfo.user.address.state" formControlName="state" type="text" (change)="selectState($event)" class="form-control"
                                placeholder="" [class.error]="demographicsformControls.address.controls.state.touched && !demographicsformControls.address.controls.state.valid">
                                <option value="">-Select State-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select>
                                <div class='error-list' *ngIf="demographicsformControls.address.controls.state.touched && !demographicsformControls.address.controls.state.valid">
                                    <ul>
                                        <li *ngIf="demographicsformControls.address.controls.state.hasError('required')">State is required.</li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-label"> City
                                        </label>
                        <div class="form-group" [class.error]="demographicsformControls.address.controls.city.touched && !demographicsformControls.address.controls.city.valid">
                            <select [ngModel]="patientInfo.user.address.city" formControlName="city" type="text" [(ngModel)]="selectedCity" class="form-control"
                                placeholder="" [class.error]="demographicsformControls.address.controls.city.touched && !demographicsformControls.address.controls.city.valid">
                                <option value="0">-Select City-</option>
                                <option *ngFor="let city of cities" value="{{city.citytext}}">{{city.citytext}}</option>
                                </select>
                                <div class='error-list' *ngIf="demographicsformControls.address.controls.city.touched && !demographicsformControls.address.controls.city.valid">
                                    <ul>
                                        <li *ngIf="demographicsformControls.address.controls.city.hasError('required')">City is required.</li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-1 m-t-lg">
                        <loader [visible]="isCitiesLoading"></loader>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Zipcode
                                        </label>
                        <div class="form-group" [class.error]="demographicsformControls.address.controls.zipCode.touched && !demographicsformControls.address.controls.zipCode.valid">
                            <input [ngModel]="patientInfo.user.address.zipCode" formControlName="zipCode" type="text" class="form-control" [class.error]="!demographicsformControls.address.controls.zipCode.valid"
                                placeholder="" />
                            <div class='error-list' *ngIf="demographicsformControls.address.controls.zipCode.touched && !demographicsformControls.address.controls.zipCode.valid">
                                <ul>
                                    <li *ngIf="demographicsformControls.address.controls.zipCode.hasError('required')">ZipCode is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Country
                                        </label>
                        <div class="form-group" [class.error]="demographicsformControls.address.controls.country.touched && !demographicsformControls.address.controls.country.valid">
                            <input [ngModel]="patientInfo.user.address.country" formControlName="country" type="text" class="form-control" [class.error]="!demographicsformControls.address.controls.country.valid"
                                placeholder="" />
                            <div class='error-list' *ngIf="demographicsformControls.address.controls.country.touched && !demographicsformControls.address.controls.country.valid">
                                <ul>
                                    <li *ngIf="demographicsformControls.address.controls.country.hasError('required')">Country is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <button [disabled]="!demographicsform.valid || isSavePatientProgress" type="submit" class="btn btn-success sign-up">Save
            <loader [visible]="isSavePatientProgress"></loader>
        </button>
        <a [routerLink]="['/patient-manager/patients']" class="btn btn-secondary">Cancel</a>
    </form>
</div>