<section class="tabs-section" *ngIf="preferredUIViewId == 2">
	<h5 class="with-border">Details of {{patientName}}
		<a class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/'+patientId+'/add']"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add Case</span>
    </a>
		<a class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/',patientId]"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Case List</span>
    </a>
	</h5>

	<p-accordion [multiple]="true">
		<p-accordionTab [routerLink]="viewall">
			<p-header>
				View All
			</p-header>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active">
					<router-outlet></router-outlet>
				</div>
			</div>
		</p-accordionTab>
		<p-accordionTab [routerLink]="[{outlets:{basic:'basic-collapsible'}}]">
			<p-header>
				Basic
			</p-header>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active">
					<router-outlet name="basic"></router-outlet>
				</div>
			</div>
		</p-accordionTab>
		<p-accordionTab [routerLink]="[{outlets:{demographics:'demographics-collapsible'}}]">
			<p-header>
				Demographics
			</p-header>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active">
					<router-outlet name="demographics"></router-outlet>
				</div>
			</div>
		</p-accordionTab>
		<p-accordionTab [routerLink]="[{outlets:{documents:'documents-collapsible'}}]">
			<p-header>
				Documents
			</p-header>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active">
					<router-outlet name="documents"></router-outlet>
				</div>
			</div>
		</p-accordionTab>
	</p-accordion>
</section>

<section class="tabs-section" *ngIf="preferredUIViewId == 1">
	<h3 class="with-border">Details of {{patientName}}</h3>
	<a class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/'+patientId+'/add']"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add Case</span>
    </a>
	<a class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/',patientId]"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Case List</span>
    </a>
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist">
				<li class="nav-item">
					<a class="nav-link" routerLink="viewall" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					View All
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="basic" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="demographics" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Demographics
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="documents" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Documents
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">

			<router-outlet></router-outlet>

		</div>
	</div>
</section>