<div class="row">
<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <!--<header class="box-typical-header panel-heading">
            <h4 class="panel-title">Personal Information</h4>-->
        <header class="card-header card-header-lg">
            Personal Information
        </header>
        <div class="box-typical-body panel-body">
            <div class="contact-row-list" *ngIf="patientInfo">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">First Name</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.firstName}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Middle Name</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.middleName}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Last Name</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.lastName}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Gender</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.genderLabel}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Marital Status</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.maritalStatusLabel}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">SSN</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.ssn}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Date of Birth</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{dateOfBirth}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">First Treatment</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{dateOfFirstTreatment}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Weight</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.weight}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Height (cms)</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.height}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Cellphone</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.contact.cellPhone | phoneFormat}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Home Phone</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.contact.homePhone}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Work Phone</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.contact.workPhone}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Fax No</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.contact.faxNo | faxNoFormat}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Address1</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.address.address1}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Address2</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.address.address2}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">State</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.address.state}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">City</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.address.city}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Zipcode</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.address.zipCode}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Country</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{patientInfo.user.address.country}}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <header class="card-header card-header-lg">
            Employer Information
        </header>
        <div class="box-typical-body panel-body" *ngIf="noEmployer">
            <div class="contact-row-list">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-6">
                                <p class="user-card-row-mail">{{noEmployer}}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="box-typical-body panel-body" *ngIf="employer">
            <div class="contact-row-list">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Job Title</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.jobTitle}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Employer Name</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.empName}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">E-Mail</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.contact.emailAddress}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name"> Work Phone No</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.contact.workPhone}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Cellphone</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.contact.cellPhone | phoneFormat}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name"> Home Phone No</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.contact.homePhone}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Fax No</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.contact.faxNo | faxNoFormat}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Address1</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.address.address1}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Address2</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.address.address2}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">State</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.address.state}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">City</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.address.city}}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Zipcode</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{employer.address.zipCode}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Country</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{employer.address.country}}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <header class="card-header card-header-lg">
            Family Member
        </header>
        <div class="box-typical-body panel-body" *ngIf="noFamilyMember">
            <div class="contact-row-list">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-6">
                                <p class="user-card-row-mail">{{noFamilyMember}}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="box-typical-body panel-body" *ngIf="familyMember">
            <div class="contact-row-list">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-name">Relation to patient</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-name">Name</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-name">Cellphone</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row" *ngFor="let family of familyMember">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{ family.relationLabel }}</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{ family.displayName }}</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{ family.cellPhone | phoneFormat }}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

<div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default">
        <header class="card-header card-header-lg">
            Insurance Information
        </header>
        <div class="box-typical-body panel-body" *ngIf="noInsurances">
            <div class="contact-row-list">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-6">
                                <p class="user-card-row-mail">{{noInsurances}}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="box-typical-body panel-body" *ngIf="insurances">
            <div class="contact-row-list">
                <article class="contact-row">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Policy Holder</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-name">Policy Owner</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-name">Insurance Company Code</p>
                            </div>
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-name">Policy No</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-row" *ngFor="let insurance of insurances">
                    <div class="user-card-row">
                        <div class="tbl-row">
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{ insurance.policyHoldersName  }}</p>
                            </div>
                            <div class="tbl-cell col-lg-3">
                                <p class="user-card-row-mail">{{ insurance.policyOwnerLabel }}</p>
                            </div>
                            <div class="tbl-cell col-lg-4">
                                <p class="user-card-row-mail">{{ insurance.insuranceCompanyCode }}</p>
                            </div>
                            <div class="tbl-cell col-lg-2">
                                <p class="user-card-row-mail">{{ insurance.policyNo }}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
</div>