<h3 class="with-border">Edit Room</h3>
<form [formGroup]="editroomform" (ngSubmit)="update()">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Name
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="editroomformControls.name.touched && !editroomformControls.name.valid">
                        <input formControlName="name" [ngModel]="room.name" type="text" class="form-control" placeholder="" [class.error]="!editroomformControls.name.valid">
                        <div class='error-list' *ngIf="editroomformControls.name.touched && !editroomformControls.name.valid">
                            <ul>
                                <li *ngIf="editroomformControls.name.hasError('required')">Name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Contact person name
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="editroomformControls.contactPersonName.touched && !editroomformControls.contactPersonName.valid">
                        <input formControlName="contactPersonName" [ngModel]="room.contactPersonName" type="text" class="form-control" placeholder="" [class.error]="!editroomformControls.contactPersonName.valid">
                        <div class='error-list' *ngIf="editroomformControls.contactPersonName.touched && !editroomformControls.contactPersonName.valid">
                            <ul>
                                <li *ngIf="editroomformControls.contactPersonName.hasError('required')">contact person name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Phone
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="editroomformControls.phone.touched && !editroomformControls.phone.valid">
                        <!--<input formControlName="phone" type="text" class="form-control" placeholder="" [class.error]="!editroomformControls.phone.valid">-->
                        <p-inputMask mask="999-999-9999" formControlName="phone" [ngModel]="room.phone" [class.error]="editroomformControls.phone.touched && !editroomformControls.phone.valid" 
                         placeholder="999-999-9999" styleClass="form-control"></p-inputMask>
                        <!--<input class="form-control" type="text" formControlName="phone" [ngModel]="room.phone" [class.error]="editroomformControls.phone.touched && !editroomformControls.phone.valid" />-->
                        <div class='error-list' *ngIf="editroomformControls.phone.touched && !editroomformControls.phone.valid">
                            <ul>
                                <li *ngIf="editroomformControls.phone.hasError('required')">Phone is required.</li>
                                <li *ngIf="editroomformControls.phone.hasError('mobileNoValidator')">Phone is invalid.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Tests
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="editroomformControls.tests.touched && !editroomformControls.tests.valid">
                        <!--<input formControlName="tests" type="text" class="form-control" placeholder="" [class.error]="!editroomformControls.tests.valid">-->
                        <select formControlName="tests" [ngModel]="test.id" class="selectpicker form-control" [class.error]="editroomformControls.tests.touched && !editroomformControls.tests.valid">
                            <option value="">-Select Tests-</option>
                            <option disabled>────────────────────</option>
                            <option *ngFor="let test of tests" value="{{test.id}}">{{test.name}}</option>
                        </select>
                        <div class='error-list' *ngIf="editroomformControls.tests.touched && !editroomformControls.tests.valid">
                            <ul>
                                <li *ngIf="editroomformControls.tests.hasError('required')">Tests is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    <button [disabled]="!editroomform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Update
        <loader [visible]="isSaveProgress"></loader>
    </button>		
    <a routerLink="../../" class="btn btn-secondary">Cancel</a>
    <!--<a [routerLink]="['/users']" class="btn btn-secondary">Cancel</a>-->
</form>