<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-push-2 col-md-12">
                <!-- <h5> General Settings for Patient </h5> -->
                <form [formGroup]="addUserSettings" (ngSubmit)="saveUserSettings()">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label"> Calender view prefference
                                            <!-- <span class="color-red">*</span> -->
                                        </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select formControlName="calendarViewId" [(ngModel)]="calendarViewId" type="text" class="form-control">
                                    <option value="1">Month View</option>
                                    <option value="2">Week View</option>
                                    <option value="3">Day View</option>
                                    <!--<option value="4">Day List View</option>-->
                                    <!--<option value="5">Week List View</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label"> Preferred UI View
                                            <!-- <span class="color-red">*</span> -->
                                        </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select formControlName="preferredUIViewId" [(ngModel)]="preferredUIViewId" type="text" class="form-control">
                                    <option value="1">Tab View  </option>
                                    <option value="2">Collapsable Panel View</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success">
                        Save
                        <loader [visible]="isSaveProgress"></loader>
                    </button>
                            <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
