<section class="tabs-section">
	<h5 class="with-border">Patient Name: {{patientName}} - Case Status: {{caseStatus}} - Case Type: {{caseType}}</h5>
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist" *ngIf="caseDetail">
				<li class="nav-item">
					<a class="nav-link" *ngIf="caseDetail.caseLabelEditable(sessionStore.session.currentCompany.id)" routerLink="basic" [routerLinkActive]="['active']"
					 role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>
					<a class="nav-link" *ngIf="!caseDetail.caseLabelEditable(sessionStore.session.currentCompany.id)" routerLink="basicLabel"
					 [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="consent" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Consent
						</span>
					</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="referrals" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Referrals
						</span>
					</a>
				</li>-->
				<li class="nav-item">
					<a class="nav-link" routerLink="insurances" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Insurance
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="family-members" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Family Member
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="employer" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Employment/School
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="documents" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Documents
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="accident" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Accident
						</span>
					</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="referring-offices" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Referring Offices
						</span>
					</a>
				</li>-->
				<li class="nav-item">
					<a class="nav-link" routerLink="patient-visit" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Visits
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="billings" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Billings
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="payment" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Payment
						</span>
					</a>
				</li>

			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">

			<router-outlet></router-outlet>

		</div>
	</div>
	<!--.tab-content-->
</section>
<!--.tabs-section-->