<section class="tabs-section" *ngIf="preferredUIViewId == 2">
	<h5>Patient Name: {{patientName}} - Case Status: {{caseStatus}} - Case Type: {{caseType}}</h5>
	<br>
	<!-- <section id="accordion">
	<div>
		<input type="checkbox" [(ngModel)]="currAccordion1" (change)="setContent()" name="accordion1" id="check-1" routerLink="basic"/>
		<label for="check-1">Option 1</label>
		<article *ngIf="currAccordion1">
			<p>
				<router-outlet></router-outlet>
			</p>
		</article>
	</div>
	<div>
		<input type="checkbox" [(ngModel)]="currAccordion2" (change)="setContent()" name="accordion2" id="check-2" routerLink="consent"/>
		<label for="check-2">Option 2</label>
		<article *ngIf="currAccordion2">
			<p>
				<router-outlet></router-outlet>
			</p>
		</article>
	</div>
	<div>
		<input type="checkbox" [(ngModel)]="currAccordion3" (change)="setContent()" name="accordion3" id="check-3" routerLink="insurances"/>
		<label for="check-3">Option 3</label>
		<article *ngIf="currAccordion3">
			<p>
				<router-outlet></router-outlet>
			</p>
		</article>
	</div>
</section> -->
	<!-- <section class="faq-container" id="accordion"> -->
	<!-- <section class="card" id="accordion"> -->
	<section class="faq-container" id="accordion">
		<div class="accordion">
			<input type="radio" value="basic" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="basic" routerLink="basic"
			 class="accordion-toggle" />
			<label for="basic">Basic</label>
			<section *ngIf="currAccordion=='basic'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="consent" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="consent" routerLink="consent"
			 class="accordion-toggle" />
			<label for="consent">Consent</label>
			<section *ngIf="currAccordion=='consent'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="insurances" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="insurances"
			 routerLink="insurances" class="accordion-toggle" />
			<label for="insurances">Insurances</label>
			<section *ngIf="currAccordion=='insurances'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="family-members" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="family-members"
			 routerLink="family-members" class="accordion-toggle" />
			<label for="family-members">Family Member</label>
			<section *ngIf="currAccordion=='family-members'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="employer" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="employer" routerLink="employer"
			 class="accordion-toggle" />
			<label for="employer">Employment/School</label>
			<section *ngIf="currAccordion=='employer'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="documents" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="documents"
			 routerLink="documents" class="accordion-toggle" />
			<label for="documents">Documents</label>
			<section *ngIf="currAccordion=='documents'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="prior-accident" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="prior-accident"
			 routerLink="prior-accident" class="accordion-toggle" />
			<label for="prior-accident">Prior Accident/Injuries</label>
			<section *ngIf="currAccordion=='prior-accident'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="accident" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="accident" routerLink="accident"
			 class="accordion-toggle" />
			<label for="accident">Accident</label>
			<section *ngIf="currAccordion=='accident'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="patient-visit" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="patient-visit"
			 routerLink="patient-visit" class="accordion-toggle" />
			<label for="patient-visit">Visits</label>
			<section *ngIf="currAccordion=='patient-visit'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="autoInformation" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="autoInformation"
			 routerLink="autoInformation" class="accordion-toggle" />
			<label for="autoInformation">Auto Information</label>
			<section *ngIf="currAccordion=='autoInformation'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
	</section>
</section>


<section class="tabs-section" *ngIf="preferredUIViewId == 1">
	<h5 class="with-border">Patient Name: {{patientName}} - Case Status: {{caseStatus}} - Case Type: {{caseType}}</h5>
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist" *ngIf="caseDetail">
				<li class="nav-item">
					<!--<a class="nav-link" *ngIf="caseDetail.caseLabelEditable(sessionStore.session.currentCompany.id)" routerLink="basic" [routerLinkActive]="['active']"
					 role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>-->
					<!--<a class="nav-link" *ngIf="!caseDetail.caseLabelEditable(sessionStore.session.currentCompany.id)" routerLink="basicLabel"
					 [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>-->
					<a class="nav-link" routerLink="basic" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="consent" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Consent
						</span>
					</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="referrals" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Referrals
						</span>
					</a>
				</li>-->
				<li class="nav-item">
					<a class="nav-link" routerLink="insurances" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Insurance
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="family-members" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Family Member
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="employer" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Employment/School
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="documents" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Documents
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="prior-accident" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Prior Accident/Injuries
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="accident" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Accident
						</span>
					</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="referring-offices" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Referring Offices
						</span>
					</a>
				</li>-->
				<li class="nav-item">
					<a class="nav-link" routerLink="patient-visit" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Visits
						</span>
					</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" routerLink="billings" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Billings
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="payment" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Payment
						</span>
					</a>
				</li> -->
				<li class="nav-item">
					<a class="nav-link" routerLink="autoInformation" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Auto Information
						</span>
					</a>
				</li>

			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">

			<router-outlet></router-outlet>

		</div>
	</div>
	<!--.tab-content-->
</section>
<!--.tabs-section-->