<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <h5 class="with-border">Add Patient</h5>
            <form [ngFormModel]="addpatientform" (ngSubmit)="savePatient()">
                <section class="card">
                    <header class="card-header card-header-lg">
                        Patient Information
                    </header>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group" [class.error]="firstname.control.touched && !firstname.valid">
                                    <input type="text" class="form-control" placeholder="First Name" [class.error]="!firstname.valid" #firstname="ngForm" ngControl="firstname">
                                    <div class='error-list' *ngIf="firstname.control.touched && !firstname.valid">
                                        <ul>
                                            <li *ngIf="firstname.control.hasError('required')">First Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group" [class.error]="lastname.control.touched && !lastname.valid">
                                    <input type="text" class="form-control" placeholder="Last Name" [class.error]="!lastname.valid" #lastname="ngForm" ngControl="lastname">
                                    <div class='error-list' *ngIf="lastname.control.touched && !lastname.valid">
                                        <ul>
                                            <li *ngIf="lastname.control.hasError('required')">Last Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="card">
                    <header class="card-header card-header-lg">
                        Contact Information
                    </header>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group" [class.error]="email.control.touched && !email.valid">
                                    <input type="email" [class.error]="!email.valid" class="form-control" placeholder="E-Mail" type="text" #email="ngForm" ngControl="email"
                                    />
                                    <div class='error-list' *ngIf="email.control.touched && !email.valid">
                                        <ul>
                                            <li *ngIf="email.control.hasError('required')">Email is required.</li>
                                            <li *ngIf="email.control.hasError('emailValidator')">Email is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group" [class.error]="mobileNo.control.touched && !mobileNo.valid">
                                    <input type="text" class="form-control" [class.error]="!mobileNo.valid" placeholder="Mobile No" #mobileNo="ngForm" ngControl="mobileNo"
                                    />
                                    <div class='error-list' *ngIf="mobileNo.control.touched && !mobileNo.valid">
                                        <ul>
                                            <li *ngIf="mobileNo.control.hasError('required')">Mobile number is required.</li>
                                            <li *ngIf="mobileNo.control.hasError('mobileNoValidator')">Mobile number is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <textarea rows="4" class="form-control" placeholder="Address" ngControl="address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                </section>
                <button [disabled]="!addpatientform.valid" type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSavePatientProgress"></loader>
                </button>
                <button type="button" class="btn btn-secondary sign-up">Cancel
                </button>
            </form>
        </div>
    </div>
</div>
<!--.page-center-->
<simple-notifications [options]="options"></simple-notifications>