<!--<a *ngIf="!router.isRouteActive(router.generate(['/Patients/AddPatient']))" class="pull-right m-b-md btn btn-primary" [routerLink]="['AddPatient']">Add Patient</a>-->
<a class="pull-right m-b-md btn btn-primary" [routerLink]="['/patients/add']">Add Patient</a>

<section class="tabs-section">
    <div class="tabs-section-nav tabs-section-nav-inline">
        <ul class="nav" role="tablist">
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" [routerLink]="['/patients']" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']">
                Patients								
			</a>
            </li>
            <li *ngFor="let selectedPatient of _patientsStore.selectedPatients | async" class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" [routerLinkActiveOptions]="{exact:true}" [routerLink]="[selectedPatient.id, '/profile']"
                    [routerLinkActive]="['active']">
			    {{ selectedPatient.firstname }}
                <span class="btn-close fa fa-times-circle-o" (click)="deselectPatient($event, selectedPatient)"></span>
			</a>
            </li>

        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">

            <router-outlet></router-outlet>

        </div>
    </div>
</section>