<div class="container-fluid" *ngIf="insuranceMaster">
    <h3 class="with-border">Edit Insurance master</h3>
    <form [formGroup]="editInsuranceMasterForm" (ngSubmit)="save()">
        <section class="card">
            <header class="card-header card-header-lg">
                Insurance master Information
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Company Code
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.companyCode.touched && !editInsuranceMasterFormControls.companyCode.valid">
                            <input formControlName="companyCode" [ngModel]="insuranceMaster.companyCode" type="text" class="form-control" placeholder=""
                                [class.error]="!editInsuranceMasterFormControls.companyCode.valid">
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.companyCode.touched && !editInsuranceMasterFormControls.companyCode.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.companyCode.hasError('required')">Company Code is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Company Name
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.companyName.touched && !editInsuranceMasterFormControls.companyName.valid">
                            <input formControlName="companyName" [ngModel]="insuranceMaster.companyName" type="text" class="form-control" placeholder=""
                                [class.error]="!editInsuranceMasterFormControls.companyName.valid">
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.companyName.touched && !editInsuranceMasterFormControls.companyName.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.companyName.hasError('required')">Company Name is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Zeus Id
                        <!--<span class="color-red">*</span>-->
                    </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.zeusId.touched && !editInsuranceMasterFormControls.zeusId.valid">
                            <input formControlName="zeusId" type="number" [ngModel]="insuranceMaster.zeusID" class="form-control" placeholder="" [class.error]="!editInsuranceMasterFormControls.zeusId.valid">
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.zeusId.touched && !editInsuranceMasterFormControls.zeusId.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.zeusId.hasError('required')">Zeus Id is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> 1500Form 
                            <!--<span class="color-red">*</span>-->
                        </label>
                        <div class="form-group">
                            <label class="form-check-label">
                        <input type="radio" value="1" name="Only1500Form" formControlName="Only1500Form" [(ngModel)]="Only1500Form"> Yes
                    </label>
                            <label class="form-check-label">
                        <input type="radio" value="0" name="Only1500Form" formControlName="Only1500Form" [(ngModel)]="Only1500Form"> No
                    </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Paper Authorization 
                            <!--<span class="color-red">*</span>-->
                        </label>
                        <div class="form-group">
                            <label class="form-check-label">
                        <input type="radio" value="1" name="paperAuthorization" formControlName="paperAuthorization" [(ngModel)]="paperAuthorization"> Yes
                    </label>
                            <label class="form-check-label">
                        <input type="radio" value="0" name="paperAuthorization" formControlName="paperAuthorization" [(ngModel)]="paperAuthorization"> No
                    </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Priority Billing 
                            <!--<span class="color-red">*</span>-->
                        </label>
                        <div class="form-group">
                            <label class="form-check-label">
                        <input type="radio" value="1" name="priorityBilling" formControlName="priorityBilling" [(ngModel)]="priorityBilling"> Yes
                    </label>
                            <label class="form-check-label">
                        <input type="radio" value="0" name="priorityBilling" formControlName="priorityBilling" [(ngModel)]="priorityBilling"> No
                    </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card">
            <header class="card-header card-header-lg">
                Contact Info
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> E-Mail
                                <span class="color-red">*</span>
                            </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.email.touched && !editInsuranceMasterFormControls.email.valid">
                            <input type="email" formControlName="email" [ngModel]="insuranceMaster.Contact.emailAddress" [class.error]="!editInsuranceMasterFormControls.email.valid"
                                class="form-control" type="text" placeholder="" />
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.email.touched && !editInsuranceMasterFormControls.email.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.email.hasError('required')">Email is required.</li>
                                    <li *ngIf="editInsuranceMasterFormControls.email.hasError('emailValidator')">Email is invalid.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Cellphone
                                <span class="color-red">*</span>
                            </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.cellPhone.touched && !editInsuranceMasterFormControls.cellPhone.valid">
                            <p-inputMask mask="+1 999-999-9999" formControlName="cellPhone" [ngModel]="insuranceMaster.Contact.cellPhone" [class.error]="editInsuranceMasterFormControls.cellPhone.touched && !editInsuranceMasterFormControls.cellPhone.valid"
                                placeholder="+1 999-999-9999" styleClass="form-control"></p-inputMask>
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.cellPhone.touched && !editInsuranceMasterFormControls.cellPhone.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.cellPhone.hasError('required')">Cellphone number is required.</li>
                                    <li *ngIf="editInsuranceMasterFormControls.cellPhone.hasError('mobileNoValidator')">Cellphone number is invalid.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Fax No</label>
                            <p-inputMask mask="9-999-999 9999" formControlName="faxNo" [ngModel]="insuranceMaster.Contact.faxNo" placeholder="9-999-999 9999"
                                styleClass="form-control"></p-inputMask>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Home Phone No</label>
                            <input formControlName="homePhone" [ngModel]="insuranceMaster.Contact.homePhone" type="text" class="form-control" placeholder=""
                            />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Work Phone No</label>
                            <input formControlName="workPhone" [ngModel]="insuranceMaster.Contact.workPhone" type="text" class="form-control" placeholder=""
                            />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Office Extension</label>
                            <input formControlName="officeExtension" [ngModel]="insuranceMaster.Contact.officeExtension" type="text" class="form-control"
                                placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Alternate E-Mail                                                                                                                                     
                                </label>
                            <div class="form-group" [class.error]="editInsuranceMasterFormControls.alternateEmail.touched && !editInsuranceMasterFormControls.alternateEmail.valid">
                                <input formControlName="alternateEmail" [ngModel]="insuranceMaster.Contact.alternateEmail" [class.error]="!editInsuranceMasterFormControls.alternateEmail.valid"
                                    class="form-control" type="text" placeholder="" />
                                <div class='error-list' *ngIf="editInsuranceMasterFormControls.alternateEmail.touched && !editInsuranceMasterFormControls.alternateEmail.valid">
                                    <ul>
                                        <li *ngIf="editInsuranceMasterFormControls.alternateEmail.hasError('emailValidator')">Email is invalid.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label"> Preferred Communication
                                        </label>
                            <select formControlName="preferredCommunication" [ngModel]="insuranceMaster.Contact.preferredCommunication" type="text" class="form-control"
                                placeholder="">
                                        <option value="">-Select -</option>
                                        <option disabled>────────────────────</option>
                                        <option value="1">Cellphone</option>
                                        <option value="2">Email</option>
                                        <option value="3">Work Phone</option>
                                        <option value="4">Post</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card">
            <header class="card-header card-header-lg">
                Address Info
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Address1
                         <!--<span class="color-red">*</span>-->
                            </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.address1.touched && !editInsuranceMasterFormControls.address1.valid">
                            <input formControlName="address1" [ngModel]="insuranceMaster.Address.address1" type="text" class="form-control" placeholder=""
                                [class.error]="!editInsuranceMasterFormControls.address1.valid">
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.address1.touched && !editInsuranceMasterFormControls.address1.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.address1.hasError('required')">Address1 is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Address2
                            </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.address2.touched && !editInsuranceMasterFormControls.address2.valid">
                            <input formControlName="address2" [ngModel]="insuranceMaster.Address.address2" type="text" class="form-control" placeholder=""
                                [class.error]="!editInsuranceMasterFormControls.address2.valid">
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.address2.touched && !editInsuranceMasterFormControls.address2.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.address2.hasError('required')">Address2 is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> State
                                <!--<span class="color-red">*</span>-->
                            </label>
                        <!--<div class="form-group" [class.error]="editInsuranceMasterFormControls.state.touched && !editInsuranceMasterFormControls.state.valid">
                        <select formControlName="state" [ngModel]="insuranceMaster.Address.state" type="text" class="form-control" placeholder="" [class.error]="editInsuranceMasterFormControls.state.touched && !editInsuranceMasterFormControls.state.valid">
                            <option value="0">-Select State-</option>
                            <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                            </select>
                        <div class='error-list' *ngIf="editInsuranceMasterFormControls.state.touched && !editInsuranceMasterFormControls.state.valid">
                            <ul>
                                <li *ngIf="editInsuranceMasterFormControls.state.hasError('required')">State is required.</li>
                            </ul>
                        </div>
                    </div>-->
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.state.touched && !editInsuranceMasterFormControls.state.valid">
                            <p-dropdown [options]="states" formControlName="state" [ngModel]="insuranceMaster.Address.state" [style]="{'width':'100%'}"
                                filter="filter"></p-dropdown>
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.state.touched && !editInsuranceMasterFormControls.state.valid">
                                <span class="color-red">State is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> City
                                <!--<span class="color-red">*</span>-->
                            </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.city.touched && !editInsuranceMasterFormControls.city.valid">
                            <input formControlName="city" [ngModel]="insuranceMaster.Address.city" type="text" class="form-control" [class.error]="editInsuranceMasterFormControls.city.touched && !editInsuranceMasterFormControls.city.valid"
                                placeholder="" />
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.city.touched && !editInsuranceMasterFormControls.city.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.city.hasError('required')">City is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Zip code
                                <!--<span class="color-red">*</span>-->
                            </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.zipCode.touched && !editInsuranceMasterFormControls.zipCode.valid">
                            <input formControlName="zipCode" [ngModel]="insuranceMaster.Address.zipCode" type="text" class="form-control" placeholder=""
                                [class.error]="!editInsuranceMasterFormControls.zipCode.valid">
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.zipCode.touched && !editInsuranceMasterFormControls.zipCode.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.zipCode.hasError('required')">zipCode is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Country
                                <!--<span class="color-red">*</span>-->
                            </label>
                        <div class="form-group" [class.error]="editInsuranceMasterFormControls.country.touched && !editInsuranceMasterFormControls.country.valid">
                            <!--<input formControlName="country" type="text" class="form-control" placeholder="" [class.error]="!editInsuranceMasterFormControls.country.valid">-->
                            <select formControlName="country" [ngModel]="insuranceMaster.Address.country" type="text" class="form-control" placeholder=""
                                [class.error]="editInsuranceMasterFormControls.country.touched && !editInsuranceMasterFormControls.country.valid">
                                        <option value="0">-Select -</option>
                                        <option disabled>────────────────────</option>
                                        <option value="US">United States</option>
                                    </select>
                            <div class='error-list' *ngIf="editInsuranceMasterFormControls.country.touched && !editInsuranceMasterFormControls.country.valid">
                                <ul>
                                    <li *ngIf="editInsuranceMasterFormControls.country.hasError('required')">Country is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button [disabled]="!editInsuranceMasterForm.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Update
        <loader [visible]="isSaveProgress"></loader>
    </button>
        <a [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>
    </form>
</div>