<div class="input-group">
<h3 class="with-border">Insurance Master
    <a class="pull-right btn btn-danger btn-sm" (click)="deleteInsuranceMasters()">
        <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Insurance master</span>
        <loader [visible]="isDeleteProgress"></loader>
    </a>
    <a class="pull-right btn-inline btn btn-primary btn-sm" [routerLink]="['add']"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add Insurance master</span>
    </a>    
</h3>
</div>
<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
         <span class="input-group-addon"><i class="fa fa-search"></i></span>
         <input #gb type="text" class="form-control" style="float:left" placeholder="Search Insurance master">
    </div>
</div>
<!--<p-dataTable [value]="insuranceMasters" [(selection)]="selectedInsuranceMasters" [lazy]="true" [rows]="10" [paginator]="true"
[totalRecords]="totalRecords" (onLazyLoad)="loadInsuranceMastersLazy($event)" [globalFilter]="gb" [responsive]="true">-->
<p-dataTable [value]="insuranceMasters" [(selection)]="selectedInsuranceMasters" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true">
    <header>InsuranceMasters List</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="companyName" header="Company Name" [sortable]="true">
            <ng-template let-insuranceMaster="rowData" pTemplate="body">
                <a title="Edit" routerLink="edit/{{insuranceMaster.id}}"><u>{{insuranceMaster.companyName}}</u></a>
            </ng-template>
    </p-column>
    <p-column field="companyCode" header="Company Code" [sortable]="true"></p-column>
    <p-column styleClass="actions-cell" header="Actions">
        <ng-template let-insuranceMaster="rowData" pTemplate="body">
            <a title="Edit" routerLink="edit/{{insuranceMaster.id}}"><i class="glyphicon glyphicon-edit"></i></a>
        </ng-template>
    </p-column>
</p-dataTable>