<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <h5 class="with-border">Add Doctor</h5>
            <form [formGroup]="doctorform" (ngSubmit)="saveDoctor()">
                <section class="card">
                    <header class="card-header card-header-lg">
                        Doctor Information
                    </header>
                    <div class="card-block" formGroupName="doctor">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> License Number
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.doctor.controls.licenseNumber.touched && !doctorformControls.doctor.controls.licenseNumber.valid">
                                    <input formControlName="licenseNumber" type="text" class="form-control" placeholder="" [class.error]="!doctorformControls.doctor.controls.licenseNumber.valid">
                                    <div class='error-list' *ngIf="doctorformControls.doctor.controls.licenseNumber.touched && !doctorformControls.doctor.controls.licenseNumber.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.doctor.controls.licenseNumber.hasError('required')">License Number is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <label class="form-label"> WCB Authorization
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.doctor.controls.wcbAuthorization.touched && !doctorformControls.doctor.controls.wcbAuthorization.valid">
                                    <input formControlName="wcbAuthorization" type="text" class="form-control" placeholder="" [class.error]="!doctorformControls.doctor.controls.wcbAuthorization.valid">
                                    <div class='error-list' *ngIf="doctorformControls.doctor.controls.wcbAuthorization.touched && !doctorformControls.doctor.controls.wcbAuthorization.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.doctor.controls.wcbAuthorization.hasError('required')">WCB Authorization is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <label class="form-label"> WCB RatingCode
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.doctor.controls.wcbRatingCode.touched && !doctorformControls.doctor.controls.wcbRatingCode.valid">
                                    <input formControlName="wcbRatingCode" type="text" class="form-control" placeholder="" [class.error]="!doctorformControls.doctor.controls.wcbRatingCode.valid">
                                    <div class='error-list' *ngIf="doctorformControls.doctor.controls.wcbRatingCode.touched && !doctorformControls.doctor.controls.wcbRatingCode.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.doctor.controls.wcbRatingCode.hasError('required')">WCB RatingCode is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>               
                        </div>
                        <div class="row"> 
                            <div class="col-lg-4">
                                <label class="form-label"> NPI
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.doctor.controls.npi.touched && !doctorformControls.doctor.controls.npi.valid">
                                    <input formControlName="npi" type="text" class="form-control" placeholder="" [class.error]="!doctorformControls.doctor.controls.npi.valid">
                                    <div class='error-list' *ngIf="doctorformControls.doctor.controls.npi.touched && !doctorformControls.doctor.controls.npi.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.doctor.controls.npi.hasError('required')">NPI is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <label class="form-label"> Tax type
                                            <span class="color-red">*</span>
                                        </label>
                                    <div class="form-group" [class.error]="doctorformControls.doctor.controls.taxType.touched && !doctorformControls.doctor.controls.taxType.valid">
                                        <select formControlName="taxType" class="selectpicker form-control" title="Select Tax Type." [class.error]="doctorformControls.doctor.controls.taxType.touched && !doctorformControls.doctor.controls.taxType.valid">
                                             <option value="">-Select Tax Type-</option>
                                             <option disabled>────────────────────</option>
                                             <option value="1">Tax1</option>
                                             <option value="2">Tax2</option>
                                         </select>
                                          <div class='error-list' *ngIf="doctorformControls.doctor.controls.taxType.touched && !doctorformControls.doctor.controls.taxType.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.doctor.controls.taxType.hasError('required')">Tax Type is required.</li>
                                        </ul>
                                    </div>    
                                    </div>
                               </div>  
                                                       
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> Title
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.doctor.controls.title.touched && !doctorformControls.doctor.controls.title.valid">
                                    <input formControlName="title" type="text" maxlength="10" class="form-control" placeholder="" [class.error]="!doctorformControls.doctor.controls.title.valid">
                                    <div class='error-list' *ngIf="doctorformControls.doctor.controls.title.touched && !doctorformControls.doctor.controls.title.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.doctor.controls.title.hasError('required')">Title is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> User <span class="color-red">*</span></label>
                                <div class="form-group" [class.error]="doctorformControls.doctor.controls.user.touched && !doctorformControls.doctor.controls.user.valid">
                                    <select formControlName="user" [(ngModel)]="userJS.id" class="selectpicker form-control" [class.error]="doctorformControls.doctor.controls.user.touched && !doctorformControls.doctor.controls.user.valid">
                                        <option value="0">-Select User-</option>
                                        <option disabled>────────────────────</option>
                                        <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} - {{user.lastName}}</option>
                                    </select>
                                    <div class='error-list' *ngIf="doctorformControls.doctor.controls.user.touched && !doctorformControls.doctor.controls.user.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.doctor.controls.user.hasError('selectedValueValidator')">User is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                                                       
                        </div>
                    </div>
                </section>
                <!--<section class="card">
                    <header class="card-header card-header-lg">
                        User Information
                    </header>
                    <div class="card-block" formGroupName="userInfo">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> Firstname
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.userInfo.controls.firstname.touched && !doctorformControls.userInfo.controls.firstname.valid">
                                    <input formControlName="firstname" type="text" class="form-control" placeholder="" [class.error]="!doctorformControls.userInfo.controls.firstname.valid">
                                    <div class='error-list' *ngIf="doctorformControls.userInfo.controls.firstname.touched && !doctorformControls.userInfo.controls.firstname.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.userInfo.controls.firstname.hasError('required')">First Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <label class="form-label"> Middlename
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.userInfo.controls.middlename.touched && !doctorformControls.userInfo.controls.middlename.valid">
                                    <input formControlName="middlename" type="text" class="form-control" placeholder="" [class.error]="!doctorformControls.userInfo.controls.middlename.valid">
                                    <div class='error-list' *ngIf="doctorformControls.userInfo.controls.middlename.touched && !doctorformControls.userInfo.controls.middlename.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.userInfo.controls.middlename.hasError('required')">Middle Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <label class="form-label"> Lastname
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.userInfo.controls.lastname.touched && !doctorformControls.userInfo.controls.lastname.valid">
                                    <input formControlName="lastname" type="text" class="form-control" placeholder="" [class.error]="!doctorformControls.userInfo.controls.lastname.valid">
                                    <div class='error-list' *ngIf="doctorformControls.userInfo.controls.lastname.touched && !doctorformControls.userInfo.controls.lastname.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.userInfo.controls.lastname.hasError('required')">Last Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                         
                          <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> Usertype
                                            <span class="color-red">*</span>
                                        </label>
                                    <div class="form-group" [class.error]="doctorformControls.userInfo.controls.userType.touched && !doctorformControls.userInfo.controls.userType.valid">
                                        <select formControlName="userType" class="selectpicker form-control" title="Select User Type." [class.error]="doctorformControls.userInfo.controls.userType.touched && !doctorformControls.userInfo.controls.userType.valid">
                                             <option value="">-Select UserType-</option>
                                             <option disabled>────────────────────</option>
                                             <option value="1" disabled>Admin</option>
                                             <option value="2" disabled>Owner</option>
                                             <option value="3" selected>Doctor</option>
                                             <option value="4" disabled>Patient</option>
                                             <option value="5" disabled>Attorney</option>
                                             <option value="6" disabled>Adjuster</option>
                                             <option value="7" disabled>Accounts</option>
                                         </select>
                                          <div class='error-list' *ngIf="doctorformControls.userInfo.controls.userType.touched && !doctorformControls.userInfo.controls.userType.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.userInfo.controls.userType.hasError('required')">User Type is required.</li>
                                        </ul>
                                    </div>    
                                    </div>
                               </div>                             
                        </div>
                        <div class="row">
                                <div class="col-lg-4">
                                    <label class="form-label"> Password
                                            <span class="color-red">*</span>
                                        </label>
                                    <div class="form-group" [class.error]="doctorformControls.userInfo.controls.password.touched && !doctorformControls.userInfo.controls.password.valid">
                                        <input formControlName="password" type="password" minlength='6' class="form-control" [class.error]="!doctorformControls.userInfo.controls.password.valid"
                                            placeholder="" />
                                        <div class='error-list' *ngIf="doctorformControls.userInfo.controls.password.touched && !doctorformControls.userInfo.controls.password.valid">
                                            <ul>
                                                <li *ngIf="doctorformControls.userInfo.controls.password.hasError('required')">Password is required.</li>
                                                <li *ngIf="doctorformControls.userInfo.controls.password.hasError('minlength')">Password should be minimum {{doctorformControls.userInfo.controls.password.errors.minlength.requiredLength}}
                                                    characters.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label"> Repeat Password
                                            <span class="color-red">*</span>
                                        </label>
                                    <div class="form-group" [class.error]="doctorformControls.userInfo.controls.confirmPassword.touched && doctorformControls.userInfo.hasError('mismatchedPasswords')">
                                        <input formControlName="confirmPassword" type="password" class="form-control" [class.error]="doctorformControls.userInfo.hasError('mismatchedPasswords')"
                                            placeholder="" />
                                        <div class='error-list' *ngIf="doctorformControls.userInfo.controls.confirmPassword.touched && doctorformControls.userInfo.hasError('mismatchedPasswords')">
                                            <ul>
                                                <li *ngIf="doctorformControls.userInfo.hasError('mismatchedPasswords')">Passwords do not match.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </section>
                
                <section class="card">
                    <header class="card-header card-header-lg">
                        Contact Information
                    </header>
                    <div class="card-block" formGroupName="contact" >
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> E-Mail
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.contact.controls.email.touched && !doctorformControls.contact.controls.email.valid">
                                    <input type="email" formControlName="email" [class.error]="!doctorformControls.contact.controls.email.valid" 
                                    class="form-control" type="text" placeholder="" />
                                    <div class='error-list' *ngIf="doctorformControls.contact.controls.email.touched && !doctorformControls.contact.controls.email.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.contact.controls.email.hasError('required')">Email is required.</li>
                                            <li *ngIf="doctorformControls.contact.controls.email.hasError('emailValidator')">Email is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> Cellphone
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.contact.controls.cellPhone.touched && !doctorformControls.contact.controls.cellPhone.valid">
                                    <input type="text" mask="999-999-9999" formControlName="cellPhone" [class.error]="doctorformControls.contact.controls.cellPhone.touched && !doctorformControls.contact.controls.cellPhone.valid" />
                                    <div class='error-list' *ngIf="doctorformControls.contact.controls.cellPhone.touched && !doctorformControls.contact.controls.cellPhone.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.contact.controls.cellPhone.hasError('required')">Cellphone number is required.</li>
                                            <li *ngIf="doctorformControls.contact.controls.cellPhone.hasError('mobileNoValidator')">Cellphone number is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group" >
                                        <label class="form-label"> Home Phone No</label>
                                    <input formControlName="homePhone" type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                        <label class="form-label"> Work Phone No</label>
                                    <input formControlName="workPhone" type="text" class="form-control" placeholder=""/>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                        <label class="form-label"> Fax No</label>
                                    <input formControlName="faxNo" type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                          </div> 
                          </div>
                  </section>
                
                <section class="card">
                    <header class="card-header card-header-lg">
                        Address Information
                    </header>
                    <div class="card-block" formGroupName="address">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> Address1
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.address.controls.address1.touched && !doctorformControls.address.controls.address1.valid">
                                    <input formControlName="address1" type="email" [class.error]="!doctorformControls.address.controls.address1.valid" class="form-control" placeholder=""
                                        type="text" />
                                    <div class='error-list' *ngIf="doctorformControls.address.controls.address1.touched && !doctorformControls.address.controls.address1.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.address.controls.address1.hasError('required')">Address1 is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <label class="form-label"> Address2
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.address.controls.address2.touched && !doctorformControls.address.controls.address2.valid">
                                    <input formControlName="address2" type="text" class="form-control" [class.error]="!doctorformControls.address.controls.address2.valid" placeholder=""
                                    />
                                    <div class='error-list' *ngIf="doctorformControls.address.controls.address2.touched && !doctorformControls.address.controls.address2.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.address.controls.address2.hasError('required')">Address2 is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> City
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.address.controls.city.touched && !doctorformControls.address.controls.city.valid">
                                    <input formControlName="city" type="text" class="form-control" [class.error]="!doctorformControls.address.controls.city.valid" placeholder=""
                                    />
                                    <div class='error-list' *ngIf="doctorformControls.address.controls.city.touched && !doctorformControls.address.controls.city.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.address.controls.city.hasError('required')">City is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> State
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.address.controls.state.touched && !doctorformControls.address.controls.state.valid">
                                      <input formControlName="state" type="text" list="states" name="mystate" [class.error]="!doctorformControls.address.controls.state.valid" class="form-control"/>
                                        <datalist id="states">
                                        	<option *ngFor="let state of states">{{ state }}</option>
                                        </datalist>
                                    <div class='error-list' *ngIf="doctorformControls.address.controls.state.touched && !doctorformControls.address.controls.state.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.address.controls.state.hasError('required')">State is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> Zipcode
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.address.controls.zipCode.touched && !doctorformControls.address.controls.zipCode.valid">
                                    <input formControlName="zipCode" type="text" class="form-control" [class.error]="!doctorformControls.address.controls.zipCode.valid" placeholder=""
                                    />
                                    <div class='error-list' *ngIf="doctorformControls.address.controls.zipCode.touched && !doctorformControls.address.controls.zipCode.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.address.controls.zipCode.hasError('required')">ZipCode is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> Country
                                        </label>
                                <div class="form-group" [class.error]="doctorformControls.address.controls.country.touched && !doctorformControls.address.controls.country.valid">
                                    <input formControlName="country" type="text" class="form-control" [class.error]="!doctorformControls.address.controls.country.valid" placeholder=""
                                    />
                                    <div class='error-list' *ngIf="doctorformControls.address.controls.country.touched && !doctorformControls.address.controls.country.valid">
                                        <ul>
                                            <li *ngIf="doctorformControls.address.controls.country.hasError('required')">Country is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </section>-->
                <button [disabled]="!doctorform.valid || isSaveDoctorProgress" type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveDoctorProgress"></loader>
                </button>
                <a [routerLink]="['/doctors']" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>