<h1 class="with-border">Doctors
<a class="pull-right m-b-md btn btn-primary" [routerLink]="['/doctors/add']">Add Doctor</a>
</h1>
<progress-bar [visible]="doctorsLoading">
    <span class="sr-only">Loading doctors...</span>
</progress-bar>
<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search Doctor">
</div>
<p-dataTable [value]="doctors" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true" [stacked]="stacked">
    <header>List of Doctors</header>
    <p-column field="doctor.doctorUser.firstName" header="First name" [sortable]="true" [filter]="true"></p-column>
    <p-column field="doctor.doctorUser.lastName" header="Last name" [sortable]="true" [filter]="true"></p-column>
    <p-column field="doctor.id" header="Doctor Id" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
   <p-column styleClass="col-button" header="Edit">
        <template let-doctor="rowData" pTemplate type="body">
        <a [routerLink]="['/doctors/update/', doctor.doctor.id]"><i class="glyphicon glyphicon-edit"></i></a>
        </template>
    </p-column>
</p-dataTable>
