<!--<div class="col-xl-6">-->
<progress-bar [visible]="doctorsLoading" 
              style="position:fixed;
                     top:0;
                     width:100%;
                     z-index:100;">
    <span class="sr-only">Loading doctors...</span>
</progress-bar>
   <div class="chart-statistic-box">
        <section class="card">
            <header class="card-header">
                Doctors Statistics
            </header>
            <div class="card-block">
                <p-chart *ngIf="!doctorsLoading" type="line" [data]="data" [options]="options" height="100em"></p-chart>
            </div>
        </section>
    </div>
<!--</div>-->