.page-content 
{
    padding-top: 95px;
}

.nav 
{
    .nav-item .btn-close 
    {
        color: darkred;
    }
}

.table tbody tr:hover td, 
.table tbody tr:hover th 
{
    background-color: #eeeeea;
    cursor: pointer;
}

.ui-inputtext.ui-state-focus, 
.ui-widget-content .ui-inputtext.ui-state-focus, 
.ui-widget-header .ui-inputtext.ui-state-focus 
{
    background: inherit;
    // border: inherit;
    box-shadow: none;
}

