<p-confirmDialog width="425"></p-confirmDialog>
<br>
<p-dataTable [value]="procedures" [(selection)]="selectedProcedures" [rows]="5" [paginator]="true" [globalFilter]="gb" [responsive]="true">
  <header>Procedures</header>
  <p-column selectionMode="multiple"></p-column>
  <p-column field="procedureCodeText" header="Procedure Code" [sortable]="true"></p-column>
  <p-column field="procedureCodeDesc" header="Description" [sortable]="true"></p-column>
</p-dataTable>
<br>

<h5 class="with-border">Selected Procedures</h5>
<div class="ui-widget-header row">
  <div class="col-lg-6 input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input #gb type="text" class="form-control" style="float:left" placeholder="Search ">
  </div>
  <div class="col-lg-6">
    <a class="pull-right btn btn-danger btn-sm" (click)="deleteProcedureCode()">
      <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Procedures </span>
      <loader [visible]="isDeleteProgress"></loader>
    </a>
  </div>
</div>
<p-dataTable [value]="selectedProcedures" [(selection)]="selectedProceduresToDelete" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true">
  <header>Procedures</header>
  <p-column selectionMode="multiple"></p-column>
  <!--<p-column field="displayName" header="Date of service" [sortable]="true"></p-column>-->
  <p-column field="procedureCodeText" header="Procedure Code"></p-column>
  <p-column field="procedureCodeDesc" header="Description"></p-column>
  <p-column field="amount" header="Amount"></p-column>
  <p-column field="userRole" header="Unit"></p-column>
  <p-column field="userRole" header="Total charge per day"></p-column>
  <!--<p-column field="userRole" header="Modifier" [sortable]="true"></p-column>-->
</p-dataTable>
<br>
<button class="btn btn-success sign-up" (click)="saveProcedures()">Save
    <loader [visible]="isSaveProgress"></loader>
</button>