<form [formGroup]="assignSpecialityForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-lg-12">
            <!--<p-checkbox formControlName="speciality" value="1" [(ngModel)]="selectedSpecialities" label="AC"></p-checkbox><br>-->
            <p-checkbox formControlName="speciality" value="2" [(ngModel)]="selectedSpecialities" label="CH"></p-checkbox><br>
            <p-checkbox formControlName="speciality" value="3" [(ngModel)]="selectedSpecialities" label="PT"></p-checkbox><br>
            <p-checkbox formControlName="speciality" value="4" [(ngModel)]="selectedSpecialities" label="ROM"></p-checkbox><br>
        </div>
    </div>
    <button [disabled]="isSaveProgress" type="submit" class="btn btn-success sign-up">Save
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>
</form>