<section *ngIf="preferredUIViewId == 2">
	<section class="faq-container" id="accordion">
		<div class="accordion">
			<input type="radio" value="basic" [(ngModel)]="currAccordion" (click)="setContent('basic')" name="accordion" id="basic" routerLink="basic"
			 class="accordion-toggle" />
			<label for="basic"> Basic </label>
			<section *ngIf="currAccordion=='basic'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="locations" [(ngModel)]="currAccordion" (click)="setContent('locations')" name="accordion" id="locations"
			 routerLink="locations" class="accordion-toggle" />
			<label for="locations"> Locations </label>
			<section *ngIf="currAccordion=='locations'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
	</section>
</section>

<!--<main-nav></main-nav>-->
<!--<medical-provider-nav></medical-provider-nav>-->
<section class="tabs-section" *ngIf="preferredUIViewId == 1">
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist">
				<li class="nav-item">
					<a class="nav-link" routerLink="basic" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="access" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Access
						</span>
					</a>
				</li>-->
				<!--<li class="nav-item doctorRole" id="doctorInfo" >
					<a class="nav-link" routerLink="doctorSpecificInformation" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Doctor's Information
						</span>
					</a>
				</li>-->
				<li class="nav-item doctorRole" id="doctorLocation">
					<a class="nav-link" routerLink="locations" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Locations
						</span>
					</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="billing" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Billing
						</span>
					</a>
				</li>-->
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">

			<router-outlet></router-outlet>

		</div>
	</div>
	<!--.tab-content-->
</section>
<!--.tabs-section-->