<section class="tabs-section">
	<div class="tabs-section-nav tabs-section-nav-inline">
		<ul class="nav" role="tablist">
			<li class="nav-item">
				<a class="nav-link" routerLink="basic" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
					Basic
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="demographics" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
					Demographics
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="insurances" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
					Insurances
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="balances" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
					Balances
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="documents" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
					Documents
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="appointments" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
					Appointments
				</a>
			</li>
		</ul>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">

            <router-outlet></router-outlet>

        </div>
	</div><!--.tab-content-->
</section><!--.tabs-section-->