// .site-header {
//     height: 50px;
//     padding-top: 5px;
// }

.site-header
{
    .site-header-collapsed
    {
        margin-right: -250px;
    }

    .site-header-content .site-header-content-in
    {
        margin-left: 80px;
    }

    .dropdown.dropdown-typical
    {
        a
        {
            line-height: 30px;
            color: #adb7be;
        }
    }
}