<section>
    <div class="mobile-menu-left-overlay" (click)="hideLeftMobileMenu()"></div>
    <nav class="side-menu side-menu-compact">
        <ul class="side-menu-list">
            <li class="brown" [routerLinkActive]="['opened']">
                <a routerLink="account-setting/procedure-codes">
                    <i class="fa fa-cog"></i>
                    <span class="lbl">Account Setting</span>
                </a>
            </li>
            <li class="brown" [routerLinkActive]="['opened']">
                <a routerLink="adjuster">
                    <i class="fa fa-address-card"></i>
                    <span class="lbl">Adjuster Master</span>
                </a>
            </li>
            <li class="brown" [routerLinkActive]="['opened']">
                <a routerLink="attorney">
                    <i class="fa fa-file-text"></i>
                    <span class="lbl">Attorney Master</span>
                </a>
            </li>
            <li class="brown" [routerLinkActive]="['opened']">
                <a routerLink="insurance-masters">
                    <i class="fa fa-university"></i>
                    <span class="lbl">Insurance Master</span>
                </a>
            </li>
            <li class="brown" [routerLinkActive]="['opened']">
                <a routerLink="medical-provider-master">
                    <i class="fa fa-file-text"></i>
                    <span class="lbl">Medical Provider Master</span>
                </a>
            </li>
        </ul>
    </nav>
</section>