<h1 class="with-border">Providers
<a class="pull-right m-b-md btn btn-primary" [routerLink]="['/providers/add']">Add Provider</a>
</h1>
<table class="table table-bordered table-fixed">
    <thead>
        <tr>
            <th>Name</th>
            <th>NPI</th>
            <th>Prefix</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let provider of _providersStore.providers | async | reverse">
            <td>{{ provider.name }}</td>
            <td>{{ provider.npi }}</td>
            <td>{{ provider.prefix }}</td>
        </tr>
    </tbody>
</table>