html
{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body
{
    margin: 0;
    padding: 0;
}

.simple-notification  {
    .sn-title, .sn-content {
        color: #fff;
    }
}