<p-confirmDialog width="425"></p-confirmDialog>
<h3> Diagnosis Codes </h3>
<div class="row">
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-12" style="padding-top: 10px;">
                <p-listbox [options]="diagnosisCodesArr" [(ngModel)]="selectedDiagnosis" multiple="multiple" styleClass="list-control" checkbox="checkbox"
                    filter="filter" [listStyle]="{'max-height':'350px'}">
                    <ng-template let-diagnosisCodes pTemplate="item">
                        {{diagnosisCodes.label}}
                    </ng-template>
                </p-listbox>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="ui-widget-header row">
            <div class="col-lg-4 input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input #gb type="text" class="form-control" style="float:left" placeholder="Search ">
            </div>
            <div class="col-lg-6">
            <div class="col-lg-4">
            <label class="form-label"> Group Name<span class="color-red">*</span></label>
            </div>
            <div class="col-lg-8">
             <input  type="text" [(ngModel)]="newDiagnosisTypeText" required [pattern]="unamePattern" class="form-control" style="float:left" placeholder="Group Name " #gname="ngModel">
             <div *ngIf="gname.errors?.pattern"> 
             <span class="color-red">Group name not valid.</span>
            </div> 
            </div>
        </div>
            <div class="col-lg-2">
            <a class="pull-right btn btn-danger btn-sm" (click)="deleteDiagnosisCodeMappings()" style="float:left">
                <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete</span>
                <loader [visible]="isDeleteProgress"></loader>
            </a>
            </div>
        </div>
        <p-dataTable [value]="selectedDiagnosis" [editable]="true" [(selection)]="selectedDiagnosisCodes" [rows]="10"
            [paginator]="true" [globalFilter]="gb" [responsive]="true">
            <header>Diagnosis Codes</header>
            <p-column selectionMode="multiple"></p-column>
            <p-column field="diagnosisCodeText" header="Diagnosis Code" [sortable]="true"></p-column>
            <p-column field="diagnosisCodeDesc" header="Description" [sortable]="true"></p-column>
        </p-dataTable>
        <br>
        <button class="btn btn-success sign-up" [disabled]="gname.errors?.pattern" (click)="saveDiagnosisCodes()">Save
            <loader [visible]="isSaveProgress"></loader>
        </button>
        <!--<a (click)="reset()" class="btn btn-secondary">Cancel</a>-->
        <a [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
    </div>
</div>