<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form class="sign-box" [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                <!--<div class="sign-avatar no-photo">+</div>
                <header class="sign-title">Sign Up</header>-->
            
                <div class="form-group" [class.error]="changePassFormControls.oldpassword.touched && !changePassFormControls.oldpassword.valid">
                    <input formControlName="oldpassword" type="password" minlength='6' class="form-control" [class.error]="!changePassFormControls.oldpassword.valid" placeholder="Old Password"
                    />
                    <div class='error-list' *ngIf="changePassFormControls.oldpassword.touched && !changePassFormControls.oldpassword.valid">
                        <ul>
                            <li *ngIf="changePassFormControls.oldpassword.hasError('required')">Old Password is required.</li>
                            <li *ngIf="changePassFormControls.oldpassword.hasError('minlength')">Password should be minimum {{changePassFormControls.oldpassword.errors.minlength.requiredLength}} characters.</li>
                        </ul>
                    </div>
                </div>
            
                <div class="form-group" [class.error]="changePassFormControls.password.touched && !changePassFormControls.password.valid">
                    <input formControlName="password" type="password" minlength='6' class="form-control" [class.error]="!changePassFormControls.password.valid" placeholder="New Password"
                    />
                    <div class='error-list' *ngIf="changePassFormControls.password.touched && !changePassFormControls.password.valid">
                        <ul>
                            <li *ngIf="changePassFormControls.password.hasError('required')">Password is required.</li>
                            <li *ngIf="changePassFormControls.password.hasError('minlength')">Password should be minimum {{changePassFormControls.password.errors.minlength.requiredLength}} characters.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" [class.error]="changePassFormControls.confirmPassword.touched && changePassForm.hasError('mismatchedPasswords')">
                    <input formControlName="confirmPassword" type="password" class="form-control" [class.error]="changePassForm.hasError('mismatchedPasswords')" placeholder="Repeat password" />
                    <div class='error-list' *ngIf="changePassFormControls.confirmPassword.touched && changePassForm.hasError('mismatchedPasswords')">
                        <ul>
                            <li *ngIf="changePassForm.hasError('mismatchedPasswords')">Passwords do not match.</li>
                        </ul>
                    </div>
                </div>
                <button [disabled]="!changePassForm.valid" type="submit" class="btn btn-success submit">Change Password
                    <loader [visible]="isPassChangeInProgress"></loader>
                </button>              
                <button type="button" class="btn btn-secondary" [routerLink]="['/dashboard']">Cancel
                </button>
            </form>
        </div>
    </div>
</div>
<!--.page-center-->
<simple-notifications [options]="options"></simple-notifications>