<h3 class="with-border">Add attorney</h3>
<form [formGroup]="attorneyform" (ngSubmit)="save()">
    <section class="card">
        <header class="card-header card-header-lg">
            Attorney Information
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> First Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyform.controls.firstname.touched && !attorneyform.controls.firstname.valid">
                        <input formControlName="firstname" type="text" class="form-control" placeholder="" [class.error]="!attorneyform.controls.firstname.valid">
                        <div class='error-list' *ngIf="attorneyform.controls.firstname.touched && !attorneyform.controls.firstname.valid">
                            <ul>
                                <li *ngIf="attorneyform.controls.firstname.hasError('required')">First Name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Middle Name</label>
                    <div class="form-group">
                        <input formControlName="middlename" type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Last Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyform.controls.lastname.touched && !attorneyform.controls.lastname.valid">
                        <input formControlName="lastname" type="text" class="form-control" placeholder="" [class.error]="!attorneyform.controls.lastname.valid">
                        <div class='error-list' *ngIf="attorneyform.controls.lastname.touched && !attorneyform.controls.lastname.valid">
                            <ul>
                                <li *ngIf="attorneyform.controls.lastname.hasError('required')">Last Name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                       <label class="form-label"> Gender
                                    <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyform.controls.gender.touched && !attorneyform.controls.gender.valid">
                        <select formControlName="gender" class="select2-arrow form-control" [class.error]="attorneyform.controls.gender.touched && !attorneyform.controls.gender.valid">
                                             <option value="">-Select Gender-</option>
                                             <option disabled>────────────────────</option>
                                             <option value="1">Male</option>
                                             <option value="2">Female</option>
                                             <option value="3">Others</option>
                                         </select>
                        <div class='error-list' *ngIf="attorneyform.controls.gender.touched && !attorneyform.controls.gender.valid">
                            <ul>
                                <li *ngIf="attorneyform.controls.gender.hasError('required')">Gender is required.</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Date of Birth
                                        </label>
                    <div class="form-group">
                        <div class='input-group date'>
                            <p-calendar formControlName="dob" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate" [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="1920:2050" showAnim="slideDown" [showIcon]="true" icon="font-icon font-icon-calend">
                                </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header card-header-lg">
            Attorney Contact
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> E-Mail
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyEmail.touched && !attorneyformControls.attorneyEmail.valid">
                        <input type="email" formControlName="attorneyEmail" [class.error]="!attorneyformControls.attorneyEmail.valid" class="form-control"
                            type="text" placeholder="" />
                        <div class='error-list' *ngIf="attorneyformControls.attorneyEmail.touched && !attorneyformControls.attorneyEmail.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.attorneyEmail.hasError('required')">Attorney Email is required.</li>
                                <li *ngIf="attorneyformControls.attorneyEmail.hasError('emailValidator')">Attorney Email is invalid.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Cellphone
                                <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyCellPhone.touched && !attorneyformControls.attorneyCellPhone.valid">
                        <p-inputMask mask="999-999-9999" formControlName="attorneyCellPhone" [class.error]="attorneyformControls.attorneyCellPhone.touched && !attorneyformControls.attorneyCellPhone.valid"
                            placeholder="999-999-9999" styleClass="form-control"></p-inputMask>
                            <div class='error-list' *ngIf="attorneyformControls.attorneyCellPhone.touched && !attorneyformControls.attorneyCellPhone.valid">
                                <ul>
                                    <li *ngIf="attorneyformControls.attorneyCellPhone.hasError('required')">Attorney Cellphone number is required.</li>
                                    <li *ngIf="attorneyformControls.attorneyCellPhone.hasError('mobileNoValidator')">Attorney Cellphone number is invalid.</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label"> Home Phone No</label>
                        <input formControlName="attorneyHomePhone" type="text" class="form-control" placeholder="" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label"> Work Phone No</label>
                        <input formControlName="attorneyWorkPhone" type="text" class="form-control" placeholder="" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label"> Fax No</label>
                        <p-inputMask mask="9-999-999 9999" formControlName="attorneyFaxNo" placeholder="9-999-999 9999" styleClass="form-control"></p-inputMask>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header card-header-lg">
            Attorney Address
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label"> Address1
                         <span class="color-red">*</span>
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyAddress.touched && !attorneyformControls.attorneyAddress.valid">
                        <input formControlName="attorneyAddress" type="text" class="form-control" placeholder="" [class.error]="!attorneyformControls.attorneyAddress.valid">
                        <div class='error-list' *ngIf="attorneyformControls.attorneyAddress.touched && !attorneyformControls.attorneyAddress.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.attorneyAddress.hasError('required')">Address is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Address2
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyAddress2.touched && !attorneyformControls.attorneyAddress2.valid">
                        <input formControlName="attorneyAddress2" type="text" class="form-control" placeholder="" [class.error]="!attorneyformControls.attorneyAddress2.valid">
                        <div class='error-list' *ngIf="attorneyformControls.attorneyAddress2.touched && !attorneyformControls.attorneyAddress2.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.attorneyAddress2.hasError('required')">Address2 is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> State
                                <!--<span class="color-red">*</span>-->
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyState.touched && !attorneyformControls.attorneyState.valid">
                        <select formControlName="attorneyState" type="text" (change)="selectState($event)" class="form-control" placeholder=""
                            [class.error]="attorneyformControls.attorneyState.touched && !attorneyformControls.attorneyState.valid">
                            <option value="">-Select State-</option>
                            <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                            </select>
                            <div class='error-list' *ngIf="attorneyformControls.attorneyState.touched && !attorneyformControls.attorneyState.valid">
                                <ul>
                                    <li *ngIf="attorneyformControls.attorneyState.hasError('required')">State is required.</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label class="form-label"> City
                                <!--<span class="color-red">*</span>-->
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyCity.touched && !attorneyformControls.attorneyCity.valid">
                        <select formControlName="attorneyCity" type="text" class="form-control" placeholder="" [class.error]="attorneyformControls.attorneyCity.touched && !attorneyformControls.attorneyCity.valid">
                            <option value="">-Select City-</option>
                            <option *ngFor="let city of Cities" value="{{city.citytext}}">{{city.citytext}}</option>
                        </select>
                        <div class='error-list' *ngIf="attorneyformControls.attorneyCity.touched && !attorneyformControls.attorneyCity.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.attorneyCity.hasError('required')">City is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 m-t-lg">
                    <loader [visible]="isattorneyCitiesLoading"></loader>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Zip code
                                <!--<span class="color-red">*</span>-->
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyZipcode.touched && !attorneyformControls.attorneyZipcode.valid">
                        <input formControlName="attorneyZipcode" type="text" class="form-control" placeholder="" [class.error]="!attorneyformControls.attorneyZipcode.valid">
                        <div class='error-list' *ngIf="attorneyformControls.attorneyZipcode.touched && !attorneyformControls.attorneyZipcode.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.attorneyZipcode.hasError('required')">Zipcode is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label"> Country
                                <!--<span class="color-red">*</span>-->
                            </label>
                    <div class="form-group" [class.error]="attorneyformControls.attorneyCountry.touched && !attorneyformControls.attorneyCountry.valid">
                        <input formControlName="attorneyCountry" type="text" class="form-control" placeholder="" [class.error]="!attorneyformControls.attorneyCountry.valid">
                        <div class='error-list' *ngIf="attorneyformControls.attorneyCountry.touched && !attorneyformControls.attorneyCountry.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.attorneyCountry.hasError('required')">Country is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button [disabled]="!attorneyform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Add
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
</form>