<h5 class="with-border">Add Preffered Attorney</h5>
<div class="form-group">
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input type="radio" value="1" name="attorneyMode" [(ngModel)]="attorneyMode"> Assign Preffered Attorney
        </label>
    </div>
    <div class="form-check  form-check-inline">
        <label class="form-check-label">
            <input type="radio" value="2" name="attorneyMode" [(ngModel)]="attorneyMode"> Add Preffered Attorney
        </label>
    </div>
</div>
<section class="card" [hidden]="attorneyMode != '1'">
    <header class="card-header card-header-lg">
        Search Attorney In Midas
    </header>
    <div class="card-block">
        <div class="row">
            <div class="col-lg-3">
                <label class="form-label">Attorney-List
                    <span class="color-red">*</span>
                </label>
                <div class="form-group">
                    <p-dropdown [options]="allAttorneys" [(ngModel)]="currentAttorneyId"
                        [style]="{'width':'100%'}" filter="filter"></p-dropdown>
                    <!--<div class='error-list' *ngIf="currentAttorneyId==''">
                        <span class="color-red">Attorney is required.</span>
                    </div>-->
                </div>
                <!--<div class="form-group">
                    <select type="text" [(ngModel)]="currentAttorneyId" class="form-control" placeholder="" (change)="selectAttorney($event)">
                        <option value="0">-Select Attorney-</option>
                        <option *ngFor="let attorney of allAttorneys"  value="{{attorney.id}}" >{{attorney.name}}</option>
                    </select>
                </div>-->
            </div>
            <div class="col-lg-4 m-t-lg">
                <a class="btn btn-success btn-sm" (click)="assignAttorneyToCompany()">
                    <i class="fa fa-plus fa-1x"></i><span class="hidden-md-down"> Assign Attorney To Company</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="card" [hidden]="attorneyMode != '2'">
    <header class="card-header card-header-lg">
        Add Preffered Attorney
    </header>
    <div class="card-block">
        <form [formGroup]="attorneyform" name="attorneyform" (ngSubmit)="saveAttorney()">
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> Company Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.companyName.touched && !attorneyformControls.companyName.valid">
                        <input formControlName="companyName" type="text" class="form-control" [class.error]="!attorneyformControls.companyName.valid"
                        />
                        <div class='error-list' *ngIf="attorneyformControls.companyName.touched && !attorneyformControls.companyName.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.companyName.pending">Checking...</li>
                                <li *ngIf="attorneyformControls.companyName.hasError('required')">Company Name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-label"> Company type
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.companyType.touched && !attorneyformControls.companyType.valid">
                        <select disabled [ngModel]=2 formControlName="companyType" class="selectpicker form-control" title="Select Company Type."
                            [class.error]="attorneyformControls.companyType.touched && !attorneyformControls.companyType.valid">
                                             <!--<option value="">-Select company type-</option>
                                             <option disabled>--------------------</option>-->
                                             <option value="2">Attorney</option>
                                             
                                         </select>
                        <div class='error-list' *ngIf="attorneyformControls.companyType.touched && !attorneyformControls.companyType.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.companyType.hasError('required')">Company type is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> First Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.firstName.touched && !attorneyformControls.firstName.valid">
                        <input formControlName="firstName" type="text" class="form-control" [class.error]="!attorneyformControls.firstName.valid"
                        />
                        <div class='error-list' *ngIf="attorneyformControls.firstName.touched && !attorneyformControls.firstName.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.firstName.hasError('required')">First name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <label class="form-label"> Last Name
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.lastName.touched && !attorneyformControls.lastName.valid">
                        <input formControlName="lastName" type="text" class="form-control" [class.error]="!attorneyformControls.lastName.valid" />
                        <div class='error-list' *ngIf="attorneyformControls.lastName.touched && !attorneyformControls.lastName.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.lastName.hasError('required')">Last name is required.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label"> E-Mail
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.email.touched && !attorneyformControls.email.valid">
                        <input formControlName="email" type="email" [class.error]="!attorneyformControls.email.valid" class="form-control" placeholder=""
                            type="text" />
                        <div class='error-list' *ngIf="attorneyformControls.email.touched && !attorneyformControls.email.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.email.hasError('required')">Email is required.</li>
                                <li *ngIf="attorneyformControls.email.hasError('emailValidator')">Email is invalid.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-label"> Phone number
                                            <span class="color-red">*</span>
                                        </label>
                    <div class="form-group" [class.error]="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid">
                        <p-inputMask mask="999-999-9999" formControlName="phoneNo" [class.error]="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid"
                            placeholder="999-999-9999" styleClass="form-control"></p-inputMask>
                        <!--<input formControlName="phoneNo" type="text" class="form-control" [class.error]="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid" />-->
                        <div class='error-list' *ngIf="attorneyformControls.phoneNo.touched && !attorneyformControls.phoneNo.valid">
                            <ul>
                                <li *ngIf="attorneyformControls.phoneNo.hasError('required')">Phone number is required.</li>
                                <li *ngIf="attorneyformControls.phoneNo.hasError('mobileNoValidator')">Phone number is invalid.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <button [disabled]="!attorneyform.valid ||  isSaveProgress " type="submit" class="btn btn-success sign-up">Save
                                <loader [visible]="isSaveProgress"></loader>
                            </button>
            <a *ngIf="inputCancel != 1" [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
            <a *ngIf="inputCancel == 1" (click)="closeDialog()" class="btn btn-secondary">Cancel</a>

        </form>
    </div>
</section>