<h1 class="with-border">Medical Facilities
<a class="pull-right m-b-md btn btn-primary" [routerLink]="['/medical-facilities/add']">Add Medical Facility</a>
</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Prefix</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicalFacility of _medicalFacilityStore.medicalFacilities | async | reverse">
            <td>{{ medicalFacility.medicalfacility.name }}</td>
            <td>{{ medicalFacility.medicalfacility.prefix }}</td>
        </tr>
    </tbody>
</table>