<h1 class="with-border">Speciality Details
    <button type="button" class="pull-right m-b-md btn btn-primary" (click)="showChildModal()">Add Speciality Detail</button>
</h1>
<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Associated Speciality</th>
                        <th>Speciality Detail Id</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let specialityDetail of specialityDetails">
                        <td>{{ specialityDetail.associatedSpeciality }}</td>
                        <td>{{ specialityDetail.id }}</td>
                        <td><button type="button" pButton (click)="updateSpecialityDetail(specialityDetail, medicalFacilityDetail)"
                                icon="glyphicon glyphicon-edit"></button></td>
                        <td><button type="button" pButton (click)="deleteSpecialityDetail(specialityDetail, medicalFacilityDetail)"
                                icon="glyphicon glyphicon-remove"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Speciality Detail</h4>
            </div>
            <div class="modal-body">
                <add-speciality-details [medicalFacilityDetail]="medicalFacilityDetail" (addSpecialityDetailSuccess)="hideChildModal()"></add-speciality-details>
            </div>
        </div>
    </div>
</div>
<simple-notifications [options]="options"></simple-notifications>