<h3 class="with-border">Edit Consent Form</h3>

<input type="radio" value="one" name="documentMode" [(ngModel)]="documentMode"> Scan Documents
<input type="radio" value="two" name="documentMode" [(ngModel)]="documentMode"> Upload Documents
<br>
<section class="card">
    <div class="card-block">
        <div class="col-lg-4">
            <label class="form-label">Doctor Name
                                <span class="color-red">*</span>
                            </label>

            <div [formGroup]="consentForm" class="form-group" [class.error]="consentformControls.doctor.touched && !consentformControls.doctor.valid">
                <select formControlName="doctor" [ngModel]="selectedDoctor" type="text" (change)="selectDoctor($event)" class="form-control"
                    placeholder="" [class.error]="consentformControls.doctor.touched && !consentformControls.doctor.valid">
                            <option value="">-Select Doctor-</option>
                            <option *ngFor="let doctors of doctors" value="{{doctors.id}}">{{doctors.user.firstName}}</option>
                            </select>
                <div class='error-list' *ngIf="consentformControls.doctor.touched && !consentformControls.doctor.valid">
                    <ul>
                        <li *ngIf="consentformControls.doctor.hasError('required')">Doctor is required.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="card" [hidden]="documentMode != 'one'">
    <header class="card-header card-header-lg">
        Scan Documents
    </header>
    <div class="card-block">
        <div class="row" *ngIf="twainSources.length > 0">
            <div class="col-md-4">
                <select [(ngModel)]="selectedTwainSource" class="form-control">
                    <option *ngFor="let source of twainSources" [ngValue]="source">
                        {{source.name}}
                    </option>
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" (click)="AcquireImage()">Scan</button>
                <button class="btn btn-secondary" [disabled]="isUploadInProgress" (click)="uploadDocuments()">Upload <loader [visible]="isSaveProgress"></loader></button>
            </div>
        </div>
        <div id="{{scannerContainerId}}">

        </div>
        <div class="alert alert-warning" *ngIf="twainSources.length == 0">
            <h4 class="alert-heading">Aww No!</h4>
            <p class="mb-0">There are no scanners found.</p>
        </div>
    </div>
</section>


<section class="card" [hidden]="documentMode != 'two'">

    <div class="card-block">
        <section class="card">
            <div class="form-group">
                <button type="submit" class="btn btn-success sign-up" (click)="GenerateConsentForm()">Generate Consent Form
        <!--<loader [visible]="isSaveProgress"></loader>-->
    </button>
                <label class="form-label" style="display: none">
<a href="/ConsentForm.pdf">Download Consent Form</a>

</label>



</div>
</section>
<div>

    <label class="form-label">Form Upload
                                <span class="color-red">*</span>
                            </label>


    <!--<div class="form-group" [class.error]="consentformControls.uploadedFile.touched && !consentformControls.uploadedFile.valid">

                    <p-fileUpload name="demo[]" formControlName="uploadedFile" class="form-control" url={{url}} (onUpload)="onUpload($event)"
                        maxFileSize="1000000" ngDefaultControl [class.error]="consentformControls.uploadedFile.touched && !consentformControls.uploadedFile.valid">
                        <ng-template pTemplate type="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                    <div class='error-list' *ngIf="consentformControls.uploadedFile.touched && !consentformControls.uploadedFile.valid">
                        <ul>
                            <li *ngIf="consentformControls.uploadedFile.hasError('required')">Doctor is required.</li>
                        </ul>
                    </div>
                </div>-->

    <p-growl [value]="msgs"></p-growl>
    <p-fileUpload name="demo[]" url={{url}} (onUpload)="onUpload($event)" maxFileSize="1000000">
        <ng-template pTemplate type="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>

    </p-fileUpload>
</div>



</div>
</section>

<br>
<div class="form-group">
    <button [disabled]="!consentForm.valid || isSaveProgress" type="submit" (click)="Save()" class="btn btn-success sign-up">Submit
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>

</div>