<div class="input-group">
    <h3 class="with-border">Consent
    </h3>
</div>
<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gb type="text" class="form-control" style="float:left" placeholder="Search ">
    </div>
</div>
<p-dataTable [value]="companies" [(selection)]="selectedConsentList" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gb" [responsive]="true">
    <header> List</header>
    <!--<p-column selectionMode="multiple"></p-column>-->
    <p-column field="name" header="Company Name"></p-column>
    <p-column field="companyTypeLabel" header="Company Type"></p-column>
    <p-column header="Case Id">
        <ng-template pTemplate="body">
            {{caseId}}
        </ng-template>
    </p-column>
    <p-column header="Consent Given">
        <ng-template let-company="rowData" pTemplate="body">
            <div *ngFor="let case of cases">
                <a *ngIf="case.isConsentReceived(company.id)" (click)="downloadConsent(case.caseCompanyConsentDocument, company.id)">
                    <u>Yes</u>
                </a>
                <a *ngIf="!case.isConsentReceived(company.id)" routerLink="{{case.id}}/{{company.id}}/add">
                    <u>No</u>
                </a>
            </div>
        </ng-template>
    </p-column>
    <!--<p-column field="" header="Signed/Unsigned" [sortable]="true"></p-column>-->
</p-dataTable>