<div *ngIf="existUsers">
    <p-dialog header="Exisiting Users" [(visible)]="displayExistPopup" [minWidth]="600" [width]="1200" [height]="450" width="300"
        [responsive]="true" [contentStyle]="{'overflow':'auto', 'max-height':'450px'}">

        <!-- <p-dataTable [value]="existUsers" [(selection)]="selectedUsers" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" [paginator]="true"
            [globalFilter]="gb" [responsive]="true">
            <header>Existing User</header>
            <p-column selectionMode="single"></p-column>
            <p-column field="id" header="User ID"> </p-column>
            <p-column field="displayName" header="Name"></p-column>
            <p-column field="userName" header="Email" [sortable]="true"></p-column>
        </p-dataTable> -->
        <!--<h3 class="with-border">View Case</h3>-->
        <!-- <div *ngIf="caseLabel"> -->
        <div class="row">
            <div class="col-lg-1">
                <label class="form-label">Name:
                            </label></div>
            <div class="col-lg-4">
                <label class="form-label">{{existUsers.firstName}} {{existUsers.lastName}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label class="form-label">Email:</label></div>
            <div class="col-lg-4">
                <label class="form-label">{{existUsers.userName}}
                        </label>
            </div>
        </div>
        <!-- </div> -->


        <div>
            <button type="button" pButton icon="fa-close" (click)="displayExistPopup=false" label="Cancel"></button>
            <button type="button" pButton icon="fa-check" (click)="associateUser()" label="Associate"></button>
        </div>

    </p-dialog>
</div>