<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
  <img width="300" src="assets\Midaslogo.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <button type="button" class="btn btn-link" (click)="getToken('http://localhost:4201/')"><h4>Medical Provider</h4></button>
  </li>
  <li>
    <button type="button" class="btn btn-link" (click)="getToken('http://localhost:4201/')"><h4>Patient Portal</h4></button>
  </li>
  <li>
    <button type="button" class="btn btn-link" (click)="getToken('http://localhost:4201/')"><h4>Attorney Portal</h4></button>
  </li>
  <li>
    <button type="button" class="btn btn-link" (click)="getToken('http://localhost:4201/')"><h4>Ancillary Portal</h4></button>
  </li>
</ul>