<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
  <img width="300" src="assets\Midaslogo.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="http://localhost:4201/#/dashboard">Medical Provider</a></h2>
  </li>
  <li>
    <h2><a href="http://patientdev.codearray.tk/#">Patient Portal</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://attorneydev.codearray.tk/#/dashboard">Attorney Portal</a></h2>
  </li>
</ul>