<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gbReferrals type="text" class="form-control" style="float:left" placeholder="Search Referral">
    </div>
</div>

<p-dataTable expandableRows="true" [value]="referrals" [(selection)]="selectedReferrals" [rows]="10" [paginator]="true" [pageLinks]="3"
    [rowsPerPageOptions]="[5,10,15,20]" [globalFilter]="gbReferrals" [responsive]="true">
    <header>Referrals List</header>
    <p-headerColumnGroup>
        <p-row>
            <p-column header="Visit Details" rowspan="2" styleClass="inbound-column"></p-column>
            <p-column header="Patient name" rowspan="2" styleClass="inbound-column"></p-column>
            <p-column header="Case Id" [style]="{'width':'50px'}" rowspan="2" styleClass="inbound-column"></p-column>
            <p-column header="Specialty" [style]="{'width':'100px'}" rowspan="2" styleClass=" inbound-column "></p-column>
            <p-column header="Referred To " colspan="2" styleClass="inbound-column-span "></p-column>
        </p-row>
        <p-row>
            <p-column header="Company" styleClass="inbound-column "></p-column>
            <p-column header="Doctor" styleClass="inbound-column "></p-column>
        </p-row>
    </p-headerColumnGroup>

    <p-column field="eventStart" [sortable]="true">
        <ng-template let-visit="rowData" pTemplate="body">
            <a *ngIf="visit.eventStart"(click)="showDialog(visit)">
                <u>{{visit.eventStart.format('MMMM Do YYYY')}}</u>
            </a>
        </ng-template>
    </p-column>
    <p-column field="patient.user.displayName"></p-column>
    <p-column field="caseId"></p-column>
    <p-column rowspan="2">
        <ng-template let-rowData="rowData" pTemplate="body">
            <div *ngIf="rowData.specialty && rowData.specialtyId">{{rowData.specialty.name}}</div>
            <div *ngIf="rowData.roomTest && rowData.roomTestId">{{rowData.roomTest.name}}</div>
        </ng-template>
    </p-column>
    <p-column field="medicalProviderName"></p-column>
    <p-column field="doctorName"></p-column>
</p-dataTable>

<p-dialog [width]="1200" [height]="500" (onAfterHide)="handleVisitDialogHide()" header="{{visitInfo}}" [(visible)]="unscheduledDialogVisible"
    [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'400px'}">
    <div *ngIf="unscheduledVisit && unscheduledDialogVisible">
        <unscheduled-visit-detail [selectedVisit]="unscheduledVisit" [routeFrom]="2" (closeDialog)="closeVisitDialog($event)"></unscheduled-visit-detail>
    </div>
</p-dialog>