<!--<img src="assets/theme/img/Events.png" alt="Dashboard" width="1200" height="500">-->
<div class="row">
<div class="col-xl-10 dahsboard-column">
<section class="box-typical box-typical-dashboard panel panel-default">
<img src="assets/theme/img/Events.png" alt="Dashboard" width="1200" height="500">
</section>
</div>
<div class="col-xl-2 dahsboard-column">
<section class="box-typical box-typical-dashboard panel panel-default">
<a href="https://www.eastcoastmedicalsupply.com/"><u>Cheap Syringes & Needles‎</u></a>
<p>Buy Syringes and Needles On Sale With Fast and Discreet Shipping!
Secure Ordering · Discreet Online Shopping · Free Shipping Over $200</p><br>
<a href="https://www.medical-and-lab-supplies.com/‎"><u>Medical and Lab Supplies - Medical-And-Lab-Supplies.com‎</u></a>
<p>Wholesale Prices on All Medical and Lab Supplies. Easy Online Ordering
Large Variety of Sizes · Multiple Payment Options</p><br>
<a href="https://www.keenhealthcare.com/Medical/Store‎/"><u>Medical Supply Store - Visit One Of Our Showrooms.‎</u></a>
<p>Extend Personal Mobility, Ease Pain & Explore How Keen Will Change Your Life.
Types: Bariatric Products, Bath Products, Beds, Mobility Aids, Transfer Equipment, Wheelchairs, Wheelchair Cushions</p><br>
<a href="https://www.techmedexperts.com/Medical-Experts/Fast‎/"><u>Medical Expert Witness - We Match Litigators w/ Experts‎</u></a>
<p>Get the Right Medical Expert Fast. We specialize in short deadlines. Call Today.
Services: Medical Consulting, Technical Consulting, Non-Legal Consulting</p>
</section>
</div>          
</div> 