<span><b>Client Information</b></span>
<p-dataTable [value]="clientReports">
    <p-column field="name" header="Client Name"></p-column>
    <p-column field="address" header="Client Address"></p-column>
    <p-column field="billing" header="Client Billing"></p-column>
    <p-column field="balance" header="Cost Balance"></p-column>
</p-dataTable>
<br>
<span><b>Client Settlements for last 36 months</b></span>
<p-dataTable [value]="clientSettlements">
    <p-column header="Month / Year" [style]="{'width':'150px'}">
	<ng-template let-col let-rowData="rowData" pTemplate="body">
		{{rowData.year}} / {{rowData.month}}
	</ng-template>
	</p-column>
    <p-column field="countOfCases" header="Count of Cases" [style]="{'width':'150px'}"></p-column>
    <p-column field="sumOfOpenClaim" header="Sum of Open Claim"></p-column>
    <p-column field="sumOfSettlementPrincipal" header="Sum of Settlement Principal"></p-column>
    <p-column field="sumOfSettlementInterest" header="Sum of Settlement Interest"></p-column>
    <p-column field="percentage" header="Percentage" [style]="{'width':'150px'}"></p-column>
</p-dataTable>
<br>
<span><b>Withdrawn Cases for last 36 months</b></span>
<p-dataTable [value]="withdrawnCases">
    <p-column header="Month / Year" [style]="{'width':'150px'}">
	<ng-template let-col let-rowData="rowData" pTemplate="body">
		{{rowData.year}} / {{rowData.month}}
	</ng-template>
	</p-column>
    <p-column field="countOfCases" header="Count of Cases" [style]="{'width':'150px'}"></p-column>
    <p-column field="sumOfOpenClaimAmount" header="Sum of Claim Amount"></p-column>
    <p-column field="sumOfBalance" header="Sum of Balance"></p-column>
    <p-column field="sumOfSettlementPrincipal" header="Sum of Settlement Principal"></p-column>
    <p-column field="percentage" header="Percentage" [style]="{'width':'150px'}"></p-column>
</p-dataTable>
<br>
<span><b>Client New Cases for last 36 months</b></span>
<p-dataTable [value]="clientNewCases">
    <p-column field="initialStatus" header="Initial Status"></p-column>
    <p-column header="Month / Year">
	<ng-template let-col let-rowData="rowData" pTemplate="body">
		{{rowData.year}} / {{rowData.month}}
	</ng-template>
	</p-column>
    <p-column field="countOfCases" header="Count of Cases"></p-column>
    <p-column field="sumOfOpenClaim" header="Sum of Open Claim"></p-column>
</p-dataTable>