input.disabled,
select.disabled {
    cursor: not-allowed;
    background-color: #dbe4ea;
    opacity: .65;
}

.page-content {
    padding-top: 55px;
    .control-panel & {
        padding-right: 0;
    }
    .with-side-menu-compact & {
        padding-left: 85px;
    }
}

.card-block {
    padding-bottom: 0;
}

.card-header {
    padding: .50rem 1.25rem;
}

.box-typical {
    &.box-typical-padding {
        padding: 10px 15px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.with-border {
        padding-bottom: 0.4rem;
    }
}

.nav {
    .nav-item .btn-close {
        color: darkred;
    }
}

.side-menu {
    &.side-menu-compact {
        padding-top: 50px;
    }
}

body {
    .ui-dialog {
        .ui-dialog-titlebar {
            .ui-dialog-title {
                font-weight: bold;
                font-size: 1em;
            }
        }
    }
    .ui-widget-header {
        padding: 0;
        border: none;
        margin-bottom: 10px;
    }
    .ui-datatable {
        border: 1px solid #c7c7c7;
        .ui-datatable-data,
        .ui-datatable-thead {
            tr {
                td,
                th {
                    padding: 0.3em 0.5em;
                    &.actions-cell {
                        width: 100px;
                    }
                    &.inbound-column {
                        border-right: 1px solid #c7c7c7 !important; // width: 38px;
                    }
                    &.inbound-column-span {
                        border-right: 1px solid #c7c7c7 !important;
                        text-align: center; // width: 38px;
                    }
                    &.ui-selection-column {
                        width: 38px;
                    }
                }
            }
        }
        .ui-datatable-data {
            border: none;
            tr {
                border: none;
                td {
                    border: none;
                }
            }
        }
        .ui-datatable-thead {
            tr {
                th {
                    text-align: left;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                }
            }
        }
        .ui-paginator {
            border: none;
            border-top: 1px solid #c7c7c7;
            margin-bottom: 0;
        }
    }
    .list-control {
        width: 100%;
    }
    .select-list {
        width: 300px;
    }
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
    font-size: 14px;
}

.table {
    tbody {
        tr:hover {
            td,
            th {
                background-color: #eeeeea;
                cursor: pointer;
            }
        }
    }
}

.ui-inputtext.ui-state-focus,
.ui-widget-content .ui-inputtext.ui-state-focus,
.ui-widget-header .ui-inputtext.ui-state-focus {
    background: inherit; // border: inherit;
    box-shadow: none;
}

.control-panel.open .notification-panel-container {
    width: 280px;
    display: block;
}

.fc-content {
    .fc-title,
    .fc-time,
    .fa {
        color: white;
    }
}

.ui-grid-row div {
    padding: 4px 10px;
    label {
        font-weight: bold;
    }
}

.warningMsg {
    color: red;
}

.with-side-menu-compact .page-content {
    padding-top: inherit;
}
.form-label {
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.site-header {
    background-color: #59c09d;
    .site-header-collapsed {
        background: #59c09d;
    }
}
// .site-header {
//     background-color: darkolivegreen;
// }

.site-header .header-alarm {
    opacity: 0.7;
}

.btn.btn-add {
    background-color: #59c09d;
    border-color: #59c09d;
}

.side-menu.side-menu-compact {
    width: 90px;
}
.side-menu.side-menu-compact .side-menu-list a {
    color: #222;
}
.side-menu.side-menu-compact .side-menu-list .lbl {
    font-size: 12px;
}
.side-menu.side-menu-compact .side-menu-list .fa {
    font-size: 22px;
    min-height: 10px;
}
.side-menu-list li.opened {
    background: #e5e5e5;
}
// .side-menu-list li {
//     line-height: 2px;
// }

.hamburger span {
    background: #e5e5e5;
    opacity: 0.7;
}
.hamburger span:before, .hamburger span:after {
    background-color: #e5e5e5;
    opacity: 0.7;
}
.site-header .burger-right i {
    color: #e5e5e5;
    opacity: 0.7;
}