// @import "compass/css3";

/* Bryan Levay -- Creative, technically. http://bryanlevay.com */
// $bg: #333;
$fg: #d3dee6;

// html, body {
//   height: 100%;
// }

// body {
//   background: $bg;
//   color: $fg;
//   font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
//   font-size: 11px;
//   line-height: 1.44;
//   font-weight: lighter;
// }

// p { margin: 1em; }

#scroll-me-all-night-long {
  overflow: auto;
  position: absolute;
  height: 200px;
  width: 500px;
  
  /* cenered centered */
  margin-top: -100px;
  margin-left: -250px;
  top: 50%;
  left: 50%;
}

$skinny: 4px;
// $fat: 8px;
$fat: 4px;

::-webkit-scrollbar {
  width: $fat;
}

::-webkit-scrollbar-track {
  border: 0 solid $fg;
  &:horizontal { border-bottom-width: 1px; }
  &:vertical { border-right-width: 1px; }
}

::-webkit-scrollbar-thumb {
  border: 0px solid $fg;
  
  &:horizontal { 
    border-bottom-width: $skinny;
    &:hover { border-bottom-width: $fat; }
  }
  
  &:vertical { 
    border-right-width: $skinny; 
    &:hover { border-right-width: $fat; }
  }
  
}
