<section *ngIf="preferredUIViewId == 2">
	<div class="accordion">
		<input type="radio" value="basic" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="basic" routerLink="basic"
		 class="accordion-toggle" />
		<label for="basic">Basic</label>
		<section *ngIf="currAccordion=='basic'">
			<p>
				<router-outlet></router-outlet>
			</p>
		</section>
	</div>
	<div class="accordion">
		<input type="radio" value="schedule" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="schedule" routerLink="schedule"
		 class="accordion-toggle" />
		<label for="schedule">Schedule</label>
		<section *ngIf="currAccordion=='schedule'">
			<p>
				<router-outlet></router-outlet>
			</p>
		</section>
	</div>
	<div class="accordion">
		<input type="radio" value="rooms" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="rooms"
		 routerLink="rooms" class="accordion-toggle" />
		<label for="rooms">Rooms</label>
		<section *ngIf="currAccordion=='rooms'">
			<p>
				<router-outlet></router-outlet>
			</p>
		</section>
	</div>
	<div class="accordion">
		<input type="radio" value="doctors" [(ngModel)]="currAccordion" (change)="setContent()" name="accordion" id="doctors"
		 routerLink="doctors" class="accordion-toggle" />
		<label for="doctors">Doctors</label>
		<section *ngIf="currAccordion=='doctors'">
			<p>
				<router-outlet></router-outlet>
			</p>
		</section>
	</div>
</section>

<section class="tabs-section" *ngIf="preferredUIViewId == 1">
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist">
				<li class="nav-item">
					<a class="nav-link" routerLink="basic" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
									</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="schedule" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Schedule
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="rooms" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Rooms
						</span>
					</a>
				</li>
					<li class="nav-item">
					<a class="nav-link" routerLink="doctors" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Doctors
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">
			<router-outlet></router-outlet>
		</div>
	</div>
</section>