<section>
    <div class="mobile-menu-left-overlay" (click)="hideLeftMobileMenu()"></div>
    <nav class="side-menu side-menu-compact">
        <ul class="side-menu-list">
            <li class="brown" [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/profile']">
                <!--<a [routerLink]="['/patient-manager/viewall']">-->
                    <i class="fa fa-users"></i>
                    <span class="lbl">Profile</span>
                </a>
            </li>
            <li class="brown" [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/cases']" >
                    <i class="fa fa-briefcase"></i>
                    <span class="lbl">Cases</span>
                </a>
            </li>
            <li class="brown" [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/patient-visit']">
                    <i class="fa fa-calendar"></i>
                    <span class="lbl">Visits</span>
                </a>
            </li>
            <!--<li class="brown" [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/referals']">
                    <i class="fa fa-refresh"></i>
                    <span class="lbl">Referals</span>
                </a>
            </li>
            <li class="brown" [routerLinkActive]="['opened']">
                <a [routerLink]="['/patient-manager/consentforms']">
                    <i class="fa fa-file-text"></i>
                    <span class="lbl">Consent Forms</span>
                </a>
            </li>-->
        </ul>
        
    </nav>
</section>