.signature-box
{
    border-bottom: 1px dotted #afafaf;
    padding: 10px;
    position: relative;
    color: #868686;
}

.signature-field-wrapper
{
    height: 300px;
}

.btn-clear-signature
{
    position: absolute;
    top: 20px;
    right: 20px;
}

.signature-field-help-text
{
    text-align: center;
    font-style: italic;
    color: #868686;
    margin-top: 10px;
}

.actions-container
{
    text-align: center;
    margin-bottom: 10px;
}