<div class="form-group">
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input type="radio" value="1" name="documentMode" [(ngModel)]="documentMode"> Scan Documents
        </label>
    </div>
    <div class="form-check  form-check-inline">
        <label class="form-check-label">
            <input type="radio" value="2" name="documentMode" [(ngModel)]="documentMode"> Upload Documents
        </label>
    </div>
</div>
<section class="card" [hidden]="documentMode != '1'">
    <header class="card-header card-header-lg">
        Scan Documents
    </header>
    <div class="card-block">
        <div *ngIf="twainSources.length > 0">
            <div class="row">
                <div class="col-md-4">
                    <select [(ngModel)]="selectedTwainSource" class="form-control">
                    <option *ngFor="let source of twainSources" [ngValue]="source">
                        {{source.name}}
                    </option>
                </select>
                </div>
                <div class="col-md-8">
                    <button class="btn btn-primary" (click)="acquireImage()"><i class="fa fa-file-text-o"></i> Scan</button>
                    <button class="btn btn-primary" [disabled]="dwObject.HowManyImagesInBuffer === 0" (click)="resetWebTwain()"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
            <div class="row m-t">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="scannedFileName" placeholder="File Name"/>
                    </div>

                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" [disabled]="dwObject.HowManyImagesInBuffer === 0" (click)="uploadScannedDocuments()"><i class="fa fa-upload"></i> Upload<loader [visible]="isSaveProgress"></loader></button>
                </div>
            </div>
        </div>
        <div id="{{scannerContainerId}}" style="width: 600px;margin-top: 10px;margin-bottom: 10px;">

        </div>
        <div class="alert alert-warning" *ngIf="twainSources.length == 0">
            <h4 class="alert-heading">Aww No!</h4>
            <p class="mb-0">There are no scanners found.</p>
        </div>
    </div>
</section>
<section class="card" [hidden]="documentMode != '2'">
    <header class="card-header card-header-lg">
        Upload Documents for Case
    </header>
    <div class="card-block">
        <p-fileUpload name="demo[]" url={{url}} multiple="multiple" (onError)="onFilesUploadError($event)" (onUpload)="onFilesUploadComplete($event)"
            maxFileSize="1000000">
            <ng-template pTemplate type="content">
                <!--<ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>-->
            </ng-template>
        </p-fileUpload>
    </div>
    <br>
</section>