<section class="tabs-section" *ngIf="preferredUIViewId == 2">
	<h3 class="with-border">Details of {{patientName}}
		<a *ngIf="!sessionStore.isOnlyAttorneyRole()" class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/'+patientId+'/add']"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add Case</span>
    </a>
		<a class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/',patientId]"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Case List</span>
    </a>
	</h3>
	<section class="faq-container" id="accordion">
		<div class="accordion">
			<input type="radio" value="viewall" [(ngModel)]="currAccordion" (click)="setContent('viewall')" name="accordion" id="viewall"
			 routerLink="viewall" class="accordion-toggle" />
			<label for="viewall">View All</label>
			<section *ngIf="currAccordion=='viewall'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="basic" [(ngModel)]="currAccordion" (click)="setContent('basic')" name="accordion" id="basic" routerLink="basic"
			 class="accordion-toggle" />
			<label for="basic">Basic</label>
			<section *ngIf="currAccordion=='basic'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
		<div class="accordion">
			<input type="radio" value="demographics" [(ngModel)]="currAccordion" (click)="setContent('demographics')" name="accordion" id="demographics"
			 routerLink="demographics" class="accordion-toggle" />
			<label for="demographics">Demographics</label>
			<section *ngIf="currAccordion=='demographics'">
				<p>
					<router-outlet></router-outlet>
				</p>
			</section>
		</div>
	</section>
</section>

<section class="tabs-section" *ngIf="preferredUIViewId == 1">
	<h3 class="with-border">Details of {{patientName}}
		<a  *ngIf="!sessionStore.isOnlyAttorneyRole()" class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/'+patientId+'/add']"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add Case</span>
    </a>
		<a class="pull-right btn-inline btn btn-add btn-sm" [routerLink]="['/patient-manager/cases/',patientId]"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Case List</span>
    </a>
	</h3>
	<div class="tabs-section-nav">
		<div class="tbl">
			<ul class="nav" role="tablist">
				<li class="nav-item">
					<a class="nav-link" routerLink="viewall" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					View All
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="basic" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Basic
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="demographics" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Demographics
						</span>
					</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="insurances" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Insurances
						</span>
					</a>
				</li>-->
				<!-- <li class="nav-item">
					<a class="nav-link" routerLink="family-members" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Family Member
						</span>
					</a>
				</li> -->
				<!-- <li class="nav-item">
					<a class="nav-link" routerLink="employer" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Employer
						</span>
					</a>
				</li> -->
				<!--<li class="nav-item">
					<a class="nav-link" routerLink="attorney" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Attorney
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="referring-offices" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Referring Offices
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="balances" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Balances
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="documents" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Documents
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="appointments" [routerLinkActive]="['active']" role="tab" data-toggle="tab">
						<span class="nav-link-in">
					Appointments
						</span>
					</a>
				</li>-->
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active">

			<router-outlet></router-outlet>

		</div>
	</div>
	<!--.tab-content-->
</section>
<!--.tabs-section-->