<div *ngIf="currentAccident && caseViewedByOriginator && (caseStatusId === 1)">
    <form [formGroup]="accidentform" (ngSubmit)="save()">
        <section class="card">
            <header class="card-header card-header-lg">
                Patient Accident Information
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Plate Number
                                <span class="color-red">*</span>
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.plateNumber.touched && !accidentformControls.plateNumber.valid">
                                <input type="text" formControlName="plateNumber" [ngModel]="currentAccident.plateNumber" [class.error]="!accidentformControls.plateNumber.valid"
                                    class="form-control" />

                                <div class='error-list' *ngIf="accidentformControls.plateNumber.touched && !accidentformControls.plateNumber.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.plateNumber.hasError('required')">Plate Number required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Date of Accident
                                <span class="color-red">*</span>
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.doa.touched && !accidentformControls.doa.valid">
                                <div class='input-group date'>
                                    <p-calendar formControlName="doa" [ngModel]="accidentDate" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2050" [class.error]="accidentformControls.doa.touched && !accidentformControls.doa.valid"
                                        showAnim="slideDown" [showIcon]="true" [showTime]="true" hourFormat="12" placeholder="Date of Accident"
                                        icon="font-icon font-icon-calend">
                                    </p-calendar>
                                </div>
                                <div class='error-list' *ngIf="accidentformControls.doa.touched && !accidentformControls.doa.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.doa.hasError('required')">Date Of Accident is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Date of Admission
                                <span class="color-red">*</span>
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.dot.touched && !accidentformControls.dot.valid">
                                <div class='input-group date'>
                                    <p-calendar formControlName="dot" [ngModel]="dateOfAdmission" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2050" [class.error]="accidentformControls.dot.touched && !accidentformControls.dot.valid"
                                        showAnim="slideDown" [showIcon]="true" placeholder="Date of Admission" icon="font-icon font-icon-calend">
                                    </p-calendar>
                                </div>
                                <div class='error-list' *ngIf="accidentformControls.dot.touched && !accidentformControls.dot.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.dot.hasError('required')">Date Of Admission is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Report Number
                                <span class="color-red">*</span>
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.reportNumber.touched && !accidentformControls.reportNumber.valid">
                                <input type="text" formControlName="reportNumber" [ngModel]="currentAccident.reportNumber" [class.error]="!accidentformControls.reportNumber.valid"
                                    class="form-control" />

                                <div class='error-list' *ngIf="accidentformControls.reportNumber.touched && !accidentformControls.reportNumber.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.reportNumber.hasError('required')">Report Number required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Medical Report Number                                   
                               </label>
                            <div class="form-group" [class.error]="accidentformControls.additionalPatient.touched && !accidentformControls.additionalPatient.valid">
                                <input formControlName="medicalReportNumber" [ngModel]="currentAccident.medicalReportNumber" type="text" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.additionalPatient.valid">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Describe Injury
                                    <span class="color-red">*</span>
                               </label>
                            <div class="form-group" [class.error]="accidentformControls.describeInjury.touched && !accidentformControls.describeInjury.valid">
                                <input formControlName="describeInjury" [ngModel]="currentAccident.describeInjury" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.describeInjury.valid">
                                <div class='error-list' *ngIf="accidentformControls.describeInjury.touched && !accidentformControls.describeInjury.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.describeInjury.hasError('required')">Describe Injury is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Additional Patient
                               </label>
                            <div class="form-group" [class.error]="accidentformControls.additionalPatient.touched && !accidentformControls.additionalPatient.valid">
                                <input formControlName="additionalPatient" [ngModel]="currentAccident.additionalPatients" type="text" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.additionalPatient.valid">
                                <div class='error-list' *ngIf="accidentformControls.additionalPatient.touched && !accidentformControls.additionalPatient.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.additionalPatient.hasError('required')">Additional Patient is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Weather
                               </label>
                            <div class="form-group" [class.error]="accidentformControls.weather.touched && !accidentformControls.weather.valid">
                                <input formControlName="weather" [ngModel]="currentAccident.weather" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.weather.valid">
                                <div class='error-list' *ngIf="accidentformControls.weather.touched && !accidentformControls.weather.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.weather.hasError('required')">Weather is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Precinct
                               </label>
                            <div class="form-group" [class.error]="accidentformControls.precinct.touched && !accidentformControls.precinct.valid">
                                <input formControlName="precinct" [ngModel]="currentAccident.precinct" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.precinct.valid">
                                <div class='error-list' *ngIf="accidentformControls.precinct.touched && !accidentformControls.precinct.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.precinct.hasError('required')">Precinct is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Patient Type 
                            <span class="color-red">*</span>
                        </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                    <input type="radio" value="1" name="patientType" formControlName="patientType" [ngModel]="patientTypeId"> Bicyclist
                                </label>
                                <label class="form-check-label">
                                    <input type="radio" value="2" name="patientType" formControlName="patientType" [ngModel]="patientTypeId"> Driver
                                </label>
                                <label class="form-check-label">
                                    <input type="radio" value="3" name="patientType" formControlName="patientType" [ngModel]="patientTypeId"> Passenger
                                </label>
                                <label class="form-check-label">
                                    <input type="radio" value="4" name="patientType" formControlName="patientType" [ngModel]="patientTypeId"> Pedestrain
                                </label>
                                <label class="form-check-label">
                                    <input type="radio" value="5" name="patientType" formControlName="patientType" [ngModel]="patientTypeId"> OD
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label"> Police at the scene? 
                                <!-- <span class="color-red">*</span> -->
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="policeAtScene" formControlName="policeAtScene" [ngModel]="policeAtScene"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="policeAtScene" formControlName="policeAtScene" [ngModel]="policeAtScene"> No
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label"> Wearing seatbelt? 
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="isWearingSeatbelt" formControlName="isWearingSeatbelt" [ngModel]="isWearingSeatbelt"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="isWearingSeatbelt" formControlName="isWearingSeatbelt" [ngModel]="isWearingSeatbelt"> No
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label"> Did the airbags deploy? 
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="isAirBagDeploy" formControlName="isAirBagDeploy" [ngModel]="isAirBagDeploy"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="isAirBagDeploy" formControlName="isAirBagDeploy" [ngModel]="isAirBagDeploy"> No
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label"> Ambulance? 
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="ambulance" formControlName="ambulance" [ngModel]="ambulance"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="ambulance" formControlName="ambulance" [ngModel]="ambulance"> No
                            </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Photos taken? 
                                </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                    <input type="radio" value="1" name="isPhotoTaken" formControlName="isPhotoTaken" [(ngModel)]="isPhotoTaken"> Yes
                                </label>
                                <label class="form-check-label">
                                    <input type="radio" value="0" name="isPhotoTaken" formControlName="isPhotoTaken" [(ngModel)]="isPhotoTaken"> No
                                </label> &nbsp;&nbsp;&nbsp;(if yes, please provide)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Any witnesses 
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="isAnyWitnesses" formControlName="isAnyWitnesses" [(ngModel)]="isAnyWitnesses"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="isAnyWitnesses" formControlName="isAnyWitnesses" [(ngModel)]="isAnyWitnesses"> No
                            </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4" *ngIf="isPhotoTaken=='1'">
                        <label class="form-label">Upload Photo
                                    </label>
                        <!-- <p-fileUpload mode="basic" name="demo[]" accept="image/*" maxFileSize="1000000" auto="true" customUpload="true" (uploadHandler)="myUploader($event)"
                            multiple="multiple" chooseLabel="Browse image to upload"></p-fileUpload>
                        <ul *ngIf="files.length">
                            <li *ngFor="let file of files">{{file.name}} - {{file.size}} bytes<a (click)="deletePhoto(file)"><i class="fa fa-close" style="color:red"></i></a></li>
                        </ul> -->
                        <p-fileUpload name="demo[]" accept="image/*" maxFileSize="1000000" auto="true" customUpload="true" (uploadHandler)="myUploader($event)"
                            multiple="multiple" chooseLabel="Browse image to upload"></p-fileUpload>
                    </div>
                    <div class="col-lg-8" *ngIf="isAnyWitnesses=='1'">
                        <div class="col-lg-3">
                            <div>
                                <label class="form-label">Name of witness
                                   </label>
                                <div class="form-group" [class.error]="accidentformControls.witnessName.touched && !accidentformControls.witnessName.valid">
                                    <input formControlName="witnessName" [(ngModel)]= "witnessName" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.witnessName.valid">
                                    <div class='error-list' *ngIf="accidentformControls.witnessName.touched && !accidentformControls.witnessName.valid">
                                        <ul>
                                            <li *ngIf="accidentformControls.witnessName.hasError('required')">Additional Patient is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div>
                                <label class="form-label">Phone number of witness
                                   </label>
                                <div class="form-group" [class.error]="accidentformControls.witnessPhoneNumber.touched && !accidentformControls.witnessPhoneNumber.valid">
                                    <input formControlName="witnessPhoneNumber" [(ngModel)]= "witnessPhoneNumber" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.witnessPhoneNumber.valid">
                                    <div class='error-list' *ngIf="accidentformControls.witnessPhoneNumber.touched && !accidentformControls.witnessPhoneNumber.valid">
                                        <ul>
                                            <li *ngIf="accidentformControls.witnessPhoneNumber.hasError('required')">Additional Patient is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 m-t-lg">
                            <a class="btn btn-add btn-sm" (click)="addWitness()"><i class="fa fa-plus" aria-hidden="true"></i>
                                    <span class="hidden-md-down">Add</span>
                                  </a>
                        </div>
                        <div class="col-lg-5">
                            <label class="form-label">Witness list
                        </label>
                            <p-dataTable [value]="witnesses" [(selection)]="selectedWitnesses" [responsive]="true">
                                <header>Witnesses</header>
                                <!-- <p-column selectionMode="multiple"></p-column> -->
                                <p-column field="witnessName" header="Witness Name" [sortable]="true"></p-column>
                                <p-column field="witnessContactNumber" header="Witness Phone Number" [sortable]="true"></p-column>
                                <p-column styleClass="actions-cell">
                                    <ng-template let-rowData="rowData" pTemplate="body">
                                        <a (click)="removeWitnessFromList(rowData.witnessName, rowData.witnessContactNumber)"><i class="fa fa-trash-o"></i></a>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Accident description
                                   </label>
                            <div class="form-group" [class.error]="accidentformControls.accidentDescription.touched && !accidentformControls.accidentDescription.valid">
                                <textarea rows="5" formControlName="accidentDescription" [ngModel]="currentAccident.accidentDescription" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.accidentDescription.valid"></textarea>
                                <div class='error-list' *ngIf="accidentformControls.accidentDescription.touched && !accidentformControls.accidentDescription.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.accidentDescription.hasError('required')">Additional Patient is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Hospital Name
                     <span class="color-red">*</span>
                        </label>
                            <div class="form-group" [class.error]="accidentformControls.hospitalName.touched && !accidentformControls.hospitalName.valid">
                                <input formControlName="hospitalName" [ngModel]="currentAccident.hospitalName" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.hospitalName.valid">
                                <div class='error-list' *ngIf="accidentformControls.hospitalName.touched && !accidentformControls.hospitalName.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.hospitalName.hasError('required')">Hospital Name is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label"> Treadted and Released? 
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="treatedAndReleased" formControlName="treatedAndReleased" [ngModel]="treatedAndReleased"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="treatedAndReleased" formControlName="treatedAndReleased" [ngModel]="treatedAndReleased"> No
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label"> Admitted?
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="admitted" formControlName="admitted" [ngModel]="admitted"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="admitted" formControlName="admitted" [ngModel]="admitted"> No
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label"> Did they take x-rays? 
                            </label>
                            <div class="form-group">
                                <label class="form-check-label">
                                <input type="radio" value="1" name="xraysTaken" formControlName="xraysTaken" [ngModel]="xraysTaken"> Yes
                            </label>
                                <label class="form-check-label">
                                <input type="radio" value="0" name="xraysTaken" formControlName="xraysTaken" [ngModel]="xraysTaken"> No
                            </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">How long were you in the hospital?
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.durationAtHospital.touched && !accidentformControls.durationAtHospital.valid">
                                <input formControlName="durationAtHospital" [ngModel]="currentAccident.durationAtHospital" type="text" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.durationAtHospital.valid">
                                <div class='error-list' *ngIf="accidentformControls.durationAtHospital.touched && !accidentformControls.durationAtHospital.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.durationAtHospital.hasError('required')">Duration at hospital is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-12">
                    <label class="form-label">Name(s) of medical facility and/or doctor you are treating with the accident:
                       </label>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            <label class="form-label">Medical facility name
                                   </label>
                            <div class="form-group" [class.error]="accidentformControls.treatmentMedicalFacilityName.touched && !accidentformControls.treatmentMedicalFacilityName.valid">
                                <input formControlName="treatmentMedicalFacilityName" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.treatmentMedicalFacilityName.valid">
                                <div class='error-list' *ngIf="accidentformControls.treatmentMedicalFacilityName.touched && !accidentformControls.treatmentMedicalFacilityName.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.treatmentMedicalFacilityName.hasError('required')">Medical facility name is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <label class="form-label">Doctor name
                                   </label>
                            <div class="form-group" [class.error]="accidentformControls.treatmentDoctorName.touched && !accidentformControls.treatmentDoctorName.valid">
                                <input formControlName="treatmentDoctorName" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.treatmentDoctorName.valid">
                                <div class='error-list' *ngIf="accidentformControls.treatmentDoctorName.touched && !accidentformControls.treatmentDoctorName.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.treatmentDoctorName.hasError('required')">Doctor name is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <label class="form-label">Contact number
                                   </label>
                            <div class="form-group" [class.error]="accidentformControls.treatmentContactNumber.touched && !accidentformControls.treatmentContactNumber.valid">
                                <input formControlName="treatmentContactNumber" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.treatmentContactNumber.valid">
                                <div class='error-list' *ngIf="accidentformControls.treatmentContactNumber.touched && !accidentformControls.treatmentContactNumber.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.treatmentContactNumber.hasError('required')">Contact number is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label class="form-label">Address
                                   </label>
                            <div class="form-group" [class.error]="accidentformControls.treatmentAddress.touched && !accidentformControls.treatmentAddress.valid">
                                <input formControlName="treatmentAddress" type="text" class="form-control" placeholder="" [class.error]="!accidentformControls.treatmentAddress.valid">
                                <div class='error-list' *ngIf="accidentformControls.treatmentAddress.touched && !accidentformControls.treatmentAddress.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.treatmentAddress.hasError('required')">Address is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 m-t-lg">
                        <a class="btn btn-add btn-sm" (click)="addTreatmentMedicalFacility()"><i class="fa fa-plus" aria-hidden="true"></i>
                                    <span class="hidden-md-down">Add</span>
                                  </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="form-label">List of medical facility 
                        </label>
                        <p-dataTable [value]="treatmentMedicalFacilities" [(selection)]="selectedTreatmentMedicalFacilities" [responsive]="true">
                            <header>Witnesses</header>
                            <!-- <p-column selectionMode="multiple"></p-column> -->
                            <p-column field="medicalFacilityName" header="Medical Facility Name" [sortable]="true"></p-column>
                            <p-column field="doctorName" header="Doctor Name" [sortable]="true"></p-column>
                            <p-column field="contactNumber" header="Contact Number" [sortable]="true"></p-column>
                            <p-column field="address" header="Address" [sortable]="true"></p-column>
                            <p-column styleClass="actions-cell">
                                <ng-template let-rowData="rowData" pTemplate="body">
                                    <a (click)="removeTreatmentMedicalFacilityFromList(rowData.medicalFacilityName, rowData.contactNumber)"><i class="fa fa-trash-o"></i></a>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
                <br>
            </div>
        </section>
        <section class="card">
            <header class="card-header card-header-lg">
                Accident Address
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Accident Address1
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.accidentAddress.touched && !accidentformControls.accidentAddress.valid">
                                <input formControlName="accidentAddress" [ngModel]="currentAccident.accidentAddress.address1" type="text" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.accidentAddress.valid">
                                <div class='error-list' *ngIf="accidentformControls.accidentAddress.touched && !accidentformControls.accidentAddress.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.accidentAddress.hasError('required')">Accident Address is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Accident Address2
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.accidentAddress2.touched && !accidentformControls.accidentAddress2.valid">
                                <input formControlName="accidentAddress2" [ngModel]="currentAccident.accidentAddress.address2" type="text" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.accidentAddress2.valid">
                                <div class='error-list' *ngIf="accidentformControls.accidentAddress2.touched && !accidentformControls.accidentAddress2.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.accidentAddress2.hasError('required')">Policy Address2 is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Accident State
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.accidentState.touched && !accidentformControls.accidentState.valid">
                                <select formControlName="accidentState" [ngModel]="currentAccident.accidentAddress.state" type="text" class="form-control"
                                    placeholder="" [class.error]="accidentformControls.accidentState.touched && !accidentformControls.accidentState.valid">
                                <option value="">-Select State-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select>
                                <div class='error-list' *ngIf="accidentformControls.accidentState.touched && !accidentformControls.accidentState.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.accidentState.hasError('required')">Accident State is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Accident City
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.accidentCity.touched && !accidentformControls.accidentCity.valid">
                                <input formControlName="accidentCity" [ngModel]="currentAccident.accidentAddress.city" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.accidentCity.valid">
                                <div class='error-list' *ngIf="accidentformControls.accidentCity.touched && !accidentformControls.accidentCity.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.accidentCity.hasError('required')">Accident City is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Accident Zip code
                                <!--<span class="color-red">*</span>-->
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.accidentZipcode.touched && !accidentformControls.accidentZipcode.valid">
                                <input formControlName="accidentZipcode" [ngModel]="currentAccident.accidentAddress.zipCode" type="text" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.accidentZipcode.valid">
                                <div class='error-list' *ngIf="accidentformControls.accidentZipcode.touched && !accidentformControls.accidentZipcode.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.accidentZipcode.hasError('required')">Accident Zipcode is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Accident Country   
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.accidentCountry.touched && !accidentformControls.accidentCountry.valid">
                                <input formControlName="accidentCountry" [ngModel]="currentAccident.accidentAddress.country" type="text" class="form-control"
                                    placeholder="" [class.error]="!accidentformControls.accidentCountry.valid">
                                <div class='error-list' *ngIf="accidentformControls.accidentCountry.touched && !accidentformControls.accidentCountry.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.accidentCountry.hasError('required')">Accident Country is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card">
            <header class="card-header card-header-lg">
                Hospital Address
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Address1
                     
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.address.touched && !accidentformControls.address.valid">
                                <input formControlName="address" [ngModel]="currentAccident.hospitalAddress.address1" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.address.valid">
                                <div class='error-list' *ngIf="accidentformControls.address.touched && !accidentformControls.address.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.address.hasError('required')">Address is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label">Address2
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.address2.touched && !accidentformControls.address2.valid">
                                <input formControlName="address2" [ngModel]="currentAccident.hospitalAddress.address2" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.address2.valid">
                                <div class='error-list' *ngIf="accidentformControls.address2.touched && !accidentformControls.address2.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.address2.hasError('required')">Address is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> State    
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.state.touched && !accidentformControls.state.valid">
                                <select formControlName="state" [ngModel]="currentAccident.hospitalAddress.state" type="text" class="form-control" placeholder=""
                                    [class.error]="accidentformControls.state.touched && !accidentformControls.state.valid">
                                <option value="">-Select State-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select>
                                <div class='error-list' *ngIf="accidentformControls.state.touched && !accidentformControls.state.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.state.hasError('required')">State is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> City
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.city.touched && !accidentformControls.city.valid">
                                <input formControlName="city" [ngModel]="currentAccident.hospitalAddress.city" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.city.valid">
                                <div class='error-list' *ngIf="accidentformControls.city.touched && !accidentformControls.city.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.city.hasError('required')">City is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Zip code        
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.zipcode.touched && !accidentformControls.zipcode.valid">
                                <input formControlName="zipcode" [ngModel]="currentAccident.hospitalAddress.zipCode" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.zipcode.valid">
                                <div class='error-list' *ngIf="accidentformControls.zipcode.touched && !accidentformControls.zipcode.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.zipcode.hasError('required')">Zipcode is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label class="form-label"> Country
                               
                            </label>
                            <div class="form-group" [class.error]="accidentformControls.country.touched && !accidentformControls.country.valid">
                                <input formControlName="country" [ngModel]="currentAccident.hospitalAddress.country" type="text" class="form-control" placeholder=""
                                    [class.error]="!accidentformControls.country.valid">
                                <div class='error-list' *ngIf="accidentformControls.country.touched && !accidentformControls.country.valid">
                                    <ul>
                                        <li *ngIf="accidentformControls.country.hasError('required')">Country is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button *ngIf="(caseStatusId === 1) && (caseViewedByOriginator == true)" [disabled]="!accidentform.valid || isSaveProgress"
            type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
        <a *ngIf="caseStatusId === 1" [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<div *ngIf="currentAccident && (!caseViewedByOriginator || caseStatusId === 2)">
    <section class="card">
        <header class="card-header card-header-lg">
            Patient Accident Information
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Plate Number
                            </label>

                        <label>{{currentAccident.plateNumber}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Date of Accident
                            </label>
                        <label>{{accidentDateLabel}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Date of Admission
                            </label>

                        <label>{{dateOfAdmissionLabel}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Report Number
                            </label>

                        <label>{{currentAccident.reportNumber}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Hospital Name
                            </label>
                        <label>{{currentAccident.hospitalName}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Describe Injury
                            </label>

                        <label>{{currentAccident.describeInjury}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Patient Type 
                            </label>

                        <label>{{currentAccident.patientTypeLabel}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Medical Report Number 
                            </label>
                        <label>{{currentAccident.medicalReportNumber}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Additional Patient 
                            </label>

                        <label>{{currentAccident.additionalPatients}}</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header card-header-lg">
            Accident Address
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Accident Address1 
                            </label>

                        <label>{{currentAccident.accidentAddress.address1}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Accident Address2 
                            </label>
                        <label>{{currentAccident.accidentAddress.address2}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Accident State 
                            </label>
                        <label>{{currentAccident.accidentAddress.state}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Accident City 
                            </label>

                        <label>{{currentAccident.accidentAddress.city}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Accident Zip code
                            </label>
                        <label>{{currentAccident.accidentAddress.zipCode}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Accident Country
                            </label>
                        <label>{{currentAccident.accidentAddress.country}}</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header card-header-lg">
            Hospital Address
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Address1
                            </label>

                        <label>{{currentAccident.hospitalAddress.address1}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Address2
                            </label>

                        <label>{{currentAccident.hospitalAddress.address2}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> State
                            </label>

                        <label>{{currentAccident.hospitalAddress.state}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> City
                            </label>
                        <label>{{currentAccident.hospitalAddress.city}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Zip code
                            </label>

                        <label>{{currentAccident.hospitalAddress.zipCode}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <label class="form-label"> Country
                            </label>

                        <label>{{currentAccident.hospitalAddress.country}}</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a *ngIf="caseStatusId === 1" [routerLink]="['../../']" class="btn btn-secondary">Cancel</a>
</div>
<!--<div *ngIf="accidents.length == 0 && caseViewedByOriginator == false ">
 <h3>No Information Available</h3>    
</div>-->