<input type="radio" value="1" name="searchMode" [(ngModel)]="searchMode"> Search by Speciality
<input type="radio" value="2" name="searchMode" [(ngModel)]="searchMode"> Search by Room

<form [formGroup]="referralForm" (ngSubmit)="save()">
    <section class="card" *ngIf="searchMode == 1">
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label"> Speciality <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select formControlName="speciality" type="text" (change)="selectSpeciality($event)" class="form-control">
                            <option value="">-Select Speciality-</option>
                            <option *ngFor="let speciality of specialities" value="{{speciality.id}}">{{speciality.specialityCode}} - {{speciality.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ui-widget-header row">
                        <div class="col-lg-4 input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input #gb type="text" class="form-control" style="float:left" placeholder="Search Doctor">
                        </div>
                    </div>
                    <p-dataTable [value]="doctors" [(selection)]="selectedDoctor" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true"
                        [stacked]="stacked">
                        <header>Doctors</header>
                        <p-column selectionMode="single"></p-column>
                        <p-column field="user.displayName" header="Doctor Name" [sortable]="true"></p-column>
                        <p-column field="user.userName" header="Email" [sortable]="true"></p-column>
                        <p-column field="" header="Company" [sortable]="true"></p-column>
                        <p-column field="" header="Location" [sortable]="true"></p-column>
                        <!--<p-column field="user.doctorSpecialities" header="Speciality" [sortable]="true">
                            <ng-template let-currentReferral="rowData" pTemplate="body">
                                {{getCurrentDoctorSpeciality(currentReferral)}}
                            </ng-template>
                        </p-column>-->
                    </p-dataTable>
                </div>
            </div>
        </div>
    </section>
    <section class="card" *ngIf="searchMode == 2">
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label"> Test <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select formControlName="tests" (change)="selectTest($event)" class="selectpicker form-control">
                            <option value="">-Select Test-</option>
                            <option disabled>────────────────────</option>
                            <option *ngFor="let test of tests" value="{{test.id}}">{{test.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ui-widget-header row">
                        <div class="col-lg-4 input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input #gb type="text" class="form-control" style="float:left" placeholder="Search Room">
                        </div>
                    </div>
                    <p-dataTable [value]="rooms" [(selection)]="selectedRoom" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true"
                        [stacked]="stacked">
                        <p-column selectionMode="single"></p-column>
                        <p-column field="name" header="Name" [sortable]="true"></p-column>
                        <p-column field="phone" header="Phone" [sortable]="true"></p-column>
                        <p-column field="roomTest.name" header="Tests Provided" [sortable]="true"></p-column>
                        <p-column field="location.name" header="Location" [sortable]="true"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Notes
                            </label>
                    <div class="form-group" [class.error]="referralFormControls.note.touched && !referralFormControls.note.valid">
                        <textarea formControlName="note" class="form-control" rows="3" [class.error]="referralFormControls.note.touched && !referralFormControls.note.valid"></textarea>
                        <div class='error-list' *ngIf="referralFormControls.note.touched && !referralFormControls.note.valid">
                            <ul>
                                <li *ngIf="referralFormControls.note.hasError('required')">Please enter Notes.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button [disabled]="!referralForm.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
        <loader [visible]="isSaveProgress"></loader>
    </button>
    <a [routerLink]="['../']" class="btn btn-secondary">Cancel</a>
</form>