<form [formGroup]="consentForm">
    <section class="card">
        <header class="card-header card-header-lg">
            Add Consent Form
        </header>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">Doctor Name
                                <span class="color-red">*</span>
                            </label>

                    <div class="form-group" [class.error]="consentformControls.doctor.touched && !consentformControls.doctor.valid">
                        <select formControlName="doctor" type="text" (change)="selectDoctor($event)" class="form-control" placeholder="" [class.error]="consentformControls.doctor.touched && !consentformControls.doctor.valid">
                            <option value="">-Select Doctor-</option>
                            <option *ngFor="let doctors of doctors" value="{{doctors.id}}">{{doctors.user.firstName}}</option>
                            </select>
                        <div class='error-list' *ngIf="consentformControls.doctor.touched && !consentformControls.doctor.valid">
                            <ul>
                                <li *ngIf="consentformControls.doctor.hasError('required')">Doctor is required.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <label class="form-label">
                               <a href="/ConsentForm.pdf">Download Sample</a>
                               
                            </label>

                <label class="form-label">Form Upload
                                <span class="color-red">*</span>
                            </label>


                <!--<div class="form-group" [class.error]="consentformControls.uploadedFile.touched && !consentformControls.uploadedFile.valid">

                    <p-fileUpload name="demo[]" formControlName="uploadedFile" class="form-control" url={{url}} (onUpload)="onUpload($event)"
                        maxFileSize="1000000" ngDefaultControl [class.error]="consentformControls.uploadedFile.touched && !consentformControls.uploadedFile.valid">
                        <ng-template pTemplate type="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                    <div class='error-list' *ngIf="consentformControls.uploadedFile.touched && !consentformControls.uploadedFile.valid">
                        <ul>
                            <li *ngIf="consentformControls.uploadedFile.hasError('required')">Doctor is required.</li>
                        </ul>
                    </div>
                </div>-->

                <p-growl [value]="msgs"></p-growl>
                <p-fileUpload name="demo[]" url={{url}} (onUpload)="onUpload($event)" maxFileSize="1000000">
                    <ng-template pTemplate type="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>

                </p-fileUpload>
            </div>

            <br>
            <div class="form-group">
                <button [disabled]="!consentForm.valid || isSaveProgress" type="submit" (click)="Save()" class="btn btn-success sign-up">Submit
        <loader [visible]="isSaveProgress"></loader>
    </button>
                <a [routerLink]="['../']" class="btn btn-secondary">Cancel</a>

            </div>

        </div>
    </section>



</form>