<h3 class="with-border">{{title}}</h3>
<div *ngIf="autoInformation">
    <form [formGroup]="autoInfoform" (ngSubmit)="save()">
        <section class="card">
            <header class="card-header card-header-lg">
                Plaintiff's Vehicle
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label">Plate
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="autoInfoformControls.txtPlate.touched && !autoInfoformControls.txtPlate.valid">
                            <input type="text" formControlName="txtPlate" [ngModel]="autoInformation.vehicleNumberPlate" [class.error]="!autoInfoformControls.txtPlate.valid"
                                class="form-control" type="text" placeholder="" />
                            <div class='error-list' *ngIf="autoInfoformControls.txtPlate.touched && !autoInfoformControls.txtPlate.valid">
                                <ul>
                                    <li *ngIf="autoInfoformControls.txtPlate.hasError('required')">Plate is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> State
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                        <div class="form-group" [class.error]="autoInfoformControls.state.touched && !autoInfoformControls.state.valid">
                            <select formControlName="state" type="text" [ngModel]="autoInformation.state" class="form-control" placeholder="" [class.error]="autoInfoformControls.state.touched && !autoInfoformControls.state.valid">
                                <option value="">-Select State-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select>
                            <div class='error-list' *ngIf="autoInfoformControls.state.touched && !autoInfoformControls.state.valid">
                                <ul>
                                    <li *ngIf="autoInfoformControls.state.hasError('required')">State is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Make/Model
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="autoInfoformControls.txtModel.touched && !autoInfoformControls.txtModel.valid">
                            <input type="text" formControlName="txtModel" [ngModel]="autoInformation.vehicleMakeModel" [class.error]="!autoInfoformControls.txtModel.valid"
                                class="form-control" type="text" placeholder="" />
                            <div class='error-list' *ngIf="autoInfoformControls.txtModel.touched && !autoInfoformControls.txtModel.valid">
                                <ul>
                                    <li *ngIf="autoInfoformControls.txtModel.hasError('required')">Model is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Make/Model And Year
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="autoInfoformControls.txtModelYear.touched && !autoInfoformControls.txtModelYear.valid">
                            <input type="text" formControlName="txtModelYear" [ngModel]="autoInformation.vehicleMakeYear" [class.error]="!autoInfoformControls.txtModelYear.valid"
                                class="form-control" type="text" placeholder="" />
                            <div class='error-list' *ngIf="autoInfoformControls.txtModelYear.touched && !autoInfoformControls.txtModelYear.valid">
                                <ul>
                                    <li *ngIf="autoInfoformControls.txtModelYear.hasError('required')">Model Year is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Insurance Company
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                        <div class="form-group">
                            <!-- <select formControlName="insuranceCompany" type="text" class="form-control" placeholder="">
                                <option value="">-Select Insurance-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select> -->
                            <input type="text" formControlName="insuranceCompany" [ngModel]="autoInformation.vehicleInsuranceCompanyName" class="form-control"
                                type="text" placeholder="" />

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Policy
                                          
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtPolicy" [ngModel]="autoInformation.vehiclePolicyNumber" class="form-control" type="text"
                                placeholder="" />

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Claim                                       
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtClaim" [ngModel]="autoInformation.vehicleClaimNumber" class="form-control" type="text"
                                placeholder="" />

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Where is the vehicle located?
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtVehicalLocated" [ngModel]="autoInformation.vehicleLocation" class="form-control" type="text"
                                placeholder="" />

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Description of damage to vehicle                                           
                                        </label>
                        <div class="form-group">
                            <!-- <input type="text" formControlName="txtPolicy" class="form-control" type="text" placeholder="" /> -->
                            <textarea rows="2" formControlName="txtVehicalDesc" [ngModel]="autoInformation.vehicleDamageDiscription" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label class="form-label"> Does a relative residing in client's household own a vehicle?                         
                    </label>
                        <div class="form-group">
                            <p-radioButton formControlName="relativesVehicle" name="relativesVehicle" value="1" label="Yes" [(ngModel)]="isrelativesVehicle"></p-radioButton>
                            <p-radioButton formControlName="relativesVehicle" name="relativesVehicle" value="0" label="No" [(ngModel)]="isrelativesVehicle"></p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="isrelativesVehicle == '1'">
                    <div class="col-lg-2">
                        <label class="form-label">  Make/Model                                         
                                        </label>
                        <div class="form-group">
                            <input formControlName="relModel" [ngModel]="autoInformation.relativeVehicleMakeModel" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label class="form-label"> Year                                       
                                        </label>
                        <div class="form-group">
                            <input formControlName="relModelYear" [ngModel]="autoInformation.relativeVehicleMakeYear" type="text" class="form-control"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label"> Name of Owner                                          
                                        </label>
                        <div class="form-group">
                            <input formControlName="relOwnerName" type="text" [ngModel]="autoInformation.relativeVehicleOwnerName" class="form-control"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label">  Insurance Company                                          
                                        </label>
                        <div class="form-group">
                            <input formControlName="relInsuranceCompany" type="text" [ngModel]="autoInformation.relativeVehicleInsuranceCompanyName"
                                class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label class="form-label">  Policy                                         
                                        </label>
                        <div class="form-group">
                            <input formControlName="relPolicy" type="text" [ngModel]="autoInformation.relativeVehiclePolicyNumber" class="form-control"
                                placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label">Do you need help in resolving the damage to your vehicle?
                                           
                                        </label>
                        <div class="form-group">
                            <p-radioButton formControlName="helpinDamageResolved" name="helpinDamageResolved" value="1" label="Yes" [(ngModel)]="ishelpinDamageResolved"></p-radioButton>
                            <p-radioButton formControlName="helpinDamageResolved" name="helpinDamageResolved" value="0" label="No" [(ngModel)]="ishelpinDamageResolved"></p-radioButton>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Is your vehicle drivable?
                                          
                                        </label>
                        <div class="form-group">
                            <p-radioButton formControlName="vehicleDrivable" name="vehicleDrivable" value="1" label="Yes" [(ngModel)]="isvehicleDrivable"></p-radioButton>
                            <p-radioButton formControlName="vehicleDrivable" name="vehicleDrivable" value="0" label="No" [(ngModel)]="isvehicleDrivable"></p-radioButton>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Estimated Damage
                                           
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtEstimatedDamage" [ngModel]="autoInformation.vehicleEstimatedDamage" class=" form-control
                                " type="text " placeholder=" " />

                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 ">
                        <label class="form-label "> Do you have title to your vehicle?
                                           
                                        </label>
                        <div class="form-group ">
                            <p-radioButton formControlName="titletoVehicle" name="titletoVehicle" value="1 " label="Yes
                                " [(ngModel)]="istitletoVehicle "></p-radioButton>
                            <p-radioButton formControlName="titletoVehicle" name="titletoVehicle" value="0 " label="No
                                " [(ngModel)]="istitletoVehicle "></p-radioButton>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label "> Owner Name
                                        </label>
                        <div class="form-group ">
                            <input type="text " formControlName="txtOwnerName" [ngModel]="autoInformation.vehicleOwnerName
                                " class="form-control " type="text " placeholder=" " />
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <label class="form-label ">Operator Name
                                        </label>
                        <div class="form-group ">
                            <input type="text " formControlName="txtOperatorName" [ngModel]="autoInformation.vehicleOperatorName
                                " class="form-control " type="text " placeholder=" " />
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div *ngIf="defendantAutoInformation">
            <section class="card ">
                <header class="card-header card-header-lg ">
                    Defendant's Vehicle
                </header>
                <div class="card-block">
                    <div class="row ">
                        <div class="col-lg-4 ">
                            <label class="form-label ">Plate
                                        </label>
                            <div class="form-group ">
                                <input type="text" formControlName="txtDefendantPlate" [ngModel]="defendantAutoInformation.vehicleNumberPlate" class="form-control"
                                    placeholder=" " />
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <label class="form-label "> State                                            
                                        </label>
                            <div class="form-group ">
                                <select formControlName="defendantState" [ngModel]="defendantAutoInformation.state" type="text" class="form-control" placeholder=" ">
                                <option value=" ">-Select State-</option>
                                <option *ngFor="let state of states " value="{{state.statetext}} ">{{state.statetext}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <label class="form-label ">Owner Name
                                        </label>
                            <div class="form-group ">
                                <input type="text" formControlName="txtDefendantOwnerName" [ngModel]="defendantAutoInformation.vehicleOwnerName" class="form-control"
                                    placeholder=" " />
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-4 ">
                            <label class="form-label "> Make/Model 
                                        </label>
                            <div class="form-group">
                                <input type="text" formControlName="txtDefendantModel" [ngModel]="defendantAutoInformation.vehicleMakeModel" class="form-control "
                                    placeholder=" " />
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <label class="form-label "> Make/Model Year
                                        </label>
                            <div class="form-group ">
                                <input type="text" formControlName="txtDefendantModelYear" [ngModel]="defendantAutoInformation.vehicleMakeYear" class="form-control"
                                    placeholder=" " />
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <label class="form-label ">Operator Name
                                        </label>
                            <div class="form-group">
                                <input type="text" formControlName="txtDefendantOperatorName" [ngModel]="defendantAutoInformation.vehicleOperatorName" class="form-control"
                                    placeholder=" " />
                            </div>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-lg-4 ">

                            <label class="form-label ">  Insurance Company                                          
                                        </label>
                            <div class="form-group ">
                                <input formControlName="defendantInsuranceCompany" type="text" [ngModel]="defendantAutoInformation.vehicleInsuranceCompanyName"
                                    class="form-control " placeholder=" ">
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <label class="form-label ">Policy                                         
                                        </label>
                            <div class="form-group ">
                                <input type="text" formControlName="txtDefendantPolicy" class="form-control" [ngModel]="defendantAutoInformation.vehiclePolicyNumber"
                                    placeholder=" " />

                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <label class="form-label "> Claim                                         
                                        </label>
                            <div class="form-group ">
                                <input type="text" formControlName="txtDefendantClaim" class="form-control" [ngModel]="defendantAutoInformation.vehicleClaimNumber"
                                    placeholder=" " />

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <button [disabled]="!autoInfoform.valid || isSaveProgress " type="submit " class="btn btn-success sign-up ">Save
                    <loader [visible]="isSaveProgress "></loader>
                </button>
        <a [routerLink]="[ '/patient-manager/cases'] " class="btn btn-secondary ">Cancel</a>

    </form>
</div>