<div>
    <form [formGroup]="autoInfoform" (ngSubmit)="save()">
        <section class="card">
            <header class="card-header card-header-lg">
                Plaintiff's Vehicle
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label">Plate
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="autoInfoformControls.txtPlate.touched && !autoInfoformControls.txtPlate.valid">
                            <input type="text" formControlName="txtPlate" [class.error]="!autoInfoformControls.txtPlate.valid" class="form-control" type="text"
                                placeholder="" />
                            <div class='error-list' *ngIf="autoInfoformControls.txtPlate.touched && !autoInfoformControls.txtPlate.valid">
                                <ul>
                                    <li *ngIf="autoInfoformControls.txtPlate.hasError('required')">Plate is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> State
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                        <div class="form-group" [class.error]="autoInfoformControls.state.touched && !autoInfoformControls.state.valid">
                            <select formControlName="state" type="text" class="form-control" placeholder="" [class.error]="autoInfoformControls.state.touched && !autoInfoformControls.state.valid">
                                <option value="">-Select State-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select>
                            <div class='error-list' *ngIf="autoInfoformControls.state.touched && !autoInfoformControls.state.valid">
                                <ul>
                                    <li *ngIf="autoInfoformControls.state.hasError('required')">State is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Make/Model And Year
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="autoInfoformControls.txtModelYear.touched && !autoInfoformControls.txtModelYear.valid">
                            <input type="text" formControlName="txtModelYear" [class.error]="!autoInfoformControls.txtModelYear.valid" class="form-control"
                                type="text" placeholder="" />
                            <div class='error-list' *ngIf="autoInfoformControls.txtModelYear.touched && !autoInfoformControls.txtModelYear.valid">
                                <ul>
                                    <li *ngIf="autoInfoformControls.txtModelYear.hasError('required')">Model Year is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Insurance Company
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                        <div class="form-group">
                            <!-- <select formControlName="insuranceCompany" type="text" class="form-control" placeholder="">
                                <option value="">-Select Insurance-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select> -->
                            <input type="text" formControlName="insuranceCompany" class="form-control" type="text" placeholder="" />

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Policy
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtPolicy" class="form-control" type="text" placeholder="" />

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label class="form-label"> Claim
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtClaim" class="form-control" type="text" placeholder="" />

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Where is the vehicle located?
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtVehicalLocated" class="form-control" type="text" placeholder="" />

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Description of damage to vehicle                                           
                                        </label>
                        <div class="form-group">
                            <!-- <input type="text" formControlName="txtPolicy" class="form-control" type="text" placeholder="" /> -->
                            <textarea rows="2" formControlName="txtVehicalDesc" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label class="form-label"> Does a relative residing in client's household own a vehicle?                         
                    </label>
                        <div class="form-group">
                            <p-radioButton formControlName="relativesVehicle" name="relativesVehicle" value="1" label="Yes" [(ngModel)]="relativesVehicle"></p-radioButton>
                            <p-radioButton formControlName="relativesVehicle" name="relativesVehicle" value="2" label="No" [(ngModel)]="relativesVehicle"></p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="relativesVehicle == '1'">
                    <div class="col-lg-3">
                        <label class="form-label">  Make/Model And Year                                          
                                        </label>
                        <div class="form-group">
                            <input formControlName="relModelYear" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label"> Name of Owner                                          
                                        </label>
                        <div class="form-group">
                            <input formControlName="relOwnerName" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label">  Insurance Company                                          
                                        </label>
                        <div class="form-group">
                            <input formControlName="relInsuranceCompany" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label">  Policy                                         
                                        </label>
                        <div class="form-group">
                            <input formControlName="relPolicy" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label">Do you need help in resolving the damage to your vehicle?
                                           
                                        </label>
                        <div class="form-group">
                            <p-radioButton formControlName="helpinDamageResolved" name="helpinDamageResolved" value="1" label="Yes" [(ngModel)]="helpinDamageResolved"></p-radioButton>
                            <p-radioButton formControlName="helpinDamageResolved" name="helpinDamageResolved" value="2" label="No" [(ngModel)]="helpinDamageResolved"></p-radioButton>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Is your vehicle drivable?
                                          
                                        </label>
                        <div class="form-group">
                            <p-radioButton formControlName="vehicleDrivable" name="vehicleDrivable" value="1" label="Yes" [(ngModel)]="vehicleDrivable"></p-radioButton>
                            <p-radioButton formControlName="vehicleDrivable" name="vehicleDrivable" value="2" label="No" [(ngModel)]="vehicleDrivable"></p-radioButton>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Estimated Damage
                                           
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtEstimatedDamage" class="form-control" type="text" placeholder="" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Do you have title to your vehicle?
                                           
                                        </label>
                        <div class="form-group">
                            <p-radioButton formControlName="titletoVehicle" name="titletoVehicle" value="1" label="Yes" [(ngModel)]="titletoVehicle"></p-radioButton>
                            <p-radioButton formControlName="titletoVehicle" name="titletoVehicle" value="2" label="No" [(ngModel)]="titletoVehicle"></p-radioButton>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card">
            <header class="card-header card-header-lg">
                Defendant's Vehicle
            </header>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label">Plate
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtDefendantPlate" class="form-control" type="text" placeholder="" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> State                                            
                                        </label>
                        <div class="form-group">
                            <select formControlName="defendantState" type="text" class="form-control" placeholder="">
                                <option value="">-Select State-</option>
                                <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Owner Name
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtDefendantOwnerName" class="form-control" type="text" placeholder="" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label"> Make/Model And Year
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtDefendantModelYear" class="form-control" type="text" placeholder="" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Operator Name
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtDefendantOperatorName" class="form-control" type="text" placeholder="" />
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <label class="form-label">  Insurance Company                                          
                                        </label>
                        <div class="form-group">
                            <input formControlName="defendantInsuranceCompany" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label">Policy                                         
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtDefendantPolicy" class="form-control" type="text" placeholder="" />

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label"> Claim                                         
                                        </label>
                        <div class="form-group">
                            <input type="text" formControlName="txtDefendantClaim" class="form-control" type="text" placeholder="" />

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button [disabled]="!autoInfoform.valid || isSaveProgress" type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
        <a [routerLink]="['/patient-manager/cases']" class="btn btn-secondary">Cancel</a>

    </form>
</div>