<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gbb type="text" class="form-control" style="float:left" placeholder="Search By Keywords">
</div>
</div>

<p-dataTable [value]="billing" [(selection)]="selectedBilling" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gbb" [responsive]="true">
    <header>Billing List</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="bill" header="Bill" [sortable]="true">

    </p-column>

    <p-column field="speciality" header="Speciality" [sortable]="true">

    </p-column>

    <p-column field="visitDate" header="Visit Date" [sortable]="true">
    </p-column>

    <p-column field="billDate" header="Bill Date" [sortable]="true">
    </p-column>

    <p-column field="billAmount" header="Bill Amount" [sortable]="true">
    </p-column>

    <p-column field="paid" header="Paid" [sortable]="true">
    </p-column>

    <p-column field="outstanding" header="Outstanding" [sortable]="true">
    </p-column>

    <p-column field="status" header="Status" [sortable]="true"></p-column>

    <p-column header="Actions">
        <ng-template let-billing="rowData" pTemplate="body">
            <a class="btn btn-primary btn-sm" (click)="postCheck()">
                <span class="hidden-md-down">Scan/OCR Check</span>
            </a>
        </ng-template>
    </p-column>
</p-dataTable>
<div class="row">
    <div class="col-lg-8 m-t-lg">
        <p-confirmDialog width="425"></p-confirmDialog>
        <a class="btn btn-primary btn-sm" (click)="postCheck()">
            <span class="hidden-md-down">Scan/OCR Check</span>
        </a>
        <a class="btn btn-success btn-sm" (click)="showVerificationDialog()"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Verification</span>
        </a>
        <a class="btn btn-danger btn-sm" (click)="showDenialDialog()">
            <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Denials</span>
        </a>
    </div>
</div>

<p-dialog header="Post Check" [minWidth]="600" [width]="1200" [(visible)]="postDialogVisible" [responsive]="true" showEffect="fade"
    [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">

    <form [formGroup]="postcheckform">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Check Amount</label><input type="number" class="form-control" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Check Number</label><input type="number" class="form-control" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Check Date</label>
                <div class="form-group">
                    <div class='input-group date'>
                        <p-calendar formControlName="date" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="1920:2050" showAnim="slideDown" [showIcon]="true" icon="font-icon font-icon-calend">
                        </p-calendar>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary btn-sm"><i aria-hidden="true"></i>
                <span class="hidden-md-down">Scan Check</span>
            </a>
            </div>
        </div>
    </form><br>

    <p-dataTable [value]="selectedBilling" [(selection)]="PrefferedBilling" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
        [globalFilter]="gbb" [responsive]="true">
        <header>Billing List</header>
        <p-column selectionMode="multiple"></p-column>
        <p-column field="bill" header="Bill" [sortable]="true"></p-column>

        <p-column field="visitDate" header="Visit Date" [sortable]="true">
        </p-column>

        <p-column field="balance" header="Balance" [sortable]="true">
        </p-column>

        <p-column field="principalAmount" header="Principal Amount" [sortable]="true">
            <ng-template let-post="rowData" pTemplate="body">
                <input type="number" class="form-control" />
            </ng-template>
        </p-column>

        <p-column field="interestAmount" header="Interest Amount" [sortable]="true">
            <ng-template let-post="rowData" pTemplate="body">
                <input type="number" class="form-control" />
            </ng-template>
        </p-column>

        <p-column field="paymentType" header="Payment Type" [sortable]="true">
            <ng-template let-post="rowData" pTemplate="body">
                <select type="text" class="form-control">
                       <option value="">-Select-</option>
                       <option value="1">Received Against a Bill</option>
                       <option value="2">Received as Interest</option>
                </select>
            </ng-template>
        </p-column>

        <p-column field="paidBy" header="Paid By" [sortable]="true">
            <ng-template let-post="rowData" pTemplate="body">
                <select type="text" class="form-control">
                       <option value="">-Select-</option>
                       <option value="1">Carrier</option>
                       <option value="2">Lawfirm</option>
                       <option value="3">Others</option>
                </select>
            </ng-template>
        </p-column>

        <p-column field="description" header="Description" [sortable]="true"></p-column>

    </p-dataTable>
    <br>

    <a class="btn btn-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add</span>
    </a>
    <a (click)="closePostDialogVisible()" class="btn btn-secondary btn-sm">Cancel</a>
</p-dialog>

<p-dialog header="Verification Received" [minWidth]="600" [width]="1200" [(visible)]="verificationDialogVisible" [responsive]="true"
    showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">

    <form [formGroup]="verificationform" (ngSubmit)="saveVerification()">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Verification Date
                                        </label>
                <div class="form-group">
                    <div class='input-group date'>
                        <p-calendar formControlName="dov" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="1920:2050" showAnim="slideDown" [showIcon]="true" icon="font-icon font-icon-calend">
                        </p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Description</label>
                <div class="form-group">
                    <textarea formControlName="verificationDescription" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
        <a [routerLink]="['../']" class="btn btn-secondary">Clear</a>
    </form><br>

    <p-dataTable [value]="selectedBilling" [(selection)]="PrefferedBilling" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
        [globalFilter]="gbb" [responsive]="true">
        <header>Billing List</header>
        <p-column selectionMode="multiple"></p-column>
        <p-column field="bill" header="Bill" [sortable]="true"></p-column>

        <p-column field="type" header="Type" [sortable]="true">
        </p-column>

        <p-column field="notes" header="Notes" [sortable]="true">
        </p-column>

        <p-column field="date" header="Date" [sortable]="true">
        </p-column>

        <p-column field="user" header="User" [sortable]="true">
        </p-column>

        <p-column field="billStatus" header="Bill Status" [sortable]="true">
        </p-column>

        <!--<p-column field="documents" header="Documents" [sortable]="true">-->
        <p-column header="Documents" [sortable]="true">
            <ng-template let-document="rowData" pTemplate="body">
                <a (click)="showVerficationUploadDialog()">
                    <u>{{document.documents}}</u>
                </a>
            </ng-template>
        </p-column>
        <!--</p-column>-->

    </p-dataTable>
    <p-dialog [minWidth]="600" [width]="1200" [(visible)]="verficationScanUploadDialogVisible" [responsive]="true" showEffect="fade"
        [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
        <div>
            <app-document-upload></app-document-upload>
        </div>
    </p-dialog>
</p-dialog>

<p-dialog header="Denials" [minWidth]="600" [width]="1200" [(visible)]="denialDialogVisible" [responsive]="true" showEffect="fade"
    [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">

    <form [formGroup]="denialform" (ngSubmit)="saveDenial()">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Denial Date
                                        </label>
                <div class="form-group">
                    <div class='input-group date'>
                        <p-calendar formControlName="dod" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="1920:2050" showAnim="slideDown" [showIcon]="true" icon="font-icon font-icon-calend">
                        </p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Description</label>
                <div class="form-group">
                    <textarea formControlName="description" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Reason</label>
                <div class="form-group">
                    <!--<select formControlName="denialReason" type="text" class="form-control" placeholder="" [class.error]="caseformControls.caseTypeId.touched && !caseformControls.caseTypeId.valid">-->
                    <select formControlName="denialReason" type="text" class="form-control" placeholder="" [class.error]="">
                            <option value="">-Select Reason -</option>
                            <option value="1">120 DAY RULE</option>
                            <option value="2">30 DAY RULE</option>
                            <option value="3">45 DAY RULE</option>
                            <option value="4">97026 NOT ALLOWED UNDER DOC'S SPECIALTY</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!--<label class="form-label">Denial Description</label>-->
                <div class="form-group">
                    <textarea formControlName="denialDescription" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
        <a [routerLink]="['../']" class="btn btn-secondary">Clear</a>
    </form><br>

    <p-dataTable [value]="selectedBilling" [(selection)]="PrefferedBilling" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
        [globalFilter]="gbb" [responsive]="true">
        <header>Billing List</header>
        <p-column selectionMode="multiple"></p-column>
        <p-column field="bill" header="Bill" [sortable]="true"></p-column>

        <p-column field="type" header="Type" [sortable]="true">
        </p-column>

        <p-column field="notes" header="Notes" [sortable]="true">
        </p-column>

        <p-column field="date" header="Date" [sortable]="true">
        </p-column>

        <p-column field="user" header="User" [sortable]="true">
        </p-column>

        <p-column field="reason" header="Reason" [sortable]="true">
        </p-column>

        <p-column header="Documents" [sortable]="true">
            <ng-template let-document="rowData" pTemplate="body">
                <a (click)="showDialog()">
                    <u>{{document.documents}}</u>
                </a>
            </ng-template>
        </p-column>

    </p-dataTable>
    <p-dialog [minWidth]="600" [width]="1200" [(visible)]="scanUploadDialogVisible" [responsive]="true" showEffect="fade" [modal]="false"
        [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
        <div>
            <app-document-upload></app-document-upload>
        </div>
    </p-dialog>
</p-dialog>