<h3 class="with-border">Upload Case Documents</h3>
<form>
    <!--<p-growl [value]="msgs"></p-growl>-->
    <p-fileUpload name="demo[]" url={{url}} (onUpload)="onUpload($event)" multiple="multiple"  maxFileSize="1000000">
    <!--<p-fileUpload name="demo[]" (onUpload)="onUpload($event)" multiple="multiple"
        maxFileSize="1000000">-->
        <ng-template pTemplate type="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</form>