<!--<h3 class="with-border">View Case</h3>-->
<div *ngIf="caseLabel">
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Patient Name
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseLabel.patient}}
                </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Case Type</label>
        <div class="form-group">
            <label class="form-label">{{caseLabel.caseTypeText}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Case Status
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseLabel.caseStatusText}}
                        </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Location
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseLabel.locationName}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Carrier Case Number
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseLabel.carrierCaseNo}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label">Attorney                              
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseLabel.companyName}}
                        </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Case Source
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseLabel.caseSource}}
                 </label>
        </div>
    </div>
</div>
</div>
