<!--<h3 class="with-border">View Case</h3>
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Patient Name
                            </label>
        <div class="form-group">
            <label class="form-label">{{patientName}}
                </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Case Type</label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.caseTypeId}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Case Status
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.caseStatusId}}
                        </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Location
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.locationId}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label"> Carrier Case Number
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.carrierCaseNo}}
                        </label>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="form-label">Attorney                              
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.attorneyId}}
                        </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label class="form-label"> Case Source
                            </label>
        <div class="form-group">
            <label class="form-label">{{caseDetail.caseSource}}
                 </label>
        </div>
    </div>
</div>-->
Hello Case read only