<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <h2 class="with-border">Add Case</h2>
            <form [formGroup]="caseform">
            <section class="card">
                    <header class="card-header card-header-lg">
                      Case
                    </header>
                    <div class="card-block">

                        <div class="row">
                               <div class="col-lg-4">
                                <label class="form-label">Case Name
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.caseName.touched && !caseformControls.caseName.valid">
                                    <input type="text" formControlName="caseName" [class.error]="!caseformControls.caseName.valid" class="form-control"
                                        type="text" placeholder="" />
                                    <div class='error-list' *ngIf="caseformControls.caseName.touched && !caseformControls.caseName.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.caseName.hasError('required')">Case Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         <div class="col-lg-4">
                                <label class="form-label"> Patient
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.patientId.touched && !caseformControls.patientId.valid">
                                    <select formControlName="patientId" type="text" class="form-control" placeholder="" [class.error]="caseformControls.patientId.touched && !caseformControls.patientId.valid">
                                        <option value="">-Select -</option>
                                    </select>
                                    <div class='error-list' *ngIf="caseformControls.patientId.touched && !caseformControls.patientId.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.patientId.hasError('required')">Patient is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                         <div class="col-lg-4">
                                <label class="form-label"> CaseType
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.caseTypeId.touched && !caseformControls.caseTypeId.valid">
                                    <select formControlName="caseTypeId" type="text" class="form-control" placeholder="" [class.error]="caseformControls.caseTypeId.touched && !caseformControls.caseTypeId.valid">
                                        <option value="">-Select -</option>
                                    </select>
                                    <div class='error-list' *ngIf="caseformControls.caseTypeId.touched && !caseformControls.caseTypeId.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.caseTypeId.hasError('required')">Case Type is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>

                        <div class="row">
                             <div class="col-lg-4">
                                <label class="form-label">Age
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.age.touched && !caseformControls.age.valid">
                                    <input type="number" formControlName="age" [class.error]="!caseformControls.age.valid" class="form-control"/>
                                       
                                    <div class='error-list' *ngIf="caseformControls.age.touched && !caseformControls.age.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.age.hasError('required')">Age required.</li>
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>

                            <div class="col-lg-4">
                                 <label class="form-label">Date of Injury
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.doi.touched && !caseformControls.doi.valid">
                                    <div class='input-group date'>
                                          <p-calendar formControlName="doi" 
                                                      dateFormat="M d, yy"
                                                      [maxDate]="maxDate" 
                                                      [monthNavigator]="true" 
                                                      [yearNavigator]="true" 
                                                      yearRange="1920:2050"
                                                      [class.error]="caseformControls.doi.touched && !caseformControls.doi.valid" 
                                                      placeholder="Date of Injury"
                                                      showAnim="slideDown"
                                                      [showIcon]="true"
                                                      icon="font-icon font-icon-calend">
                                          </p-calendar>
                                    </div>
                                    <div class='error-list' *ngIf="caseformControls.doi.touched && !caseformControls.doi.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.doi.hasError('required')">Date Of Injury is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        <div class="col-lg-4">
                        <label class="form-label">Date of Treatment
                                            <span class="color-red">*</span>
                                        </label>
                        <div class="form-group" [class.error]="caseformControls.dot.touched && !caseformControls.dot.valid">
                                    <div class='input-group date'>
                                          <p-calendar formControlName="dot" 
                                                      dateFormat="M d, yy"
                                                      [maxDate]="maxDate" 
                                                      [monthNavigator]="true" 
                                                      [yearNavigator]="true" 
                                                      yearRange="1920:2050"
                                                      [class.error]="caseformControls.dot.touched && !caseformControls.dot.valid" 
                                                      placeholder="Date of Treatment"
                                                      showAnim="slideDown"
                                                      [showIcon]="true"
                                                      icon="font-icon font-icon-calend">
                                          </p-calendar>
                                    </div>
                                    <div class='error-list' *ngIf="caseformControls.dot.touched && !caseformControls.dot.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.dot.hasError('required')">Date Of Treatment is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> Vehicle Number
                                     <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.vehicle.touched && !caseformControls.vehicle.valid">
                                    <input formControlName="vehicle" type="text" class="form-control" placeholder="" [class.error]="!caseformControls.vehicle.valid">
                                    <div class='error-list' *ngIf="caseformControls.vehicle.touched && !caseformControls.vehicle.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.vehicle.hasError('required')">Vehicle Number is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                           <div class="col-lg-4">
                                <label class="form-label"> Carrier Case Number
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.carrier.touched && !caseformControls.carrier.valid">
                                    <input formControlName="carrier" type="text" class="form-control" placeholder="" [class.error]="!caseformControls.carrier.valid">
                                    <div class='error-list' *ngIf="caseformControls.carrier.touched && !caseformControls.carrier.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.carrier.hasError('required')">Carrier Case Number is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> Location
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.location.touched && !caseformControls.location.valid">
                                    <select formControlName="location" type="text" class="form-control" placeholder="" [class.error]="caseformControls.location.touched && !caseformControls.location.valid">
                                        <option value="">-Select Location-</option>
                                    </select> 
                                    <div class='error-list' *ngIf="caseformControls.location.touched && !caseformControls.location.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.location.hasError('required')">Location is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>   
                        </div>

                        
                        <div class="row">
                               <!--<div class="col-lg-4">
                                <label class="form-label">Transportation
                                            <span class="color-red">*</span>
                                        </label>
                            <input type="checkbox" formControlName="transportation" name="transportation" value="transportation"> Transportation Available<br>
                            </div>-->

                            
                               <div class="col-lg-4">
                                <label class="form-label"> Transportation
                                    <span class="color-red">*</span>
                                </label>
                                <div class="form-group">
                                    <p-radioButton formControlName="transportation" name="transportation" value="1" label="Yes"></p-radioButton>
                                    <p-radioButton formControlName="transportation" name="transportation" value="0" label="No"></p-radioButton>
                                </div>
                            </div>
                            
                         <div class="col-lg-4">
                                <label class="form-label">Attorney
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.attorney.touched && !caseformControls.attorney.valid">
                                    <select formControlName="attorney" type="text" class="form-control" placeholder="" [class.error]="caseformControls.attorney.touched && !caseformControls.attorney.valid">
                                        <option value="">-Select -</option>
                                    </select>
                                    <div class='error-list' *ngIf="caseformControls.attorney.touched && !caseformControls.attorney.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.attorney.hasError('required')">Attorney is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                         <div class="col-lg-4">
                                <label class="form-label">Case Status
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.casestatus.touched && !caseformControls.casestatus.valid">
                                    <select formControlName="casestatus" type="text" class="form-control" placeholder="" [class.error]="caseformControls.casestatus.touched && !caseformControls.casestatus.valid">
                                        <option value="">-Select -</option>
                                    </select>
                                    <div class='error-list' *ngIf="caseformControls.casestatus.touched && !caseformControls.casestatus.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.casestatus.hasError('required')">Case Status is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>


                      
                    </div>
                </section>
             
               
                <section class="card">
                    <header class="card-header card-header-lg">
                        Contact Information
                    </header>
                     <div class="card-block">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> E-Mail
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.email.touched && !caseformControls.email.valid">
                                    <input type="email" formControlName="email" [class.error]="!caseformControls.email.valid" class="form-control"
                                        type="text" placeholder="" />
                                    <div class='error-list' *ngIf="caseformControls.email.touched && !caseformControls.email.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.email.hasError('required')">Email is required.</li>
                                            <li *ngIf="caseformControls.email.hasError('emailValidator')">Email is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> Cellphone
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.cellPhone.touched && !caseformControls.cellPhone.valid">
                                    <p-inputMask mask="999-999-9999" formControlName="cellPhone" [class.error]="caseformControls.cellPhone.touched && !caseformControls.cellPhone.valid"
                                        placeholder="999-999-9999" styleClass="form-control"></p-inputMask>
                                    <div class='error-list' *ngIf="caseformControls.cellPhone.touched && !caseformControls.cellPhone.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.cellPhone.hasError('required')">Cellphone number is required.</li>
                                            <li *ngIf="caseformControls.cellPhone.hasError('mobileNoValidator')">Cellphone number is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label"> Home Phone No</label>
                                    <input formControlName="homePhone" type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label"> Work Phone No</label>
                                    <input formControlName="workPhone" type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label"> Fax No</label>
                                    <p-inputMask mask="9-999-999 9999" formControlName="faxNo" placeholder="9-999-999 9999" styleClass="form-control"></p-inputMask>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="card">
                    <header class="card-header card-header-lg">
                       Address Information
                    </header>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> Address1
                                     <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.address.touched && !caseformControls.address.valid">
                                    <input formControlName="address" type="text" class="form-control" placeholder="" [class.error]="!caseformControls.address.valid">
                                    <div class='error-list' *ngIf="caseformControls.address.touched && !caseformControls.address.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.address.hasError('required')">Address is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                           <div class="col-lg-4">
                                <label class="form-label"> Address2
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.address2.touched && !caseformControls.address2.valid">
                                    <input formControlName="address2" type="text" class="form-control" placeholder="" [class.error]="!caseformControls.address2.valid">
                                    <div class='error-list' *ngIf="caseformControls.address2.touched && !caseformControls.address2.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.address2.hasError('required')">Address is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <label class="form-label"> State
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.state.touched && !caseformControls.state.valid">
                                    <select formControlName="state" type="text"  (change)="selectState($event)" class="form-control" placeholder="" [class.error]="caseformControls.state.touched && !caseformControls.state.valid">
                                        <option value="">-Select State-</option>
                                        <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                    </select> 
                                    <div class='error-list' *ngIf="caseformControls.state.touched && !caseformControls.state.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.state.hasError('required')">State is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>

                        <div class="row">
                           
                            <div class="col-lg-3">
                                <label class="form-label"> City
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.city.touched && !caseformControls.city.valid">
                                    <select formControlName="city" type="text" class="form-control" placeholder="" [class.error]="caseformControls.city.touched && !caseformControls.city.valid">
                                        <option value="">-Select City-</option>
                                        <option *ngFor="let city of cities" value="{{city.citytext}}">{{city.citytext}}</option>
                                    </select>
                                    <div class='error-list' *ngIf="caseformControls.city.touched && !caseformControls.city.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.city.hasError('required')">City is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 m-t-lg"><loader [visible]="isCitiesLoading"></loader></div>
                        
                            <div class="col-lg-4">
                                <label class="form-label"> Zip code
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.zipcode.touched && !caseformControls.zipcode.valid">
                                    <input formControlName="zipcode" type="text" class="form-control" placeholder="" [class.error]="!caseformControls.zipcode.valid">
                                    <div class='error-list' *ngIf="caseformControls.zipcode.touched && !caseformControls.zipcode.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.zipcode.hasError('required')">Zipcode is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          
                          <div class="col-lg-4">
                                <label class="form-label"> Country
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="caseformControls.country.touched && !caseformControls.country.valid">
                                    <input formControlName="country" type="text" class="form-control" placeholder="" [class.error]="!caseformControls.country.valid">
                                    <div class='error-list' *ngIf="caseformControls.country.touched && !caseformControls.country.valid">
                                        <ul>
                                            <li *ngIf="caseformControls.country.hasError('required')">Country is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </section>

       
            </form>
        </div>
    </div>
</div>