
<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <h2 class="with-border">Add Insurance</h2>
            <form [formGroup]="insuranceform">
            <section class="card">
                    <header class="card-header card-header-lg">
                      Insurance Information
                    </header>
                    <div class="card-block">

                        <div class="row">
                               <div class="col-lg-4">
                                <label class="form-label">Policy Number
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.policyNumber.touched && !insuranceformControls.policyNumber.valid">
                                    <input type="text" formControlName="policyNumber" [class.error]="!insuranceformControls.policyNumber.valid" class="form-control"
                                        type="text" placeholder="" />
                                    <div class='error-list' *ngIf="insuranceformControls.policyNumber.touched && !insuranceformControls.policyNumber.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.policyNumber.hasError('required')">Policy Number is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         <div class="col-lg-4">
                                <label class="form-label"> Patient
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.patientId.touched && !insuranceformControls.patientId.valid">
                                    <select formControlName="patientId" type="text" class="form-control" placeholder="" [class.error]="insuranceformControls.patientId.touched && !insuranceformControls.patientId.valid">
                                        <option value="">-Select -</option>
                                    </select>
                                    <div class='error-list' *ngIf="insuranceformControls.patientId.touched && !insuranceformControls.patientId.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.patientId.hasError('required')">Patient is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                         <div class="col-lg-4">
                                <label class="form-label"> Insurance
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.insuranceId.touched && !insuranceformControls.insuranceId.valid">
                                    <select formControlName="insuranceId" type="text" class="form-control" placeholder="" [class.error]="insuranceformControls.insuranceId.touched && !insuranceformControls.insuranceId.valid">
                                        <option value="">-Select -</option>
                                    </select>
                                    <div class='error-list' *ngIf="insuranceformControls.insuranceId.touched && !insuranceformControls.insuranceId.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.insuranceId.hasError('required')">Insurance is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                <label class="form-label">Policy Holder Name
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.policyHolderName.touched && !insuranceformControls.policyHolderName.valid">
                                    <input type="text" formControlName="policyHolderName" [class.error]="!insuranceformControls.policyHolderName.valid" class="form-control"
                                        type="text" placeholder="" />
                                    <div class='error-list' *ngIf="insuranceformControls.policyHolderName.touched && !insuranceformControls.policyHolderName.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.policyHolderName.hasError('required')">Policy Holder Name is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-lg-4 m-t-lg">
                             <div class="form-group" [class.error]="insuranceformControls.isPrimaryInsurance.touched && !insuranceformControls.isPrimaryInsurance.valid">
                            <input type="checkbox" formControlName="isPrimaryInsurance" name="isPrimaryInsurance"  [class.error]="!insuranceformControls.isPrimaryInsurance.valid" value="isPrimaryInsurance"> Is Primary Insurance Available <span class="color-red">*</span>
                               <div class='error-list' *ngIf="insuranceformControls.isPrimaryInsurance.touched && !insuranceformControls.isPrimaryInsurance.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.isPrimaryInsurance.hasError('required')">Primary Insurance required.</li>
                                        </ul>
                                    </div>
                            </div>
                            </div>-->
                            <div class="col-lg-4">
                                <label class="form-label"> Is Primary Insurance
                                    <span class="color-red">*</span>
                                </label>
                                <div class="form-group">
                                    <p-radioButton formControlName="isPrimaryInsurance" name="isPrimaryInsurance" value="1" label="Yes"></p-radioButton>
                                    <p-radioButton formControlName="isPrimaryInsurance" name="isPrimaryInsurance" value="0" label="No"></p-radioButton>
                                </div>
                            </div>
                            </div>
                    </div>
                </section>
             
               
                <section class="card">
                    <header class="card-header card-header-lg">
                        Contact Information
                    </header>
                     <div class="card-block">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> E-Mail
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.email.touched && !insuranceformControls.email.valid">
                                    <input type="email" formControlName="email" [class.error]="!insuranceformControls.email.valid" class="form-control"
                                        type="text" placeholder="" />
                                    <div class='error-list' *ngIf="insuranceformControls.email.touched && !insuranceformControls.email.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.email.hasError('required')">Email is required.</li>
                                            <li *ngIf="insuranceformControls.email.hasError('emailValidator')">Email is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label"> Cellphone
                                            <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.cellPhone.touched && !insuranceformControls.cellPhone.valid">
                                    <p-inputMask mask="999-999-9999" formControlName="cellPhone" [class.error]="insuranceformControls.cellPhone.touched && !insuranceformControls.cellPhone.valid"
                                        placeholder="999-999-9999" styleClass="form-control"></p-inputMask>
                                    <div class='error-list' *ngIf="insuranceformControls.cellPhone.touched && !insuranceformControls.cellPhone.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.cellPhone.hasError('required')">Cellphone number is required.</li>
                                            <li *ngIf="insuranceformControls.cellPhone.hasError('mobileNoValidator')">Cellphone number is invalid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label"> Home Phone No</label>
                                    <input formControlName="homePhone" type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label"> Work Phone No</label>
                                    <input formControlName="workPhone" type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label"> Fax No</label>
                                    <p-inputMask mask="9-999-999 9999" formControlName="faxNo" placeholder="9-999-999 9999" styleClass="form-control"></p-inputMask>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="card">
                    <header class="card-header card-header-lg">
                       Address Information
                    </header>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="form-label"> Address1
                                     <span class="color-red">*</span>
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.address.touched && !insuranceformControls.address.valid">
                                    <input formControlName="address" type="text" class="form-control" placeholder="" [class.error]="!insuranceformControls.address.valid">
                                    <div class='error-list' *ngIf="insuranceformControls.address.touched && !insuranceformControls.address.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.address.hasError('required')">Address is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                           <div class="col-lg-4">
                                <label class="form-label"> Address2
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.address2.touched && !insuranceformControls.address2.valid">
                                    <input formControlName="address2" type="text" class="form-control" placeholder="" [class.error]="!insuranceformControls.address2.valid">
                                    <div class='error-list' *ngIf="insuranceformControls.address2.touched && !insuranceformControls.address2.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.address2.hasError('required')">Address is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <label class="form-label"> State
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.state.touched && !insuranceformControls.state.valid">
                                    <select formControlName="state" type="text"  (change)="selectState($event)" class="form-control" placeholder="" [class.error]="insuranceformControls.state.touched && !insuranceformControls.state.valid">
                                        <option value="">-Select State-</option>
                                        <option *ngFor="let state of states" value="{{state.statetext}}">{{state.statetext}}</option>
                                    </select> 
                                    <div class='error-list' *ngIf="insuranceformControls.state.touched && !insuranceformControls.state.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.state.hasError('required')">State is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>

                        <div class="row">
                           
                            <div class="col-lg-3">
                                <label class="form-label"> City
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.city.touched && !insuranceformControls.city.valid">
                                    <select formControlName="city" type="text" class="form-control" placeholder="" [class.error]="insuranceformControls.city.touched && !insuranceformControls.city.valid">
                                        <option value="">-Select City-</option>
                                        <option *ngFor="let city of cities" value="{{city.citytext}}">{{city.citytext}}</option>
                                    </select>
                                    <div class='error-list' *ngIf="insuranceformControls.city.touched && !insuranceformControls.city.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.city.hasError('required')">City is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 m-t-lg"><loader [visible]="isCitiesLoading"></loader></div>
                        
                            <div class="col-lg-4">
                                <label class="form-label"> Zip code
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.zipcode.touched && !insuranceformControls.zipcode.valid">
                                    <input formControlName="zipcode" type="text" class="form-control" placeholder="" [class.error]="!insuranceformControls.zipcode.valid">
                                    <div class='error-list' *ngIf="insuranceformControls.zipcode.touched && !insuranceformControls.zipcode.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.zipcode.hasError('required')">Zipcode is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          
                          <div class="col-lg-4">
                                <label class="form-label"> Country
                                            <!--<span class="color-red">*</span>-->
                                        </label>
                                <div class="form-group" [class.error]="insuranceformControls.country.touched && !insuranceformControls.country.valid">
                                    <input formControlName="country" type="text" class="form-control" placeholder="" [class.error]="!insuranceformControls.country.valid">
                                    <div class='error-list' *ngIf="insuranceformControls.country.touched && !insuranceformControls.country.valid">
                                        <ul>
                                            <li *ngIf="insuranceformControls.country.hasError('required')">Country is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </section>

       
            </form>
        </div>
    </div>
</div>

