<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gbb type="text" class="form-control" style="float:left" placeholder="Search By Text">
</div>
</div>

<p-dataTable [value]="payment" [(selection)]="selectedPayment" [rows]="10" [paginator]="true" [pageLinks]="2" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gbb" [responsive]="true">
    <header>Payment</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="billNumber" header="Bill Number" [sortable]="true">

    </p-column>

    <p-column field="checkNumber" header="Check Number" [sortable]="true">
    </p-column>


    <p-column field="postedDate" header="Posted Date" [sortable]="true">
    </p-column>

    <p-column field="checkDate" header="Check Date" [sortable]="true">
    </p-column>

    <p-column field="checkAmount" header="Check Amount" [sortable]="true"></p-column>
    <p-column field="paymentType" header="Payment Type" [sortable]="true"></p-column>
    <p-column field="interest" header="Interest" [sortable]="true"></p-column>
    <p-column field="description" header="Description" [sortable]="true"></p-column>
    <p-column header="Check" [sortable]="true">
        <ng-template let-check="rowData" pTemplate="body">
            <a (click)="showDialog()">
                <u>{{check.checks}}</u>
            </a>
        </ng-template>
    </p-column>
    <p-column field="view" header="View" [sortable]="true"></p-column>
    <p-column header="Denial" [sortable]="true">
        <ng-template let-denial="rowData" pTemplate="body">
            <a (click)="showDenialDialog()">
                <u>{{denial.denials}}</u>
            </a>
        </ng-template>
    </p-column>
    <p-column field="verification" header="Verification" [sortable]="true">
        <ng-template let-verification="rowData" pTemplate="body">
            <a (click)="showVerificationDialog()">
                <u>{{verification.verifications}}</u>
            </a>
        </ng-template>
    </p-column>
    <!--<p-column field="delete" header="Delete" [sortable]="true"></p-column>-->
    <!--<p-column styleClass="actions-cell" header="Actions">
        <ng-template let-payment="rowData" pTemplate="body">
            <a routerLink=""><i class="glyphicon glyphicon-edit"></i></a>
        </ng-template>
    </p-column>-->
</p-dataTable>
<p-dialog [minWidth]="600" [width]="1200" [(visible)]="scanUploadDialogVisible" [responsive]="true" showEffect="fade" [modal]="false"
    [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
    <div>
        <app-document-upload></app-document-upload>
    </div>
</p-dialog>


<p-dialog header="Denials" [minWidth]="600" [width]="1200" [(visible)]="denialDialogVisible" [responsive]="true" showEffect="fade"
    [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">

    <form [formGroup]="denialform" (ngSubmit)="saveDenial()">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Denial Date
                                        </label>
                <div class="form-group">
                    <div class='input-group date'>
                        <p-calendar formControlName="dod" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="1920:2050" showAnim="slideDown" [showIcon]="true" icon="font-icon font-icon-calend">
                        </p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Description</label>
                <div class="form-group">
                    <textarea formControlName="description" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Reason</label>
                <div class="form-group">
                    <!--<select formControlName="denialReason" type="text" class="form-control" placeholder="" [class.error]="caseformControls.caseTypeId.touched && !caseformControls.caseTypeId.valid">-->
                    <select formControlName="denialReason" type="text" class="form-control" placeholder="" [class.error]="">
                            <option value="">-Select Reason -</option>
                            <option value="1">120 DAY RULE</option>
                            <option value="2">30 DAY RULE</option>
                            <option value="3">45 DAY RULE</option>
                            <option value="4">97026 NOT ALLOWED UNDER DOC'S SPECIALTY</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!--<label class="form-label">Denial Description</label>-->
                <div class="form-group">
                    <textarea formControlName="denialDescription" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
        <a [routerLink]="['../']" class="btn btn-secondary">Clear</a>
    </form><br>

    <p-dataTable [value]="payment" [(selection)]="PrefferedBilling" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
        [globalFilter]="gbb" [responsive]="true">
        <header>Billing List</header>
        <p-column selectionMode="multiple"></p-column>
        <p-column field="bill" header="Bill" [sortable]="true"></p-column>

        <p-column field="type" header="Type" [sortable]="true">
        </p-column>

        <p-column field="notes" header="Notes" [sortable]="true">
        </p-column>

        <p-column field="date" header="Date" [sortable]="true">
        </p-column>

        <p-column field="user" header="User" [sortable]="true">
        </p-column>

        <p-column field="reason" header="Reason" [sortable]="true">
        </p-column>

        <p-column header="Documents" [sortable]="true">
            <ng-template let-document="rowData" pTemplate="body">
                <a (click)="showDenialUploadDialog()">
                    <u>{{document.documents}}</u>
                </a>
            </ng-template>
        </p-column>

    </p-dataTable>
    <p-dialog [minWidth]="600" [width]="1200" [(visible)]="denialScanUploadDialogVisible" [responsive]="true" showEffect="fade"
        [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
        <div>
            <app-document-upload></app-document-upload>
        </div>
    </p-dialog>
</p-dialog>

<p-dialog header="Verification Received" [minWidth]="600" [width]="1200" [(visible)]="verificationDialogVisible" [responsive]="true"
    showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">

    <form [formGroup]="verificationform" (ngSubmit)="saveVerification()">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Verification Date
                                        </label>
                <div class="form-group">
                    <div class='input-group date'>
                        <p-calendar formControlName="dov" [readonlyInput]="true" dateFormat="M d, yy" [maxDate]="maxDate" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="1920:2050" showAnim="slideDown" [showIcon]="true" icon="font-icon font-icon-calend">
                        </p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Description</label>
                <div class="form-group">
                    <textarea formControlName="verificationDescription" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success sign-up">Save
                    <loader [visible]="isSaveProgress"></loader>
                </button>
        <a [routerLink]="['../']" class="btn btn-secondary">Clear</a>
    </form><br>

    <p-dataTable [value]="payment" [(selection)]="PrefferedBilling" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
        [globalFilter]="gbb" [responsive]="true">
        <header>Billing List</header>
        <p-column selectionMode="multiple"></p-column>
        <p-column field="bill" header="Bill" [sortable]="true"></p-column>

        <p-column field="type" header="Type" [sortable]="true">
        </p-column>

        <p-column field="notes" header="Notes" [sortable]="true">
        </p-column>

        <p-column field="date" header="Date" [sortable]="true">
        </p-column>

        <p-column field="user" header="User" [sortable]="true">
        </p-column>

        <p-column field="billStatus" header="Bill Status" [sortable]="true">
        </p-column>

        <!--<p-column field="documents" header="Documents" [sortable]="true">-->
        <p-column header="Documents" [sortable]="true">
            <ng-template let-document="rowData" pTemplate="body">
                <a (click)="showVerficationUploadDialog()">
                    <u>{{document.documents}}</u>
                </a>
            </ng-template>
        </p-column>
        <!--</p-column>-->

    </p-dataTable>
    <p-dialog [minWidth]="600" [width]="1200" [(visible)]="verficationScanUploadDialogVisible" [responsive]="true" showEffect="fade"
        [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'500px'}">
        <div>
            <app-document-upload></app-document-upload>
        </div>
    </p-dialog>
</p-dialog>