<div class="input-group">
    <h3 class="with-border">Referrals
        <a class="pull-right btn btn-danger btn-sm" (click)="deleteReferral()">
            <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Selected Referral</span>
            <loader [visible]="isDeleteProgress"></loader>
        </a>
        <a class="pull-right btn-inline btn btn-primary btn-sm" [routerLink]="['add']"><i class="fa fa-plus" aria-hidden="true"></i>
      <span class="hidden-md-down">Add Referral</span>
    </a>
    </h3>
</div>
<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gb type="text" class="form-control" style="float:left" placeholder="Search Referral">
    </div>
</div>
<!--<p-dataTable [value]="referrals" [(selection)]="selectedReferrals" [rows]="10" [rows]="10" [paginator]="true" 
            [totalRecords]="totalRecords" (onLazyLoad)="loadRefferalsLazy($event)" [globalFilter]="gb" [responsive]="true">-->
<p-dataTable [value]="referredDoctors" [(selection)]="selectedReferrals" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gb" [responsive]="true">
    <header>Referrals List</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="user.displayName" header="Doctor Name" [sortable]="true"></p-column>
    <p-column field="doctorSpecialities" header="Speciality" [sortable]="true">
        <ng-template let-currentDoctor="rowData" pTemplate="body">
            <!--<span *ngFor="let speciality of currentReferral.referredToDoctor.doctorSpecialities">{{speciality.specialty.specialityCode}}</span>-->
            {{getCurrentDoctorSpeciality(currentDoctor)}}
        </ng-template>
    </p-column>
</p-dataTable>
<!--<p-dataTable [value]="referrals" [(selection)]="selectedReferrals" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gb" [responsive]="true">
    <header>Referrals List</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="referredToDoctor.user.displayName" header="Doctor Name" [sortable]="true"></p-column>
    <p-column field="referredToDoctor.doctorSpecialities" header="Speciality" [sortable]="true">
        <ng-template let-currentReferral="rowData" pTemplate="body">
            {{getCurrentDoctorSpeciality(currentReferral)}}
        </ng-template>
    </p-column>
</p-dataTable>-->
<br>
<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gbRoom type="text" class="form-control" style="float:left" placeholder="Search Room">
    </div>
</div>
<p-dataTable [value]="refferedRooms" [rows]="10" [paginator]="true" [globalFilter]="gbRoom" [responsive]="true"
   >
    <p-column selectionMode="multiple"></p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="phone" header="Phone" [sortable]="true"></p-column>
</p-dataTable>