<p-confirmDialog width="425"></p-confirmDialog>
<div class="input-group" *ngIf="caseStatusId === 1">
    <h3 class="with-border">{{patientName}} Visits
        <a class="pull-right btn btn-danger btn-sm" (click)="deletePatientVisits()">
            <i class="fa fa-trash-o fa-1x"></i><span class="hidden-md-down"> Delete Selected Visits</span>
            <loader [visible]="isDeleteProgress"></loader>
        </a>
    </h3>
</div>
<div class="ui-widget-header row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input #gb type="text" class="form-control" style="float:left" placeholder="Search Rooms Visits">
</div>
</div>
<p-dataTable [value]="roomsVisits" [(selection)]="selectedRoomsVisits" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]"
    [globalFilter]="gb" [responsive]="true">
    <header>Patient Rooms Visits List</header>
    <p-column selectionMode="multiple"></p-column>
    <p-column field="eventStart" header="Visit Date" [sortable]="true">
        <ng-template let-visit="rowData" pTemplate="body">
        <a (click)="showDialog(visit.id)">
            {{visit.eventStart | dateTimeFormat}}
        </a>
        </ng-template>
    </p-column>

    <p-column field="room.name" header="Testing Room" [sortable]="true">
        <ng-template let-visit="rowData" pTemplate="body">
            {{visit.room.name}}
        </ng-template>
    </p-column>

    <p-column field="visitStatusLabel" header="Status" [sortable]="true"></p-column>


    <!--<p-column field="room.name" header="Billing Status" [sortable]="true">
        <ng-template let-visit="rowData" pTemplate="body">
        </ng-template>
    </p-column>-->


    <p-column styleClass="actions-cell" header="Actions">
        <ng-template let-visit="rowData" pTemplate="body">
            <!--<a routerLink="{{visit.id}}/visit-note"><i class="glyphicon glyphicon-edit"></i></a>-->
            <a (click)="showDialog(visit.id)"><i class="glyphicon glyphicon-edit"></i></a>
        </ng-template>
    </p-column>
</p-dataTable><br>
<button type="submit" class="btn btn-success sign-up btn-sm" (click)="bill()">Create Bill</button>

<p-dialog [minWidth]="600" [width]="1200" (onAfterHide)="handleVisitDialogHide()" header="{{visitInfo}}" [(visible)]="visitDialogVisible"
    [responsive]="true" showEffect="fade" [modal]="false" [style]="{'overflow':'visible'}" [contentStyle]="{'overflow':'auto', 'max-height':'400px'}">
    <div *ngIf="selectedVisit && visitDialogVisible">
        <app-visit-detail [selectedVisit]="selectedVisit" [routeFrom]="2" (closeDialog)="closePatientVisitDialog($event)"></app-visit-detail>
    </div>
</p-dialog>